<div class="sidebar-header">
  <a class="btn sidebar-header-nav-btn" ui-sref="projects.edit.scenes">
    <i class="icon-arrow-left"></i>
  </a>
  <h5 class="sidebar-title">Explorar escenas</h5>
  <div class="header-controls">
    <button class="btn btn-default btn-small"
            type="button"
            ng-click="$ctrl.toggleFilterPane()">
      Filtros<span feature-flag="external-source-browse">/Repositorio</span>
    </button>
  </div>
</div>
<div class="list-group" ng-if="!$ctrl.fetchingScenes">
  <div class="list-group-item no-border"
       ng-if="$ctrl.$parent.project.isAOIProject && $ctrl.$parent.pendingSceneList.length"
  >
    <div class="alert alert-secondary">
      <div class="alert-message">{{$ctrl.$parent.pendingSceneList.length}} escenas esperando aprobación</div>
      <button class="alert-action" ui-sref="projects.edit.aoi-approve">Revisar escenas</button>
    </div>
  </div>
  <div class="list-group-item"
       ng-if="$ctrl.currentRepository && !$ctrl.currentRepository.service.defaultRepository"
  >
    <div class="alert alert-default">
      <div class="alert-message">Las escenas agregadas de este repositorio también aparecerán en tus importaciones</div>
    </div>
  </div>
  <div class="list-group-item" ng-if="$ctrl.sceneCount !== '0'">
    <strong class="color-dark">
      1 - {{$ctrl.sceneList.length}} de {{$ctrl.sceneCount}} escenas
    </strong>
    <div class="list-group-right">
      <button class="btn btn-tiny"
              ng-click="$ctrl.addVisibleScenesToProject()"
      >Añadir todas las escenas mostradas</button>
    </div>
  </div>
  <div class="list-group-item" ng-if="$ctrl.fetchError">
    <strong class="color-danger">
      Ocurrió un error al cargar las escenas
    </strong>
    <button type="button" class="btn btn-secondary"
            ng-click="$ctrl.fetchNextScenes()">
      Try again <i icon="icon-refresh"></i>
    </button>
  </div>
</div>
<div class="list-group" ng-if="$ctrl.fetchingScenes">
  <div class="list-group-item">
    <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetchingScenes}"
       ng-show="$ctrl.fetchingScenes"></i>
    <strong class="color-dark">
      Cargando escenas...
    </strong>
  </div>
</div>
<div class="list-group"
     ng-if="$ctrl.sceneList && $ctrl.sceneList.length === 0 && !$ctrl.fetchingScenes && !$ctrl.fetchError">
  <div class="list-group-item">
    <strong class="color-dark">
      No hay escenas para este filtro
    </strong>
  </div>
</div>
<div class="sidebar-scrollable list-group" ng-if="$ctrl.sceneList.length">
  <rf-scene-item
      previewable
      scene="scene"
      repository="$ctrl.currentRepository"
      ng-mouseenter="$ctrl.setHoveredScene(scene)"
      ng-mouseleave="$ctrl.removeHoveredScene()"
      ng-repeat="scene in $ctrl.sceneList track by scene.id"
  >
    <div class="scene-item-lock"
         tooltips
         tooltip-template="Estas imágenes requieren accessos adicionales {{$ctrl.currentRepository.service.permissionSource}}."
         tooltip-size="small"
         tooltip-class="rf-tooltip"
         tooltip-side="left"
         ng-if="!$ctrl.hasDownloadPermission(scene)"
    >
      <span class="icon-locked"></span>
    </div>
    <button class="btn-tiny btn"
            ng-if="!$ctrl.isInProject(scene) && !$ctrl.scenesBeingAdded.includes(scene.id) && $ctrl.hasDownloadPermission(scene)"
            ng-click="$ctrl.addSceneToProject(scene)"
    >
      <i class="icon-plus"></i>
    </button>
    <div ng-if="$ctrl.isInProject(scene)">
      <i class="icon-check h4 color-primary"></i>
    </div>
    <div ng-if="!$ctrl.isInProject(scene) && $ctrl.scenesBeingAdded.includes(scene.id)">
      <i class="icon-load animate-spin h4 color-primary"></i>
    </div>
  </rf-scene-item>
  <img ng-attr-src="{{$ctrl.base64Uri}}">
  <div class="sidebar-content">
    <button class="btn btn-block btn-secondary"
            ng-show="$ctrl.sceneList.length"
            ng-disabled="!$ctrl.hasNext || $ctrl.fetchingScenes"
            ng-click="$ctrl.fetchNextScenes()">
      Cargar más escenas
      <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetchingScenes}"
         ng-show="$ctrl.fetchingScenes"></i>
    </button>
  </div>
</div>
<div class="sidebar sidebar-extended sidebar-dark"
     ng-show="$ctrl.showFilterPane">
  <rf-scene-filter-pane
    data-opened="$ctrl.showFilterPane"
    data-repositories="$ctrl.repositories"
    on-repository-change="$ctrl.onRepositoryChange(fetchScenes, repository)"
  ></rf-scene-filter-pane>
</div>
