<div class="modal-header">
  <button
    type="button"
    class="close"
    aria-label="Cerrar"
    ng-click="$ctrl.dismiss()"
  >
    <i aria-hidden="true" class="icon-cross">
      <span class="sr-only">Cerrar</span>
    </i>
  </button>
  <h4 class="modal-title">{{ $ctrl.resolve.content.title }}</h4>
  <p>for <strong>{{$ctrl.resolve.content.nodeName}}</strong> node</p>
</div>
<div class="modal-body">
  <div class="modal-action-bar">
    <label for="">Buscar proyectos</label>
    <rf-search
      on-search="$ctrl.fetchPage(1, value)"
      value="$ctrl.search"
      placeholder="Buscar proyectos"
      auto-focus="true"
    ></rf-search>
    <select
      class="form-control inline"
      ng-model="$ctrl.currentOwnershipFilter"
      ng-change="$ctrl.handleOwnershipFilterChange()"
    >
      <option value="owned">Mis proyectos</option>
      <option value="shared">Compartidos conmigo</option>
    </select>
  </div>
  <div class="modal-inner-container fixed-height">
    <div class="row">
      <div class="column-4 flex-display" ng-repeat="project in $ctrl.results">
        <rf-project-item
          project="project"
          slim="true"
          class="panel panel-off-white project-item"
          ng-click="$ctrl.setSelected(project)"
        >
        </rf-project-item>
      </div>
    </div>
    <div class="list-group">
      <span class="list-placeholder" ng-show="$ctrl.currentQuery">
        <i
          class="icon-load animate-spin"
          ng-class="{'stop': !$ctrl.currentQuery}"
        ></i>
      </span>
      <span
        class="list-placeholder"
        ng-if="!$ctrl.currentQuery && !$ctrl.results.length && !$ctrl.search"
      >
        No has creado ningún proyecto.
      </span>
      <span
        class="list-placeholder"
        ng-if="!$ctrl.currentQuery && !$ctrl.results.length && $ctrl.search"
      >
        No se encontraron proyectos con:
        <strong>{{ $ctrl.search }}</strong>
      </span>
    </div>
  </div>
  <div class="modal-inner-container compact">
    <div class="row no-margin align-justify columns-center">
      <rf-pagination-count
        start-index="$ctrl.pagination.startingItem"
        end-index="$ctrl.pagination.endingItem"
        total="$ctrl.pagination.count"
        item-name="projects"
        ng-if="!$ctrl.currentQuery && $ctrl.pagination.count"
      >
        <span ng-if="$ctrl.search"
          >al buscar <strong>{{ $ctrl.search }}</strong></span
        >
      </rf-pagination-count>
      <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(value)"
        ng-show="!$ctrl.currentQuery && !ctrl.fetchError"
      ></rf-pagination-controls>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="footer-section left">
    <button type="button" class="btn" ng-click="$ctrl.dismiss()">Cerrar</button>
  </div>
  <div class="footer-section right"></div>
</div>
