<div class="input-node-item">
  <div class="input-node-label">Value</div>
  <div class="input-data form-group all-in-one">
    <input type="number"
           step="any"
           class="form-control"
           ng-model="$ctrl.value"
           ng-change="$ctrl.onValueChange()"
           placeholder="Enter a value">
    <button type="button" class="btn btn-flat" ng-click="$ctrl.resetValue()">Restablecer</button>
  </div>
</div>
