<div class="node-header">
  <div class="node-header-colorblock "
       ng-class="{'node-type-input': $ctrl.node.type === 'projectSrc',
                  'node-type-function': $ctrl.node.apply,
                  'node-type-constant': $ctrl.node.type === 'const'}">
  </div>
  <div class="node-dropdown"
       ng-if="false"
       ng-class="{'no-outline': $ctrl.showMenu}"
       ng-click="$ctrl.toggleMenu($event)">
    <div class="node-dropdown-icon"></div>
    <div class="node-dropdown-menu" ng-show="$ctrl.showMenu">
      <ul>
        <span ng-repeat="menuItem in $ctrl.menuItems">
          <li ng-if="menuItem.type !== 'divider'"
              ng-click="menuItem.callback($event, $ctrl.model)">
              {{menuItem.label}}
          </li>
          <li ng-if="menuItem.type === 'divider'" class="divider"></li>
        </span>
      </ul>
    </div>
  </div>
  <div class="node-header-text">
    <div class="node-header-type">
      <!-- <span class="icon-info"
            ng-if="$ctrl.node.apply"></span> -->
      {{$ctrl.typeMap[$ctrl.node.type] || 'Operación'}}
    </div>
    <div class="node-header-name-container">
      <span ng-if="!$ctrl.isEditingNodeLabel">
        <span class="node-header-label">{{$ctrl.node.metadata.label}}</span>
        <button class="btn node-button node-header-edit"
                type="button"
                ng-click="$ctrl.toggleNodeLabelEdit()">
          <span class="icon-pencil"></span>
        </button>
      </span>
      <span ng-if="$ctrl.isEditingNodeLabel">
        <form class="inline-form" ng-submit="$ctrl.finishNodelabelEdit()">
          <div class="form-group all-in-one node-header-edit-group">
            <input id="name"
                   type="text"
                   class="form-control"
                   placeholder="Editar nombre del análisis"
                   ng-model="$ctrl.nameBuffer"
                   ng-init="$ctrl.nameBuffer = $ctrl.node.metadata.label"
                   ng-attr-autofocus="{{$ctrl.isEditingNodeLabel || undefined }}">
            <button class="btn btn-link flex-last node-header-eidt-group">
              <span class="sr-only">Guardar</span>
              <span class="icon-save node-label-name"</span>
            </button>
            <button type="button" class="btn btn-link node-header-eidt-group" ng-click="$ctrl.toggleNodeLabelEdit()">
              <span class="sr-only">Cancelar</span>
              <span class="icon-cancel node-label-name"></span>
            </button>
          </div>
        </form>
      </span>
    </div>
  </div>
  <div class="node-status" ng-attr-title="{{$ctrl.analysisErrors.get($ctrl.nodeId)}}">
    <span class="icon-warning color-warning"
          ng-if="$ctrl.analysisErrors.has($ctrl.nodeId) && !$ctrl.readonly">
  </div>
</div>
