<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <h4 class="modal-title">
      Reclasificar
    </h4>
    <p class="modal-subtitle">Determina cómo los valores serán reclasificados</p>
    <h5>Valores antiguos:</h5>
    <p>Los valores del raster de entrada a ser reclasificados.</p>
    <h5>Valores nuevos:</h5>
    <p>El valor resultanto en el raster de salida para un valor de entrada o rango de valores de entrada</p>
  </div>
  <div class="modal-body">
    <div class="classification-data">
      <div class="classification-options">
        <div class="classification-opt">
          <span class="classification-opt-label">
            Método de clasificación:
          </span>
          <button type="button" class="btn"
                  ng-click="$ctrl.equalInterval()">
            Intervalos iguales:
          </button>
        </div>
        <div class="classification-opt">
          <label class="classification-opt-label">Clases:</label>
          <input type="number"
                 id="class-opt-class-count"
                 ng-model="$ctrl.classCount"
                 min="1"
                 ng-min="1"
                 ng-model-options="{debounce: 500, getterSetter: true}">
        </div>
      </div>

      <rf-reclassify-table
        classifications="$ctrl.breaks"
        on-classifications-change="$ctrl.updateBreaks(breakpoints)"
        on-breaks-change="$ctrl.updateBreaks(breakpoints)"
        on-no-gaps-overlaps-change="$ctrl.noGapsOverlaps = noGapsOverlaps"
        on-all-entries-valid-change="$ctrl.allEntriesValid = allEntriesValid" ></rf-reclassify-table>
    </div>
    <div class="classification-histogram">
      <div class="node-data-placeholder" ng-if="!$ctrl.histogram && !$ctrl.histogram.loading">
          <span class="icon icon-warning color-warning"></span>
          <div class="message">Rellena todos los campos de entrada y aplica los cambios para ver el histograma</div>
      </div>
      <rf-reclassify-histogram
        ng-if="$ctrl.histogram && $ctrl.histogram.data"
        classifications="$ctrl.breaks"
        histogram="$ctrl.histogram.data"
        on-breakpoint-change="$ctrl.updateBreaks(breakpoints)">
      </rf-reclassify-histogram>
    </div>
  </div>
  <div class="modal-footer">
    <div class="bg-warning color-dark invalid-range-warning" ng-show="!$ctrl.noGapsOverlaps">
      Tu clasificación tiene vacíos o rangos solapados.
    </div>
    <button type="button" class="btn btn-secondary"
            ng-click="$ctrl.dismiss()">
      Cancelar
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.closeAndUpdate()">
      Actualizar
    </button>
  </div>
</div>
