<div class="navbar secondary-navbar">
  <div class="container dashboard">
    <div class="navbar-section primary">
      <nav>
        <a ui-sref="imports.rasters"
           ui-sref-active="active">
          Raster
        </a>
        <a ui-sref="imports.vectors"
           ui-sref-active="active">
          Vector
        </a>
        <a ui-sref="imports.datasources.list"
	   style="display: none;"
           ng-class="{
             active: ('imports.datasources.list' | includedByState) ||
                    ('imports.datasources.detail' | includedByState)
             }">
          Fuentes de datos
        </a>
      </nav>
    </div>
  </div>
</div>
<ui-view>
</ui-view>
