<div class="text-center color-danger" ng-show="!$ctrl.isValid">El esquema de colores no es válido</div>
<ul class="color-scheme-list">
    <li class="color-scheme-item" ng-repeat="item in $ctrl.buffer">
        <input class="color-scheme-break form-control slim" type="number" ng-model="item.break" ng-change="$ctrl.onBufferChanged()">
        <div class="flex-fill"></div>
        <div class="color-scheme-color-container">
          <div colorpicker
               colorpicker-close-on-select
               class="color-scheme-color-swatch"
               ng-style="$ctrl.colorToBackground(item.color)"
               ng-model="item.color"
               ng-change="$ctrl.onBufferChanged()">
          </div>
          <input class="color-scheme-color-value" ng-model="item.color" ng-change="$ctrl.onBufferChanged()">
          <div class="controls">
              <button ng-click="$ctrl.onColorRemove($index)" ng-disabled="!$ctrl.shouldAllowDelete()"><i class="icon-trash"></i></button>
              <button ng-click="$ctrl.onColorAdd($index, item.break)" ng-disabled="!$ctrl.isNextNumberAvailable(item.break)"><i class="icon-plus"></i></button>
              <button ng-click="$ctrl.toggleMaskColor($index, item.break)">
                  <i class="icon-eye"></i>
              </button>
          </div>
        </div>
    </li>
</ul>
