<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.handleClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" ng-if="!$ctrl.resolve.project">
      Iniciar una importación
    </h4>
    <h4 class="modal-title" ng-if="$ctrl.resolve.project">
      Importar a {{$ctrl.resolve.project.name}}
    </h4>
    <p>Importa tus imágenes de diferentes fuentes</p>
  </div>

  <!-- Body for DATASOURCE_SELECT-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('DATASOURCE_SELECT')">
    <div class="content">
      <div class="list-group">
        <div class="form-group all-in-one">
          <label for="search"><i class="icon-search"></i></label>
          <input id="search" type="text" class="form-control"
                placeholder="Buscar fuentes de datos" ng-model="$ctrl.searchString">
        </div>
        <div class="list-group-item" ng-repeat="datasource in $ctrl.datasources.results | filter: {name: $ctrl.searchString}">
          <div class="list-group-overflow">
            <strong class="color-dark">{{datasource.name}}</strong><br>
            <ng-pluralize count="datasource.bands.length"
                          when="{'one': '{} banda',
                                'other': '{} bandas'
                                }">
            </ng-pluralize>
          </div>
          <div class="list-group-right">
            <button class="btn" ng-click="$ctrl.handleDatasourceSelect(datasource)">
              Elegir
            </button>
          </div>
        </div>
      </div>

      <!-- Datasource pagination, show only when item count exceeds page size-->
      <div class="list-group text-center"
          ng-show="$ctrl.shouldShowPagination()">
        <ul uib-pagination
            items-per-page="$ctrl.pageSize"
            total-items="$ctrl.datasources.count"
            ng-model="$ctrl.currentPage"
            max-size="4"
            rotate="true"
            boundary-link-numbers="true"
            force-ellipses="true"
            ng-change="$ctrl.loadDatasources($ctrl.currentPage)">
        </ul>
      </div>
    </div>
  </div>

  <!--Body for IMPORT-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('IMPORT')">
    <div class="content">
      <h3 class="no-margin">Importa tus imágenes</h3>
      <br/>
      <ul class="tabbed-list-header app-width-container">
        <li>
          <a ng-click="$ctrl.isCog = false"
             ng-class="{active: !$ctrl.isCog}"
          >
            GeoTIFF
          </a>
        </li>
	<!--
        <li>
          <a ng-click="$ctrl.isCog = true"
             ng-class="{active: $ctrl.isCog}"
          >
            Cloud Optimized GeoTIFF <span class="beta-tag">Beta</span>
          </a>
        </li>
	-->
      </ul>
      <!--
      <p ng-if="$ctrl.isCog">
        <strong>Esta característica está en beta.</strong>
        <br/>
      </p>
      -->

      <p>Elige la fuente de donde vas a importar tus imágenes.</p>
      <p ng-if="$ctrl.resolve.project">Las escenas de esta importación serán automáticamente añadidas
        al proyecto <strong>{{$ctrl.resolve.project.name}}</strong>.
      </p>

      <div class="box-select-row" ng-if="!$ctrl.isCog">
          <rf-box-select-item
            class="small"
            ng-class="{selected: $ctrl.importType === 'local'}"
            ng-click="$ctrl.setImportType('local')"
          >
          <div class="text-center"><i class="icon-database h3"></i></div>
          <br/>
          <div class="text-center"><strong>Cargar archivo</strong></div>
        </rf-box-select-item>
        <rf-box-select-item
                class="small"
                ng-class="{selected: $ctrl.importType === 'S3'}"
                ng-click="$ctrl.setImportType('S3')"
        >
          <img width="100%" src="../../../../assets/images/aws-s3.png">
        </rf-box-select-item>
	<!--
        <rf-box-select-item
                class="small"
                ng-class="{selected: $ctrl.importType === 'Planet'}"
                ng-click="$ctrl.setImportType('Planet')"
        >
          <img width="100%" src="../../../../assets/images/planet-logo-light.png">
        </rf-box-select-item>
	-->
      </div>


      <div class="box-select-row" ng-if="$ctrl.isCog">
          <rf-box-select-item
            class="small"
            ng-class="{selected: $ctrl.importType === 'local'}"
            ng-click="$ctrl.setImportType('local')"
          >
          <div class="text-center"><i class="icon-database h3"></i></div>
          <br/>
          <div class="text-center"><strong>Cargar archivo</strong></div>
        </rf-box-select-item>
        <rf-box-select-item
          class="small"
          ng-class="{selected: $ctrl.importType === 'COG'}"
          ng-click="$ctrl.setImportType('COG')"
        >
          <div class="text-center"><i class="icon-link h3"></i></div>
          <br/>
          <div class="text-center"><strong>Link a archivo</strong></div>
        </rf-box-select-item>
      </div>

      <!-- Import config for S3 -->
      <div ng-if="$ctrl.importType === 'S3' && !$ctrl.isCog">
          <p>
            Ingresa la URI de S3 que apunta a la ubicación de tus imágenes.
	    El proceso de importación cargará todas las imágenes que encuentre en esa ubicación a {{$ctrl.BUILDCONFIG.APP_NAME}}.
          </p>
          <form>
            <div class="form-group">
              <label for="name">Bucket de S3</label>
              <input
                id="name"
                type="url"
                class="form-control"
                placeholder="s3://<bucket>/<prefix>/ OR s3://<bucket>/<prefix>/object.tif"
                ng-model="$ctrl.s3Config.bucket"
                ng-change="$ctrl.onPathChange($ctrl.s3Config.bucket)">
              <div ng-if="$ctrl.suggestedPaths && $ctrl.suggestedPaths.length">
                <div class="import-s3-msg">¿Problemas con el formato? Aquí hay algunas sugerencias:</div>
                <div ng-repeat="path in $ctrl.suggestedPaths track by $index">
                  <div class="import-s3-suggestions">
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.usePath(path)">
                      Usar
                    </button>
                    <span>{{path}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group color-danger"
                 ng-if="$ctrl.showProjectCreateError && $ctrl.projectCreateErrorText"
            >
              {{$ctrl.projectCreateErrorText}}
            </div>
          </form>
        </div>
      <div ng-if="$ctrl.importType === 'COG' && $ctrl.isCog">
        <p>
          Ingresa la URI HTTP o S3 que apunta a donde están tus imágenes COG.
        </p>
        <form>
          <div class="form-group">
            <label for="name">URI HTTP del COG</label>
            <input id="name" type="url" class="form-control"
                   placeholder="La URI HTTP o S3 de las imágenes" ng-model="$ctrl.cogConfig.url">
          </div>
        </form>
      </div>

      <!--
      <div ng-if="$ctrl.importType === 'Planet' && !$ctrl.isCog">
        <p>
          Enter a list of comma-separated Planet Scene IDs into the text box for import.
          Note these should match the datasource selected in the previous screen.
        </p>
        <form>
          <div class="form-group">
            <label for="name">Scene IDs</label>
            <input id="name" type="text" class="form-control"
                   placeholder="REOrthoTile:20160415_..., REOrthoTile:20160..."
                   ng-model="$ctrl.planetSceneIds">
            <span ng-if="!$ctrl.hasPlanetCredential">
              <label for="name">Planet Key</label>
              <input id="name" type="text" class="form-control"
                     placeholder="Planet API Key"
                     ng-model="$ctrl.planetCredential">
            </span>
          </div>
          <div class="form-group color-danger"
               ng-if="$ctrl.showProjectCreateError && $ctrl.projectCreateErrorText"
          >
            {{$ctrl.projectCreateErrorText}}
          </div>
        </form>
      </div>
      -->

      <div ng-if="$ctrl.currentError" class="color-danger text-center">
        {{$ctrl.currentError.data}}
      </div>
    </div>
  </div>

  <!-- Body for LOCAL_UPLOAD -->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('LOCAL_UPLOAD')"
    ngf-multiple=true
    ngf-pattern="'*.tif,*.tiff'"
    ngf-drop-available=true
    ng-model="$ctrl.selectedFiles"
    ngf-keep="'distinct'"
    ngf-change="$ctrl.filesSelected($files)"
    ngf-drop>
    <!--Local file import -->
    <div class="content">
      <h3 class="no-margin">Importación de archivo local</h3>
      <ng-container ng-if="!$ctrl.shouldShowFileList()">
        <p>Elige imágenes de tu computadora y las importaremos a {{$ctrl.BUILDCONFIG.APP_NAME}}. {{$ctrl.BUILDCONFIG.APP_NAME}} permite cargar archivos GeoTIFF.</p>

        <br/>
        <br/>

        <div class="text-center">
          <button class="btn btn-primary"
                  ngf-multiple=true
                  ng-model="$ctrl.selectedFiles"
                  ngf-pattern="'*.tif,*.tiff'"
                  ngf-keep="'distinct'"
                  ngf-change="$ctrl.filesSelected($files)"
                  ngf-select
          >
            Escoge archivos
          </button>

          <br/>
          <br/>

          o arrástralos aquí
        </div>
      </ng-container>
      <ng-container ng-show="$ctrl.shouldShowFileList()">
        <p><strong>{{$ctrl.selectedFileDatasets.length}}</strong> archivos elegidos sumando un total de <strong>{{$ctrl.getTotalFileSize() | byteFmt: 2}}</strong></p>
        <div class="row align-right">
          <button class="btn"
                  ng-click="$ctrl.removeAllFiles()"
          >
            Quitar todos los archivos
          </button>
          &nbsp;
          <button class="btn btn-primary"
                  ngf-multiple=true
                  ng-model="$ctrl.selectedFiles"
                  ngf-pattern="'*.tif,*.tiff'"
                  ngf-keep="'distinct'"
                  ngf-change="$ctrl.filesSelected($files)"
                  ngf-select
          >
            Agregar más archivos
          </button>
        </div>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="fileDS in $ctrl.selectedFileDatasets">
            <div class="list-group-overflow">
              <span class="icon-warning color-warning"
                ng-if="fileDS.bandCount < 0"
                tooltips
                tooltip-template="Este archivo no pudo ser revisado. Por favor verifica que sea un GeoTIFF válido."
                tooltip-size="small"
                tooltip-class="rf-tooltip" tooltip-side="top">
              </span>
              <span class="icon-warning color-warning"
                ng-if="$ctrl.datasource.bands.length && fileDS.bandCount >= 0 && fileDS.bandCount !== $ctrl.datasource.bands.length"
                tooltips
                tooltip-template="Este archivo tiene {{fileDS.bandCount}} banda(s) pero la fuente de datos que elegiste especifica {{$ctrl.datasource.bands.length}}."
                tooltip-size="small"
                tooltip-class="rf-tooltip" tooltip-side="top">
              </span>
              <span class="icon-warning color-warning"
                ng-if="!$ctrl.datasource.bands.length"
                tooltips
                tooltip-template="La fuente de datos que elegiste no tiene bandas especificadas. Este archivo tiene {{fileDS.bandCount}} banda(s)."
                tooltip-size="small"
                tooltip-class="rf-tooltip" tooltip-side="top">
              </span>
              <span title="{{$ctrl.scene.name}}">
                <strong class="color-dark">{{fileDS.file.name}}</strong>
              </span>
              <br>
              <span>{{fileDS.file.size | byteFmt: 2}}</span>
            </div>
            <div class="list-group-right">
              <button class="btn btn-square btn-secondary" ng-click="$ctrl.removeFileAtIndex($index)" >
                <i class="icon-cross"></i>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!--Body for METADATA-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('METADATA')">
    <div class="content">
      <h3 class="no-margin">Añadir metadatos opcionales</h3>
      <div>
        <p>Ingresa metadatos sobre las escenas en los archivos que estás cargando</p>
        <form>
          <div class="form-group">
            <div>
              <label for="acquisitionDate">Fecha de adquisición</label>
              <input id="acquisitionDate" type="date"
                     class="form-control" ng-model="$ctrl.sceneData.acquisitionDate">
            </div>
          </div>
          <div class="form-group">
            <div>
              <label for="cloudCover">Cobertura de nubes</label>
              <input id="cloudCover" type="number" placeholder=""
                     class="form-control" ng-model="$ctrl.sceneData.cloudCover">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Body for UPLOAD_PROGRESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('UPLOAD_PROGRESS')">
    <div class="content">
      <h3 class="no-margin">Carga en proceso...</h3>
      <div class="list-group">
          <div class="list-group-item no-flex" ng-repeat="upload in $ctrl.fileUploads track by upload.file.name">
            <div class="list-group-item-contents">
              <div class="list-group-overflow">
                <span title="{{$ctrl.scene.name}}">
                  <strong class="color-dark">{{upload.file.name}}</strong>
                </span>
                <br>
                <span ng-if="upload.progress">
                  {{upload.file.size * (upload.progress.loaded / upload.progress.total) | byteFmt: 2}} /
                </span>
                <span>{{upload.file.size | byteFmt: 2}}</span>
              </div>
              <div class="list-group-right">
                {{$ctrl.uploadProgressPct[upload.file.name] || '0%'}}
                <button title="Reintentar carga"
                        class="btn btn-square"
                        ng-if="upload.api.failed"
                        ng-click="$ctrl.retryUpload(upload)">
                  <i class="icon-retry"></i>
                </button>
                <button title="Cancelar carga"
                        class="btn btn-square btn-danger"
                        ng-if="!upload.aborted && !upload.finished"
                        ng-click="$ctrl.abortUpload(upload)">
                  <i class="icon-cross"></i>
                </button>
                <button disabled="true"
                        ng-if="upload.finished"
                        class="btn btn-square btn-secondary">
                  <i class="icon-check"></i>
                </button>
              </div>
            </div>
            <div class="list-group-item-contents">
              <div class="upload-progress-bar"
                   ng-style="{ 'flex': $ctrl.uploadProgressFlexString[upload.file.name] || '0 0' }"
                   ng-class="{ 'cancelled': upload.aborted, 'failed': upload.error }"
              >
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <!--Body for S3 IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('S3_UPLOAD')">
    <div class="content">
      <h3 class="no-margin text-center">Procesando tu importación de S3</h3>
    </div>
    <br/>
    <div class="color-danger text-center" ng-if="$ctrl.isProcessS3Failed">
      <p>
        Algo salió mal. <a ng-click="$ctrl.backToImport()">Verifica la ruta de S3.</a>
      </p>
    </div>
  </div>

  <!--Body for Planet IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('IMPORT_COG_PROGRESS')">
    <div class="content">
      <h3 class="no-margin text-center">Tu importación de COG está siendo procesada</h3>
      <br/>
      <div class="text-center"><i class="icon-load animate-spin"></i></div>
    </div>
  </div>

  <!--Body for Planet IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('Planet')">
    <div class="content">
      <h3 class="no-margin text-center">Importing your planet imagery</h3>
    </div>
  </div>

  <!--Body for IMPORT_SUCCESS-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('IMPORT_SUCCESS')">
    <div class="content" ng-if="!$ctrl.error">
      <h3 class="no-margin">¡Éxito!</h3>
      <p>
        Tus escenas están siendo importadas a {{$ctrl.BUILDCONFIG.APP_NAME}} en este momento.
        Esto puede tomar un tiempo. Te notificaremos cuando el proceso termine.
	<!--
        <span ng-if="$ctrl.resolve.origin">
          <a ng-click="$ctrl.linkToStatus()">
            Click here to check the status of your import.
          </a>
        </span>
        <span ng-if="!$ctrl.resolve.origin">
          You may check the status of your import later.
        </span>
	-->
      </p>
    </div>
    <div class="concent" ng-if="$ctrl.error">
      <h3>Error</h3>
      <p>
        Ocurrió un error al importar tus escenas
      </p>
      <p>
        Por favor asegúrate de haber seleccionado las URLs o archivos correctos
      </p>
    </div>
  </div>

  <!--Default Footer-->
  <div class="modal-footer">
    <div class="footer-section left">
      <button type="button" class="btn"
              ng-if="$ctrl.allowClose()"
              ng-click="$ctrl.handleClose()">
        Cancelar
      </button>
    </div>
    <div class="footer-section right">
      <button type="button" class="btn"
              ng-if="$ctrl.hasPrevious()"
              ng-click="$ctrl.handlePrevious()"
              ng-disabled="!$ctrl.allowPrevious()">
        Atrás
      </button>
      <button type="button" class="btn btn-primary"
              ng-if="$ctrl.hasNext()"
              ng-click="$ctrl.handleNext()"
              ng-disabled="!$ctrl.allowNext()">
        Siguiente
      </button>
      <button type="button" class="btn btn-primary"
              ng-if="$ctrl.allowDone()"
              ng-click="$ctrl.handleDone()">
        Terminar
      </button>
    </div>
  </div>
</div>
