<div class="dropdown gradient-dropdown"
     uib-dropdown
     auto-close="outsideClick"
     on-toggle="$ctrl.onDropdownToggle(open)"
>
  <button class="btn"
          uib-dropdown-toggle
          ng-disabled="$ctrl.disabled"
  >
      <div class="gradient-bar gradient-bkg"
           title="{{ $ctrl.state.scheme.label }}"
           ng-show="$ctrl.state.schemeType"
           ng-style="$ctrl.colorSchemeService.colorsToBackground(
                      $ctrl.state.scheme.colors,
                      90,
                      $ctrl.state.blending.bins,
                      $ctrl.state.reversed)"
      ></div>
      <div  ng-show="!$ctrl.state.schemeType">
        Mapa de colores personalizado
      </div>
      <i class="icon-caret-down"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-light colorscheme-selector" uib-dropdown-menu role="menu">
    <div ng-show="$ctrl.shouldShowView('MAIN')">
      <div class="dropdown-header">
        <div class="dropdown-header-link-container" feature-flag="colorscheme-blendmodes">
          <a class="dropdown-header-link" ng-click="$ctrl.moveToView('BLENDING')">{{$ctrl.state.blending.label}}...</a>
        </div>
        <div class="dropdown-header-link-container">
          <a class="dropdown-header-link" ng-click="$ctrl.moveToView('SCHEME')">{{$ctrl.state.schemeType.label || 'Esquema personalizado'}}...</a>
        </div>
      </div>
      <ul class="dropdown-list">
        <li ng-repeat="scheme in $ctrl.colorSchemeService.defaultColorSchemes | filter : $ctrl.filterToValidSchemes"
            ng-click="$ctrl.setScheme(scheme)"
            ng-class="$ctrl.getSchemeClass(scheme)"
            role="menuitem"
            class="dropdown-list-item"
            title="{{scheme.label}}"
        >
          <div class="gradient-container" ng-class="$ctrl.getSchemeClass(scheme)">
            <div class="gradient-bar gradient-bkg"
                 ng-style="$ctrl.colorSchemeService.colorsToBackground(
                             scheme.colors,
                             90,
                             $ctrl.state.blending.bins,
                             $ctrl.state.reversed)"
            ></div>
          </div>
          <div class="reverse-indicator"
               ng-class="{'active': $ctrl.state.reversed}"
               ng-click="$ctrl.reverseColors()">
            <i class="icon-exchange"></i>
          </div>
        </li>
      </ul>
    </div>
    <div ng-show="$ctrl.shouldShowView('SCHEME')">
      <div class="dropdown-header">
        <div class="dropdown-titlebar">
          <button class="navigation-button" ng-click="$ctrl.moveToView('MAIN')">
            <i class="icon-arrow-left"></i>
          </button>
          <div ng-click="$ctrl.moveToView('MAIN')" class="dropdown-title flex-fill">
            Esquema de colores
          </div>
        </div>
      </div>
      <ul class="dropdown-list">
        <li class="dropdown-list-item"
            ng-repeat="schemeType in $ctrl.colorSchemeService.defaultColorSchemeTypes"
            ng-class="$ctrl.getSchemeTypeClass(schemeType)"
            ng-click="$ctrl.setSchemeType(schemeType)"
        >
          {{schemeType.label || 'Personalizado'}} <span ng-if="$ctrl.isActiveSchemeType('CATEGORICAL')">(necesita contenedores discretos)</span>
        </li>
      </ul>
    </div>
    <div ng-show="$ctrl.shouldShowView('BLENDING')">
      <div class="dropdown-header">
        <div class="dropdown-titlebar">
          <button class="navigation-button" ng-click="$ctrl.moveToView('MAIN')">
            <i class="icon-arrow-left"></i>
          </button>
          <div ng-click="$ctrl.moveToView('MAIN')" class="dropdown-title flex-fill">
            Mezcla de colores
          </div>
        </div>
      </div>
      <ul class="dropdown-list">
        <li class="dropdown-list-item"
            ng-repeat="bin in $ctrl.bins"
            ng-class="$ctrl.getBlendingClass(bin)"
            ng-click="$ctrl.setBlending(bin)"
        >
          <div class="label">
            <ng-pluralize count="bin"
                          when="{
                            '0': 'Continuos',
                            'other': '{} contenedores discretos'
                          }">
            </ng-pluralize>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
