<div class="map-container"></div>
<div class="map-container-draw-controls" ng-if="$ctrl.drawing">
  <div class="map-draw-title">
    <div ng-if="!$ctrl.editingStage"><strong>Dibujar una figura</strong></div>
    <div ng-if="$ctrl.editingStage === 'select'"><strong>Elige una figura para editar</strong></div>
    <div ng-if="$ctrl.editingStage === 'modify'"><strong>Editar figura</strong></div>
  </div>
  <div class="map-draw-actions">
    <button class="btn"
            ng-class="{
                   'btn-transparent': !$ctrl.shapeInProgress && !$ctrl.editingStage,
                   'btn-light': $ctrl.shapeInProgress || $ctrl.editingStage
                   }"
            ng-click="$ctrl.onCancelDrawing()">
      <span ng-if="!$ctrl.shapes.features.length || $ctrl.shapeInProgress || $ctrl.editingStage">Cancelar</span>
      <span ng-if="$ctrl.shapes.features.length && !$ctrl.shapeInProgress && !$ctrl.editingStage">Restablecer</span>
    </button>
    <button class="btn btn-light"
            ng-if="$ctrl.shapes.features.length && !$ctrl.shapeInProgress && !$ctrl.editingStage"
            ng-click="$ctrl.onEditStart()">Editar</button>
    <button class="btn"
            ng-class="{
                   'btn-default': !ctrl.shapes.features.length,
                   'btn-light': $ctrl.shapes.features.length
                   }"
            ng-click="$ctrl.startDrawingShape()"
            ng-if="!$ctrl.shapeInProgress && !$ctrl.editingStage"
    >
      <span ng-if="!$ctrl.shapes.features.length">Iniciar dibujo</span>
      <span ng-if="$ctrl.shapes.features.length">Dibujar más</span>
    </button>
    <button class="btn btn-danger"
            ng-if="$ctrl.editingStage === 'modify'"
            ng-click="$ctrl.onEditDelete()">
      Eliminar
    </button>
    <button class="btn btn-default"
            ng-if="$ctrl.editingStage === 'modify'"
            ng-click="$ctrl.onEditFinish()">
            Guardar
    </button>
    <button class="btn btn-default"
            ng-if="$ctrl.shapes.features.length && !$ctrl.shapeInProgress && !$ctrl.editingStage"
            ng-click="$ctrl.onFinishDrawing()">Terminar</button>
  </div>
</div>
<div class="map-container-controls">
  <div class="zoom-level" title="Current Zoom">
    {{$ctrl.zoomLevel}}
  </div>
  <button class="map-control-btn"
          title="Más zoom"
          ng-click="$ctrl.zoomIn()"
          tooltips tooltip-template="Zoom in" tooltip-size="small" tooltip-class="map-control-tooltip" tooltip-side="left">
    <i class="icon-plus"></i>
  </button>
  <button class="map-control-btn"
          title="Menos zoom"
          ng-click="$ctrl.zoomOut()"
          tooltips tooltip-template="Zoom out" tooltip-size="small" tooltip-class="map-control-tooltip" tooltip-side="left">
    <i class="icon-minus"></i>
  </button>

  <button class="map-control-btn"
          title="Búsqueda"
          ng-show="!$ctrl.modalService.activeModal"
          ng-click="$ctrl.openMapSearchModal()"
          tooltips tooltip-template="Search places" 
          tooltip-size="small" 
          tooltip-class="map-control-tooltip"
          tooltip-side="left"
          tooltip-show="true">
    <i class="icon-search"></i>
  </button>

  <div class="map-control-popup-container">
    <button class="map-control-btn"
            title="Mapa base y capas"
            ng-class="{'active': $ctrl.layerPickerOpen}"
            ng-click="$ctrl.toggleLayerPicker($event)"
            tooltips tooltip-template="Basemap and layers" 
            tooltip-size="small" 
            tooltip-class="map-control-tooltip"
            tooltip-side="left">
      <i class="icon-project"></i>
    </button>
    <div class="map-control-popup layer-popup"
          ng-show="$ctrl.layerPickerOpen"
          ng-click="$ctrl.cancelPropagation($event)">
      <div class="map-control-popup-body">
        <div class="layer-picker-option"
             ng-repeat="layer in $ctrl.basemapKeys"
             ng-style="$ctrl.getBasemapStyle(layer)"
             ng-click="$ctrl.setBasemap(layer)"
             ng-attr-title="{{layer}}"
             ng-class="{'active': $ctrl.mapWrapper.currentBasemap == layer}">
          <div class="layer-picker-label sr-only">{{layer}}</div>
        </div>
        <hr>
        <div class="layer-picker-toggle"
             ng-click="$ctrl.toggleLayer(layerId)"
             ng-repeat="layerId in $ctrl.toggleableLayers()"
             ng-class="{'active': $ctrl.layerEnabled(layerId)}">
          <div class="layer-picker-label">{{layerId}}</div>
          <div class="toggle"></div>
        </div>
      </div>
    </div>
  </div>
  <button class="map-control-btn last-of-type"
          title="Polígono de selección"
          ng-class="{'active': $ctrl.geojsonEnabled()}"
          ng-click="$ctrl.toggleGeojson()"
          tooltips tooltip-template="Toggle scene footprints" 
          tooltip-size="small" 
          tooltip-class="map-control-tooltip"
          tooltip-side="left">
    <i class="icon-borders"></i>
  </button>
</div>
