<div class="btn-group">
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'rgb'}"
          ng-disabled="!$ctrl.plots || !$ctrl.options"
          ng-click="$ctrl.setHistogramMode('rgb')">
    RGB
  </button>
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'red'}"
          ng-disabled="!$ctrl.plots || !$ctrl.options"
          ng-click="$ctrl.setHistogramMode('red')">
    Rojo
  </button>
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'green'}"
          ng-disabled="!$ctrl.plots || !$ctrl.options"
          ng-click="$ctrl.setHistogramMode('green')">
    Verde
  </button>
  <button type="button"
          class="btn btn-toggle btn-small"
          ng-class="{'active': $ctrl.histogramMode === 'blue'}"
          ng-disabled="!$ctrl.plots || !$ctrl.options"
          ng-click="$ctrl.setHistogramMode('blue')">
    Azul
  </button>
</div>
<div class="graph-container" style="height: 100px;">
  <svg ng-attr-id="graph{{$ctrl.graphId}}"></svg>
  <rf-histogram-breakpoint
      ng-show="$ctrl.plots"
      ng-mouseover="$ctrl.lastMouseOver = 'min'"
      ng-class="{'active': $ctrl.lastMouseOver === 'min'}"
      data-color="black"
      data-breakpoint="$ctrl.lowerClip"
      data-range="{min: 0, max: 255}"
      data-precision="0"
      on-color-change="$ctrl.changeMinColor(color)"
      on-breakpoint-change="$ctrl.onMinBreakpointChange(breakpoint)"
  ></rf-histogram-breakpoint>
  <rf-histogram-breakpoint
      ng-show="$ctrl.plots"
      ng-mouseover="$ctrl.lastMouseOver = 'max'"
      ng-class="{'active': $ctrl.lastMouseOver === 'max'}"
      data-color="white"
      data-breakpoint="$ctrl.upperClip"
      data-range="{min: 0, max: 255}"
      data-precision="0"
      on-color-change="$ctrl.changeMaxColor(color)"
      on-breakpoint-change="$ctrl.onMaxBreakpointChange(breakpoint)"
  ></rf-histogram-breakpoint>
</div>
<div class="histogram-spacer"></div>
<div class="color-filters-container">
