<div class="flex-column" ui-view>
  <div class="sidebar-static">
    <div class="sidebar-header">
      <h5 class="sidebar-title">Exportaciones</h5>
      <div class="header-controls">
        <a ui-sref="projects.edit.exports.new"
          class="btn btn-primary">Exportar</a>
      </div>
    </div>
  </div>
  <div class="sidebar-scrollable">
    <div class="list-group">
        <rf-export-item
            export="export"
            ng-repeat="export in $ctrl.exportList track by export.id">
        </rf-export-item>
      </div>
      <!-- Export List -->

      <!-- Pagination -->
      <div class="list-group text-center"
           ng-show="!$ctrl.isLoadingExports && $ctrl.lastExportResult && $ctrl.lastExportResult.count > $ctrl.lastExportResult.pageSize && !$ctrl.errorMsg">
        <ul uib-pagination
            items-per-page="$ctrl.lastExportResult.pageSize"
            total-items="$ctrl.lastExportResult.count"
            ng-model="$ctrl.currentPage"
            max-size="6"
            rotate="true"
            boundary-link-numbers="true"
            force-ellipses="true"
            ng-change="$ctrl.populateExportList($ctrl.currentPage)">
        </ul>
      </div>
      <!-- Pagination -->

      <!-- No scenes placeholder -->
      <div ng-if="!$ctrl.isLoadingExports && $ctrl.lastExportResult && $ctrl.lastExportResult.count === 0"
           class="list-group">
        <span class="list-placeholder">Aún no has exportado este proyecto</span>
      </div>
      <!-- No scenes placeholder -->

      <!-- Reload? Export list -->
      <div class="list-group" ng-show="$ctrl.errorMsg">
        <span class="list-placeholder">
          {{$ctrl.errorMsg}}
          <a ng-click="$ctrl.populateExportList(1)">Reintentar</a>
        </span>
      </div>
      <!-- Reload? Export list -->
    </div>
  </div>
</div>

