<div class="admin-header">
    <rf-editable-logo
      uri="$ctrl.user.profileImageUri"
      no-cache-bust="true"
    ></rf-editable-logo>
  <div class="admin-logo-text">
    <h4 class="admin-logo-name">
        {{$ctrl.user.name || $ctrl.user.email || $ctrl.user.id}}
    </h4>
  </div>
</div>
<div class="admin-tabs">
  <div class="admin-tab"
    ui-sref="user.projects"
    ui-sref-active="active"
  >
    Proyectos
    <span class="tab-count">{{$ctrl.projects.count}}</span>
  </div>
  <!--
  <div class="admin-tab"
      ui-sref="user.rasters"
      ui-sref-active="active"
  >
    Raster Data
    <span class="tab-count">{{$ctrl.rasters.count}}</span>
  </div>
  -->
  <!-- <div class="admin-tab"
      ui-sref="user.vectors"
      ui-sref-active="active"
  >
    Vector Data
    <span class="tab-count">{{$ctrl.vectors.count}}</span>
  </div>
  <div class="admin-tab"
      ui-sref="user.datasources"
      ui-sref-active="active"
  >
    Datasources
    <span class="tab-count">{{$ctrl.datasources.count}}</span>
  </div>
  <div class="admin-tab"
      ui-sref="user.templates"
      ui-sref-active="active"
  >
    Templates
    <span class="tab-count">{{$ctrl.templates.count}}</span>
  </div>
  <div class="admin-tab"
      ui-sref="user.analyses"
      ui-sref-active="active"
  >
    Analyses
    <span class="tab-count">{{$ctrl.analyses.count}}</span>
  </div> -->
  <div class="flex-fill"></div>
  <!--
  <div class="admin-tab"
       ui-sref="user.organizations"
       ui-sref-active="active"
  >
    Organizations
    <span class="tab-count">{{$ctrl.organizations.length}}</span>
  </div>
  <div class="admin-tab"
       ui-sref="user.teams"
       ui-sref-active="active"
  >
    Teams
    <span class="tab-count">{{$ctrl.teams.length}}</span>
  </div>
  <div class="admin-tab"
       ui-sref="user.settings"
       ui-sref-active="active"
  >
    <i class="icon-settings" title="Organization Settings"></i>
  </div>
  -->
  <!-- <div class="admin-tab" -->
  <!-- ui-sref="user.settings" -->
  <!-- ui-sref-active="active" -->
  <!-- > -->
  <!-- Organization Settings -->
  <!-- </div> -->
</div>
<ui-view></ui-view>
