<div class="list-group-item"
     ng-class="{'disabled': $ctrl.isDisabled,
                'clickable': $ctrl.isClickable}">
  <div class="list-item-left-actions"
       ng-if="$ctrl.isDraggable">
    <div ng-attr-title="Arrastra para cambiar el orden"
         ui-tree-handle>
      <i class="icon-gripper"></i>
    </div>
    <a title="Definir posición a mano"
       ng-click="$ctrl.onManualOrderToggle($event)"
       ng-class="{'invert': $ctrl.orderingInProgress}"
       ng-if="$ctrl.onMove"
    >
      <i class="icon-exchange"></i>
    </a>
    <div class="scene-item-ordering" ng-if="$ctrl.orderingInProgress">
      <div class="form-group all-in-one" ng-click="$event.stopPropagation()">
        <input type="number" class="form-control" min="1" ng-model="$ctrl.manualOrderValue" required />
        <button type="button" class="btn btn-primary"
                title="Mover a la posición elegida"
                ng-click="$ctrl.onManualOrderConfirm()"
                ng-disabled="!$ctrl.positionIsValid($ctrl.manualOrderValue)"
        >
          <i class="icon-check" ></i></button>
        <button type="button" class="btn"
                title="Deshacer cambios" ng-click="$ctrl.onManualOrderCancel()">
          <i class="icon-cross" ></i></button>
      </div>
    </div>
  </div>
  <div class="item-img-container"
       ng-class="{'previewable': $ctrl.isPreviewable}"
       ng-click="$ctrl.isPreviewable && $ctrl.openSceneDetailModal($event)"
  >
    <rf-status-tag entity-type="scene"
                   ng-if="$ctrl.scene.statusFields.ingestStatus"
                   status="$ctrl.getSceneIngestStatus()"
                   ng-class="{'on-drag': $ctrl.isDraggable}"></rf-status-tag>
    <img ng-attr-src="{{$ctrl.thumbnail}}"
         ng-if="$ctrl.thumbnail && !$ctrl.imageError"
         class="rounded-img item-img">
    <div ng-if="!$ctrl.thumbnail || $ctrl.imageError"
         class="rounded-img item-img image-placeholder">
        <div>Vista previa no disponible</div>
    </div>
  </div>
  <div class="list-group-overflow">
    <div>
      <span title="{{$ctrl.scene.name}}">
        <strong class="color-dark">
          {{($ctrl.getReferenceDate() | date : 'mediumDate' : '+0000') + ' (UTC)'}}
        </strong>
      </span>
    </div>
    <div>
      <span>{{$ctrl.datasource ? $ctrl.datasource.name : 'Cargando fuente de datos'}}</span>
    </div>
  </div>
  <div class="list-group-right">
    <rf-toggle-old
      ng-if="$ctrl.onSelect && !$ctrl.isDisabled && $ctrl.hasDownloadPermission()"
      model="$ctrl.selectedStatus"
      on-change="$ctrl.toggleSelected($event)">
    </rf-toggle-old>
    <div class="scene-item-lock"
      tooltips
      tooltip-template="Estas imágenes requieren accesos adicionales{{$ctrl.repository.service.permissionSource}}."
      tooltip-size="small"
      tooltip-class="rf-tooltip"
      tooltip-side="left"
      ng-if="$ctrl.onSelect && !$ctrl.hasDownloadPermission()">
      <span class="icon-locked"></span>
    </div>
    <ng-transclude>
    </ng-transclude>
  </div>
</div>
