<div class="sidebar-header">
  <h5>Filtros</h5>
  <div class="header-controls">
    <button type="button"
            class="btn btn-default btn-small"
            ng-show="!$ctrl.settingRepository"
            ng-click="$ctrl.resetFilters()">
      Restablecer filtros
    </button>
    <button class="btn btn-default btn-small"
            ng-click="$ctrl.onClose()">
      Cerrar
    </button>
  </div>
</div>
<div class="sidebar-scrollable">
  <div id="filters" class="content">
    <div class="filter-group" feature-flag="external-source-browse">
      <div class="filter">
        <label>Repositorio</label>
        <div class="btn-block" uib-dropdown keyboard-nav>
          <button 
            type="button" 
            class="btn btn-default btn-block browse-source-drop-down flex-display align-justify" 
            uib-dropdown-toggle
            ng-show="!$ctrl.settingRepository">
              <span>{{$ctrl.currentRepository.overrideLabel || $ctrl.currentRepository.label}}</span>
              <i class="icon-caret-down"></i>
          </button>
          <button 
            type="button" 
            class="btn btn-default btn-block browse-source-drop-down" 
            disabled="true" 
            ng-show="$ctrl.settingRepository">
              Cambiando repositorio
              <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.settingRepository}"></i>
            </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem"
                ng-repeat="repository in $ctrl.repositories"
                ng-click="$ctrl.setRepository(repository)">
              <a>{{repository.overrideLabel || repository.label}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
