<div class="sidebar-header">
  <a ng-if="$ctrl.$parent.project.isAOIProject"
     class="aoi-tag"
     ui-sref="projects.edit.aoi-parameters">
    <i class="icon-pencil"></i>
    <span>Editar</span>
    Parámetros de área de interés
  </a>
  <h5 class="sidebar-title">
    Escenas
    (
    <span ng-show="$ctrl.pagination.count && $ctrl.ingesting.count">
      <ng-pluralize count="$ctrl.pagination.count - $ctrl.ingesting.count"
                    when="{'0': '0 /',
                           'one': '1 /',
                           'other': '{} /'
                           }">
      </ng-pluralize>
    </span>
    {{$ctrl.pagination.count}}
    <span ng-if="$ctrl.ingesting.count && $ctrl.pagination.count">
      ingestadas
    </span>
    )
  </h5>
</div>
<div class="list-group">
  <div class="list-group-item no-border" ng-if="$ctrl.pendingImports ">
    <div class="alert alert-default">
      <div class="alert-message">
        <ng-pluralize count="$ctrl.pendingImports"
                      when="{'one': '{} importación está siendo procesada',
                             'other': '{} importaciones están siendo procesadas'
                             }">
        </ng-pluralize>
      </div>
    </div>
  </div>
  <div class="list-group-item no-border"
       ng-if="$ctrl.$parent.project.isAOIProject && $ctrl.pendingSceneCount">
    <div class="alert alert-secondary">
      <div class="alert-message">{{$ctrl.pendingSceneCount}} escenas están esperando aprobación</div>
      <button class="alert-action" ui-sref="projects.edit.aoi-approve">Revisar escenas</button>
    </div>
  </div>
</div>
<div class="list-group-item sidebar-actions-group">
  <label>Añadir escenas</label>
  <div class="column-6 nogutter btn-group">
    <button type="button"
            class="btn btn-primary"
            ng-click="$ctrl.gotoBrowse()">
      Explorar
    </button>
    <button type="button"
            ng-click="$ctrl.openImportModal()"
            class="btn btn-primary">
      Importar
    </button>
  </div>
</div>
<div class="sidebar-scrollable"
     ui-tree="$ctrl.treeOptions"
     data-empty-placeholder-enabled="false">
  <div
    class="list-group"
    ng-model="$ctrl.sceneList"
    ui-tree-nodes>
    <rf-scene-item
        previewable
        scene="scene"
        repository="$ctrl.repository"
        ng-mouseover="$ctrl.setHoveredScene(scene)"
        ng-mouseleave="$ctrl.removeHoveredScene()"
        ng-repeat="scene in $ctrl.sceneList"
        on-move="$ctrl.onMove(scene, position)"
        ng-if="$ctrl.pagination.count > $ctrl.projectService.scenePageSize"
        ui-tree-node>
      <button class="btn btn-tiny" ng-click="$ctrl.downloadSceneModal(scene)" title="Descargar datos de la escena">
        <i class="icon-download"></i>
      </button>
      <button class="btn btn-tiny" ng-click="$ctrl.removeSceneFromProject(scene, $event)">
        <i class="icon-trash"></i>
      </button>
    </rf-scene-item>
    <rf-scene-item
        previewable
        draggable
        scene="scene"
        repository="$ctrl.repository"
        ng-mouseover="$ctrl.setHoveredScene(scene)"
        ng-mouseleave="$ctrl.removeHoveredScene()"
        ng-repeat="scene in $ctrl.sceneList"
        on-move="$ctrl.onMove(scene, position)"
        ng-if="$ctrl.pagination.count <= $ctrl.projectService.scenePageSize"
        ui-tree-node>
      <button class="btn btn-tiny" ng-click="$ctrl.downloadSceneModal(scene)" title="Descargar datos de la escena">
        <i class="icon-download"></i>
      </button>
      <button class="btn btn-tiny" ng-click="$ctrl.removeSceneFromProject(scene, $event)">
        <i class="icon-trash"></i>
      </button>
    </rf-scene-item>
  </div>
  <rf-pagination-controls
      pagination="$ctrl.pagination"
      is-loading="$ctrl.currentQuery"
      on-change="$ctrl.fetchPage(value)"
      ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
  ></rf-pagination-controls>
</div>
