<div class="subject" ng-transclude>
  <!-- Transcluded content goes here -->
</div>
<div class="flex-fill"></div>
<div class="controls">
    <select class="form-control"
            ng-model="$ctrl.currentActionTag"
            ng-change="$ctrl.handleActionChange()">
      <option ng-repeat="action in $ctrl.actions"
              value="{{action.tag}}">{{action.label}}</option>
    </select>
    <button class="btn btn-link btn-square btn-icon"
            ng-click="$ctrl.handleDelete()"
            tooltips
            tooltip-size="small"
            tooltip-side="top right"
            tooltip-template="Eliminar">
      <i class="icon-close color-base" aria-hidden="true">
          <span class="sr-only">Eliminar permiso</span>
      </i>
    </button>
</div>
