<div class="sidebar-static">
  <div class="sidebar-header">
    <h5 class="sidebar-title">Color</h5>
    <div class="header-controls">
      <button type="button" class="btn btn-primary"
              ng-disabled="$ctrl.correctionsDisabled()"
              ng-click="$ctrl.navToCorrections()">
        Correcciones
        <span class="icon-info"
              tooltips
              tooltip-template="Actualmente no hay soporte para proyectos con más de 30 escenas."
              tooltip-size="small"
              tooltip-class="rf-tooltip" tooltip-side="left"
              ng-if="$ctrl.correctionsDisabled()"
        ></span>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="sidebar-actions-group" ng-if="$ctrl.pagination.count">
      <label>Cambiar el formato de salida</label>
    </div>
    <div class="sidebar-actions-group" ng-if="!$ctrl.currentRequest && $ctrl.pagination && !$ctrl.pagination.count">
      <label>Tienes que agregar escenas al proyecto para poder mapear colores</label>
    </div>
  </div>
</div>
<div class="sidebar-overlay" ng-show="(!$ctrl.corrections || $ctrl.currentRequest) && ($ctrl.pagination && !$ctrl.pagination.count)">
  <div class="sidebar-loading">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.isLoading}"></span>
  </div>
</div>
<div class="sidebar-scrollable" ng-show="$ctrl.pagination && $ctrl.pagination.count">
  <div class="list-group" ng-if="!$ctrl.isLoading">
    <div class="list-group-item flex-column" ng-if="!$ctrl.$parent.bands.length">
        Aún no hay bandas definidas para una o más fuentes de datos usadas en este proyecto.
        Algunas opciones de color no están disponibles mientras no se definan las bandas.
        <br/>
        <br/>

        <div ng-repeat="datasource in $ctrl.$parent.datasources | filter: $ctrl.hasNoBands">
          <a class="btn btn-default btn-block" ui-sref="imports.datasources.detail({
            datasourceid: datasource.id
          })">Definir bandas para {{datasource.name}}</a>
        </div>
    </div>
    <div class="list-group-item list-group-item-stacked"
         ng-class="{'active': $ctrl.projectBuffer && $ctrl.projectBuffer.isSingleBand}">
      <div class="list-group-item-row">
        <span class="font-600">Una banda</span>
        <div class="list-group-right" ng-if="$ctrl.$parent.bands.length && $ctrl.projectBuffer">
          <rf-toggle radio="true" value="$ctrl.projectBuffer.isSingleBand" on-change="$ctrl.setActiveColorMode('singleband')">
          </rf-toggle>
        </div>
        <div class="list-group-right" ng-if="!$ctrl.$parent.bands.length">
            Requiere bandas definidas
        </div>
      </div>
      <div class="list-group-item-row" ng-if="$ctrl.$parent.bands.length && $ctrl.projectBuffer.isSingleBand">
        <ul class="sidebar-list">
          <li ng-if="$ctrl.$parent.bands">
            <span class="label">Bandas</span>
            <rf-band-select selected-band="$ctrl.getActiveSingleBand()"
                            bands="$ctrl.$parent.bands"
                            on-band-select="$ctrl.setActiveSingleBand(index)">
            </rf-band-select>
            <i class="icon-info"></i>
          </li>
          <li>
            <span class="label">Esquema de color</span>
            <rf-color-scheme-dropdown
              color-scheme-options="$ctrl.getSerializedSingleBandOptions()"
              on-change="$ctrl.onColorSchemeChange(value)"
            ></rf-color-scheme-dropdown>
            <i class="icon-info"></i>
          </li>
          <li ng-if="$ctrl.shouldShowColorSchemeBuilder()">
            <rf-color-scheme-builder
                color-scheme="$ctrl.projectBuffer.singleBandOptions.colorScheme"
                on-change="$ctrl.onSchemeColorsChange(value)"/>
          </li>
        </ul>
      </div>
    </div>
    <div class="list-group-item list-group-item-stacked"
         ng-class="{'active': $ctrl.isActiveColorMode('custom')}">
      <div class="list-group-item-row">
        <span class="font-600">Personalizar</span>
        <div class="list-group-right" ng-if="$ctrl.$parent.bands.length">
          <rf-toggle radio="true" value="$ctrl.isActiveColorMode('custom')" on-change="$ctrl.setActiveColorMode('custom')">
          </rf-toggle>
        </div>
        <div class="list-group-right" ng-if="!$ctrl.$parent.bands.length">
            Requiere bandas definidas
        </div>
      </div>
      <div class="list-group-item-row" ng-if="$ctrl.$parent.bands.length && $ctrl.isActiveColorMode('custom')">
          <ul class="sidebar-list">
             <li ng-if="$ctrl.$parent.bands">
              <span class="label">Azul</span>
              <rf-band-select selected-band="$ctrl.getActiveBand('blueBand')"
                              bands="$ctrl.$parent.bands"
                              on-band-select="$ctrl.setActiveBand(index, 'blueBand')">
              </rf-band-select>
              <i class="icon-info"></i>
            </li>
            <li ng-if="$ctrl.$parent.bands">
              <span class="label">Verde</span>
              <rf-band-select selected-band="$ctrl.getActiveBand('greenBand')"
                              bands="$ctrl.$parent.bands"
                              on-band-select="$ctrl.setActiveBand(index, 'greenBand')">
              </rf-band-select>
              <i class="icon-info"></i>
            </li>
            <li ng-if="$ctrl.$parent.bands">
              <span class="label">Rojo</span>
              <rf-band-select selected-band="$ctrl.getActiveBand('redBand')"
                              bands="$ctrl.$parent.bands"
                              on-band-select="$ctrl.setActiveBand(index, 'redBand')">
              </rf-band-select>
              <i class="icon-info"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list-group-item"
         ng-repeat="(key, composite) in $ctrl.$parent.unifiedComposites track by $index"
         ng-class="{'active': $ctrl.isActiveColorMode(key)}">
      <span class="font-600">{{composite.label}}</span>
      <div class="list-group-right">
        <rf-toggle radio="true" value="$ctrl.isActiveColorMode(key)" on-change="$ctrl.setActiveColorMode(key)">
        </rf-toggle>
      </div>
    </div>
  </div>
</div>
