<div class="annotation-toolbar-wrapper">
  <div class="annotate-toolbar">
    <div class="column" ng-if="!$ctrl.isDrawCancel">
      <div class="annotate-toolbar-header row align-center">
        <span ng-if="!$ctrl.inBulkMode">Nueva anotación</span>
        <span ng-if="$ctrl.inBulkMode">Nueva anotación en masa</span>
      </div>
      <div class="annotate-toolbar-actions row align-center">
        <button class="btn btn-primary btn-anno-rectangle"
                ng-click="$ctrl.toggleDrawing('rectangle')"
                ng-disabled="$ctrl.editingAnnotation">
          Rectángulo
        </button>
        <button class="btn btn-primary btn-anno-polygon"
                ng-click="$ctrl.toggleDrawing('polygon')"
                ng-disabled="$ctrl.editingAnnotation">
          Polígono
        </button>
        <button class="btn btn-primary btn-anno-point"
                ng-click="$ctrl.toggleDrawing('marker')"
                ng-disabled="$ctrl.editingAnnotation">
          Punto
        </button>
      </div>
    </div>
    <div class="column" ng-if="$ctrl.isDrawCancel">
      <div class="annotate-toolbar-header row align-center">
          <span ng-if="!$ctrl.inBulkMode">Dibujar anotación</span>
          <span ng-if="$ctrl.inBulkMode">Dibujar anotación en masa</span>
      </div>
      <div class="annotate-toolbar-actions row align-center">
        <button class="btn btn-primary btn-anno-cancel"
                ng-click="$ctrl.onCancelDrawing()">
                <span ng-if="!$ctrl.inBulkMode">Cancelar</span>
                <span ng-if="$ctrl.inBulkMode">Terminar</span>
        </button>
      </div>
    </div>
  </div>
</div>
