<div class="modal-header">
    <button type="button" class="close" aria-label="Cerrar" ng-click="$ctrl.dismiss()">
      <i aria-hidden="true" class="icon-cross">
        <span class="sr-only">Cerrar</span>
      </i>
    </button>
    <h4 class="modal-title">Nuevo equipo</h4>
    <p>Crear un nuevo equipo para esta organización</p>
</div>

<div class="modal-body">
  <div class="modal-inner-container small">
    <span class="modal-icon">
      <i class="icon-users"></i>
    </span>
    <form name="$ctrl.form" ng-submit="$ctrl.onAdd()">
      <div class="form-group" ng-if="$ctrl.resolve.chooseOrg">
        <label>Escoge una organización para añadir este equipo</label>
        <select
          class="form-control subject-select"
          ng-init="$ctrl.selectedOrganization = $ctrl.organizations[0]"
          ng-model="$ctrl.selectedOrganization"
          ng-change="$ctrl.onSelectOrganizationChange()"
          ng-options="organization.groupName for organization in $ctrl.organizations">
        </select>
      </div>
      <div class="form-group">
        <label for="new-team-name">Nombre del equipo</label>
        <input
          type="text"
          class="form-control"
          name="name"
          ng-model="name"
          autocomplete="off"
          id="new-team-name">
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <div class="footer-section left">
      <button type="button" class="btn" ng-click="$ctrl.dismiss()">Cerrar</button>
  </div>
  <div class="footer-section right">
      <button
        type="button"
        class="btn btn-primary"
        ng-click="$ctrl.onAdd()"
        ng-disabled="$ctrl.disableCreate()">
        Crear equipo
      </button>
  </div>
</div>
