<div class="navbar secondary-navbar">
  <div class="container dashboard">
    <div class="navbar-section primary">
      <nav>
        <a ui-sref="lab.browse.analyses" ui-sref-active="active">Mis análisis</a>
        <a ui-sref="lab.browse.templates" ui-sref-active="active">
          Plantillas
        </a>
      </nav>
    </div>
    <div class="navbar-section secondary">
      <nav>
        <button
          type="button"
          class="btn btn-primary btn-block"
          ng-click="$ctrl.openTemplateCreateModal()"
        >
          Nueva plantilla
        </button>
      </nav>
    </div>
  </div>
</div>
<ui-view> </ui-view>
