<div class="operation-node-body" ng-if="$ctrl.inputs.length === 2">
  <button type="button" class="btn btn-operation">{{$ctrl.inputs[0]}}</button>
  <div class="btn-operation">{{$ctrl.node.apply}}</div>
  <button type="button" class="btn btn-operation">{{$ctrl.inputs[1]}}</button>
</div>

<div class="operation-node-body" ng-if="$ctrl.inputs.length !== 2">
    <button type="button" class="btn btn-operation">{{$ctrl.node.apply}} {{$ctrl.inputs.length}} entradas</button>
</div>
