<div class="classify-node-preview">
  <div class="classify-node-preview-row with-margin">
    <div class="classify-node-setting">
      <ng-pluralize count="$ctrl.breaks.length"
                    when="{
                      'one': '1 Clase',
                      'other': '{} Clases'
                    }"
      ></ng-pluralize>
    </div>
  </div>
  <div class="classify-node-preview-row with-border">
    <div class="classify-node-class header">Valores de entrada</div>
    <div class="classify-node-class header">Valores de salida</div>
  </div>
  <div class="classify-node-preview-row with-border"
       ng-repeat="class in $ctrl.breaks"
  >
    <div class="classify-node-class">{{class.start}} - {{class.break}}</div>
    <div class="classify-node-class">{{class.value}}</div>
  </div>
</div>
<div class="node-controls overlayed">
  <button class="btn btn-primary" ng-click="$ctrl.showReclassifyModal()">Editar valores</button>
</div>
