<section>
    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <a class="sidebar-list-item-header"
           ui-sref="{{$ctrl.sref}}"
        >
          Equipos
        </a>
        <div class="flex-fill"></div>
        <a ui-sref="{{$ctrl.sref}}">
          <span>{{$ctrl.paginatedResponse.count}}</span>
          <i class="icon-caret-right"></i>
        </a>
      </li>
      <li class="sidebar-list-item"
          ng-repeat="team in $ctrl.displayTeams">
        <div ng-if="$ctrl.showOrgLogo">
          <div class="avatar user-avatar image-placeholder"
               ng-if="!($ctrl.orgURIs[team.organizationId] && $ctrl.orgURIs[team.organizationId].length)"></div>
          <div ng-if="$ctrl.orgURIs[team.organizationId] && $ctrl.orgURIs[team.organizationId].length">
            <img class="avatar user-avatar"
                 ng-src="{{$ctrl.orgURIs[team.organizationId]}}">
          </div>
        </div>
        <a class="content"
           ui-sref="admin.team({teamId: team.id})"
        >{{team.name}}</a>
      </li>
    </ul>
</section>
