<div class="panel-body">
  <ng-container ng-if="!$ctrl.slim">
    <rf-status-tag ng-if="$ctrl.status && $ctrl.status != 'CURRENT' " entity-type="project" status="$ctrl.status" class="project-status"></rf-status-tag>
    <a ui-sref="projects.edit.scenes({projectid: $ctrl.project.id})" class="no-hover">
      <img class="avatar tiny" ng-attr-src="{{ $ctrl.project.owner.profileImageUri }}" ng-if="$ctrl.project.owner.profileImageUri"/>
      <h4 class="project-title" data-title="{{$ctrl.project.name}}">{{$ctrl.project.name}}</h4>
    </a>
    <div class="project-actions" ng-if="!$ctrl.hideOptions && $ctrl.permissions && $ctrl.permissions.length">
      <a href ng-click="$ctrl.publishModal()">
        <i class="icon-share"></i>
        <span class="sr-only">Publicar</span>
      </a>
      <a href ng-click="$ctrl.shareModal($ctrl.project)">
        <i class="icon-key"></i>
        <span class="sr-only">Permisos</span>
      </a>
      <a href ng-click="$ctrl.deleteModal()">
        <i class="icon-trash"></i>
        <span class="sr-only">Eliminar</span>
      </a>
    </div>
    <div class="project-preview">
      <a ui-sref="projects.edit.scenes({projectid: $ctrl.project.id})" style="text-decoration: none">
        <!-- IF project has no scenes -->
        <div class="project-preview-container placeholder"
             ng-if="$ctrl.status === 'NOSCENES'"
             style="background-image: url({{$ctrl.projectPlaceholder}})">
        </div>

        <!-- IF not all scenes ingested: -->
        <div class="project-preview-container placeholder"
             ng-if="$ctrl.status === 'PARTIAL'"
             style="background-image: url({{$ctrl.projectPlaceholder}})">
        </div>

        <!-- IF large project -->
        <div class="project-preview-container placeholder"
             ng-if="$ctrl.status == 'LARGE'"
             style="background-image: url({{$ctrl.projectPlaceholder}})">
        </div>

        <!-- IF using a project's thumbnail: -->
        <div class="project-preview-container placeholder"
             ng-if="$ctrl.status === 'CURRENT'"
             style="background-image: url({{$ctrl.projectPlaceholder}})">
          <div class="thumbnail"
               ng-if="$ctrl.showProjectThumbnail"
               style="background-image: url({{$ctrl.thumbnailUrl}})"></div>
          <rf-static-map
            ng-if="!$ctrl.showProjectThumbnail"
            map-id="{{$ctrl.mapId}}"
            options="$ctrl.mapOptions"></rf-static-map>
        </div>
      </a>
    </div>
  </ng-container>

  <ng-container ng-if="$ctrl.slim">
    <rf-status-tag ng-if="$ctrl.status && $ctrl.status != 'CURRENT' " entity-type="project" status="$ctrl.status" class="project-status"></rf-status-tag>
    <img class="avatar tiny" ng-attr-src="{{ $ctrl.project.owner.profileImageUri }}" ng-if="$ctrl.project.owner.profileImageUri"/>
    <h4 class="project-title" data-title="{{$ctrl.project.name}}">{{$ctrl.project.name}}</h4>
    <div class="project-preview">
      <!-- IF project has no scenes -->
      <div class="project-preview-container placeholder"
            ng-if="$ctrl.status === 'NOSCENES'"
            style="background-image: url({{$ctrl.projectPlaceholder}})">
      </div>

      <!-- IF not all scenes ingested: -->
      <div class="project-preview-container placeholder"
            ng-if="$ctrl.status === 'PARTIAL'"
            style="background-image: url({{$ctrl.projectPlaceholder}})">
      </div>

      <!-- IF large project -->
      <div class="project-preview-container placeholder"
            ng-if="$ctrl.status == 'LARGE'"
            style="background-image: url({{$ctrl.projectPlaceholder}})">
      </div>

      <!-- IF using a project's thumbnail: -->
      <div class="project-preview-container placeholder"
            ng-if="$ctrl.status === 'CURRENT'"
            style="background-image: url({{$ctrl.projectPlaceholder}})">
        <div class="thumbnail"
              ng-if="$ctrl.showProjectThumbnail"
              style="background-image: url({{$ctrl.thumbnailUrl}})"></div>
        <rf-static-map
          ng-if="!$ctrl.showProjectThumbnail"
          map-id="{{$ctrl.mapId}}"
          options="$ctrl.mapOptions"></rf-static-map>
      </div>
    </div>
  </ng-container>
</div>
