<div class="modal-header">
    <button type="button" class="close" aria-label="Cerrar" ng-click="$ctrl.dismiss()">
      <i aria-hidden="true" class="icon-cross">
        <span class="sr-only">Cerrar</span>
      </i>
    </button>
    <h4 class="modal-title">Nueva organización</h4>
    <p>Crear una nueva organización para la plataforma</p>
</div>

<div class="modal-body">
  <div class="modal-inner-container small">
    <form name="$ctrl.form" ng-submit="$ctrl.onAdd()">
      <div class="form-group">
        <label for="new-org-name">Nombre de la organización</label>
          <input
            type="text"
            class="form-control"
            name="name"
            ng-model="name"
            id="new-org-name">
      </div>
    </form>
  </div>
</div>

<div class="modal-footer">
  <div class="footer-section left">
      <button type="button" class="btn" ng-click="$ctrl.dismiss()">Cerrar</button>
  </div>
  <div class="footer-section right">
      <button type="button" class="btn btn-primary" ng-click="$ctrl.onAdd()">Crear organización</button>
  </div>
</div>
