<div class="modal-header">
  <button type="button" class="close" aria-label="Cerrar modal" ng-click="$ctrl.dismiss()">
    <i aria-hidden="true" class="icon-cross">
      <span class="sr-only">Cerrar</span>
    </i>
  </button>
  <h4 class="modal-title">Permisos</h4>
  <p>{{$ctrl.resolve.objectName}}</p>
</div>

<div class="modal-body">
  <div class="modal-inner-container small" ng-if="!$ctrl.loading && (!$ctrl.authService.user.personalInfo.firstName || !$ctrl.authService.user.personalInfo.lastName)">
    <span class="modal-icon">
      <i class="icon-settings"></i>
    </span>
    <h2>Actualiza tu información</h2>
    <p>Para compartir necesitas actualizar tu información, de esa manera los otros usuarios podrán saber quién les está compartiendo.</p>
    <a ui-sref="user.settings.profile({userId: 'me'})" class="btn btn-primary">Actualiza tu información personal</a>
  </div>

  <div class="modal-inner-container" ng-if="!$ctrl.loading && $ctrl.authService.user.personalInfo.firstName && $ctrl.authService.user.personalInfo.lastName">
    <form class="add-permission-form">
      <label>Dar permisos a</label>
      <div class="permission-all-in-one">
        <select class="form-control subject-select"
                ng-model="$ctrl.currentTargetSubject"
                ng-change="$ctrl.onSubjectTypeChange()"
        >
          <option ng-repeat="subject in $ctrl.applicableSubjects"
                  value="{{subject.target}}"
          >{{subject.name}}</option>
        </select>
        <input class="form-control combo-box"
                ng-if="$ctrl.currentTargetSubject === 'PLATFORM'"
                placeholder="Dar permisos de VER a todos"
                disabled
        />
	<!--
        <rf-search on-search="$ctrl.onOrganizationSearch(value)"
                    placeholder="Buscar {{$ctrl.getCurrentSubject().plural}}"
                    auto-focus="true"
                    ng-if="$ctrl.currentTargetSubject === 'ORGANIZATION' && !$ctrl.selectedSubject"
                    suggestions="$ctrl.suggestions"
                    show-suggestion-avatars="true"
                    on-suggestion-select="$ctrl.onSubjectSelect(value)"
                    class="combo-box"
        ></rf-search>
        <rf-search on-search="$ctrl.onTeamSearch(value)"
                    placeholder="Buscar {{$ctrl.getCurrentSubject().plural}}"
                    auto-focus="true"
                    ng-if="$ctrl.currentTargetSubject === 'TEAM' && !$ctrl.selectedSubject"
                    suggestions="$ctrl.suggestions"
                    show-suggestion-avatars="true"
                    on-suggestion-select="$ctrl.onSubjectSelect(value)"
                    class="combo-box"
        ></rf-search>
	-->
        <rf-search on-search="$ctrl.onUserSearch(value)"
                    placeholder="Buscar {{$ctrl.getCurrentSubject().plural}}"
                    auto-focus="true"
                    ng-if="$ctrl.currentTargetSubject === 'USER' && !$ctrl.selectedSubject"
                    suggestions="$ctrl.suggestions"
                    show-suggestion-avatars="true"
                    on-suggestion-select="$ctrl.onSubjectSelect(value)"
                    class="combo-box"
        ></rf-search>
        <div class="form-control search-suggestion combo-box" ng-if="$ctrl.selectedSubject">
            <div class="avatar user-avatar image-placeholder" ng-if="!$ctrl.selectedSubject.avatar"></div>
            <div ng-if="$ctrl.selectedSubject.avatar">
              <img class="avatar user-avatar" ng-src="{{$ctrl.selectedSubject.avatar}}"/>
            </div>
            <div class="labels">
              <div>{{$ctrl.selectedSubject.label}}</div>
            </div>
            <button type="button" class="btn-link" ng-click="$ctrl.onClearSelection()">
              <i class="icon-cross"></i>
            </button>
        </div>
      </div>
      <div class="permission-message" ng-if="$ctrl.duplicateDetected">
        <i class="icon-warning"></i>
        <div>
            El {{$ctrl.getCurrentSubject().singular}} seleccionado ya tiene permisos
        </div>
      </div>
      <div class="permission-button-row">
          <button class="btn btn-primary btn-small"
                  ng-click="$ctrl.onActionsAdd()"
                  ng-disabled="$ctrl.duplicateDetected || (!$ctrl.selectedSubjectId && $ctrl.currentTargetSubject !== 'PLATFORM')">
            Añadir permiso
          </button>
      </div>
    </form>
    <div class="permission-list">
      <div class="empty-state" ng-if="!$ctrl.loading && !$ctrl.permissionCount">
        No hay permisos configurados
      </div>
      <rf-permission-item
        actions="$ctrl.applicableActions"
        ng-repeat="(id, actionSet) in $ctrl.actionsBuffer.PLATFORM"
        current-action-tag="actionSet.tag"
        on-change="$ctrl.onActionsChange('PLATFORM', id, value)"
        on-delete="$ctrl.onActionsDelete('PLATFORM', id)">
        <div class="avatar user-avatar image-placeholder" ng-if="!$ctrl.entityCache.user[id].profileImageUri">
          <div>
            <i class="icon-users"></i>
          </div>
        </div>
        <div class="labels">Todos</div>
      </rf-permission-item>
      <!--
      <rf-permission-item 
        actions="$ctrl.applicableActions"
        ng-repeat="(id, actionSet) in $ctrl.actionsBuffer.ORGANIZATION"
        current-action-tag="actionSet.tag"
        on-change="$ctrl.onActionsChange('ORGANIZATION', id, value)"
        on-delete="$ctrl.onActionsDelete('ORGANIZATION', id)">
        <div class="avatar user-avatar image-placeholder" ng-if="!$ctrl.entityCache.organization[id].logoUri"></div>
        <div ng-if="$ctrl.entityCache.organization[id].logoUri">
          <img class="avatar user-avatar" ng-src="{{$ctrl.entityCache.organization[id].logoUri}}"/>
        </div>
        <div class="labels">
          <div>{{ $ctrl.entityCache.organization[id].name || 'Cargando organización' }}</div>
          <div class="subtitle">Organización</div>
        </div>
        <div class="labels" ng-if="$ctrl.entityCache.organization[id] && !$ctrl.entityCache.organization[id].name">
          <div><i class="icon-warning"></i> Error fetching organization</div>
        </div>
      </rf-permission-item>
      <rf-permission-item
        actions="$ctrl.applicableActions"
        ng-repeat="(id, actionSet) in $ctrl.actionsBuffer.TEAM"
        current-action-tag="actionSet.tag"
        on-change="$ctrl.onActionsChange('TEAM', id, value)"
        on-delete="$ctrl.onActionsDelete('TEAM', id)">
        <div class="avatar user-avatar image-placeholder"
              ng-if="!$ctrl.entityCache.organization[$ctrl.entityCache.team[id].organizationId].logoUri"></div>
        <div ng-if="$ctrl.entityCache.organization[$ctrl.entityCache.team[id].organizationId].logoUri">
          <img class="avatar user-avatar"
                ng-src="{{$ctrl.entityCache.organization[$ctrl.entityCache.team[id].organizationId].logoUri}}"
          />
        </div>
        <div class="labels">
          <div>{{ $ctrl.entityCache.team[id].name || 'Cargando equipo' }}</div>
          <div class="subtitle">Equipo</div>
        </div>
        <div class="labels" ng-if="!$ctrl.entityCache.team[id]">
          <div>Loading team...</div>
          <div class="subtitle">Team</div>
        </div>
        <div class="labels" ng-if="$ctrl.entityCache.team[id] && !$ctrl.entityCache.team[id].name">
          <div><i class="icon-warning"></i> Error fetching team</div>
        </div>
      </rf-permission-item>
      -->
      <rf-permission-item 
        actions="$ctrl.applicableActions"
        ng-repeat="(id, actionSet) in $ctrl.actionsBuffer.USER"
        current-action-tag="actionSet.tag"
        on-change="$ctrl.onActionsChange('USER', id, value)"
        on-delete="$ctrl.onActionsDelete('USER', id)">
        <div class="avatar user-avatar image-placeholder" ng-if="!$ctrl.entityCache.user[id].profileImageUri"></div>
        <div ng-if="$ctrl.entityCache.user[id].profileImageUri">
          <img class="avatar user-avatar" ng-src="{{$ctrl.entityCache.user[id].profileImageUri}}"/>
        </div>
        <div class="labels">
          <div>{{ $ctrl.entityCache.user[id].name || 'Cargando usuario' }}</div>
        </div>
      </rf-permission-item>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="footer-section left">
    <button type="button" class="btn" ng-click="$ctrl.dismiss()">Cerrar</button>
  </div>
  <div class="footer-section right" 
        ng-if="$ctrl.objectOwnerId === $ctrl.userId">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.onSave()">Guardar cambios</button>
  </div>
</div>
