<div class="container dashboard">
  <div class="row content stack-sm">
    <div class="column-8">
      <div class="dashboard-header">
        <h3>Geometrías</h3>
        <div class="flex-fill"></div>
        <rf-search on-search="$ctrl.fetchPage(1, value)"
                   value="$ctrl.search"
                   placeholder="Buscar geometrías"
                   auto-focus="true">
        </rf-search>
        <select class="form-control"
                ng-model="$ctrl.currentOwnershipFilter"
        >
          <option value="">All</option>
          <option value="owned">Owned by me</option>
          <option value="shared">Shared with me</option>
        </select>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.importModal()">
          Importar geometrías
        </button>
      </div>
      <rf-pagination-count
          start-index="$ctrl.pagination.startingItem"
          end-index="$ctrl.pagination.endingItem"
          total="$ctrl.pagination.count"
          item-name="shapes"
          ng-if="!$ctrl.currentQuery && $ctrl.results.length"
      >
        <span ng-if="$ctrl.search">buscando <strong>{{$ctrl.search}}</strong></span>
      </rf-pagination-count>
      <div class="text-center" ng-show="$ctrl.currentQuery">
        <div>Cargando geometrías</div>
        <span class="list-placeholder h3">
          <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
        </span>
      </div>
      <div class="list-group">
        <rf-shape-item shape="shape" ng-repeat="shape in $ctrl.results track by shape.id">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-square btn-danger"
                    ng-click="$ctrl.deleteShape(shape)"
            >
              <i class="icon-trash"></i>
            </button>
          </div>
        </rf-shape-item>
      </div>
      <div>
        <rf-call-to-action-item
            title="No has importado geometrías"
            class="panel panel-off-white"
            ng-if="$ctrl.currentOwnershipFilter === 'owned' && !$ctrl.currentQuery && !$ctrl.search && $ctrl.pagination && !$ctrl.pagination.count">
          <p class="pb-25">
<!--            Every shape that you import or create will be listed here.
            After you have imported one or more shapes, you can return to this page to view them.
-->
            Cada geometría que importes o crees se listará aquí.
            Después de que hayas importado una o más geometrías puedes volver a esta página para verlas.
          </p>

          <a class="btn btn-primary" ng-click="$ctrl.importModal()">Importar geometría</a>
          <p>
            <a>Empezando con geometrías</a>
          </p>
        </rf-call-to-action-item>
        <rf-call-to-action-item
            ng-if="$ctrl.currentOwnershipFilter === 'shared' && !$ctrl.currentQuery && !$ctrl.search && $ctrl.pagination && !$ctrl.pagination.count"
            title="No shapes have been shared with you yet"
            class="panel panel-off-white">
          <p class="pb-25">
            Once another user shares vector data with you or with organizations or teams you're a part of, you'll be able to see it here.
          </p>
        </rf-call-to-action-item>
        <div ng-show="!$ctrl.currentQuery && $ctrl.search && !$ctrl.pagination.count">
          <rf-call-to-action-item
              title="Tu búsqueda no encontró geometrías"
              class="panel panel-off-white">
            <p class="pb-25">
              No se pudo encontrar geometrías con "{{$ctrl.search}}".
            </p>
          </rf-call-to-action-item>
        </div>
        <div class="cta-row" ng-show="$ctrl.fetchError">
          <rf-call-to-action-item
              title="Ocurrió un error al cargar las geometrías."
              class="panel panel-off-white">
            <div class="pb-25">
<!--
              Please refresh the page and try again.<br />
              If the problem persists, please contact {{$ctrl.BUILDCONFIG.APP_NAME}} support.
-->
              Por favor actualiza la página y vuelve a intentar.<br />
              Si el problema continúa, por favor contacta al equipo de soporte.
            </div>
          </rf-call-to-action-item>
        </div>
      </div>
      <rf-pagination-controls
          ng-show="!$ctrl.fetchError"
          pagination="$ctrl.pagination"
          is-loading="$ctrl.currentQuery"
          on-change="$ctrl.fetchPage(value)"
      ></rf-pagination-controls>
    </div>
    <div class="column spacer"></div>
    <div class="column">
      <div class="aside">
        <section>
<!--
          <h5>What are Shapes?</h5>
          <p class="font-size-small">
            Shapes are polygons, either drawn directly on the map or uploaded as a shapefile.
          </p>
          <h5>What restrictions are there?</h5>
          <p class="font-size-small">
            Currently we can import files that are up to 20mb in size.
            This number may change in the future as we examine usage scenarios.
          </p>
-->
          <h5>¿Qué son las geometrías?</h5>
          <p class="font-size-small">
            Las geometrías son polígonos, ya sea dibujados directamente en el mapa o subidos como un shapefile.
          </p>
          <h5>¿Qué restricciones hay?</h5>
          <p class="font-size-small">
            Actualmente se pueden importar archivos de hasta 20mb de tamaño.
          </p>
	</section>
      </div>
    </div>
  </div>
</div>
