<div class="node-histogram-header">
  <div class="mask-controls" ng-class="{'no-visibility': $ctrl.isSource}">
    <div>
      Usar máscara
    </div>
    <div class="histogram-checkboxes">
      <label class="checkbox dark"
             ng-class="{active: $ctrl.options.masks.min}"
      >
          <input type="checkbox"
                 ng-checked="$ctrl.options.masks.min"
                 ng-click="$ctrl.onMaskChange('min', !$ctrl.options.masks.min)"
                 ng-disabled="$ctrl.options.discrete" />Min
      </label>
      <label class="checkbox dark"
             ng-class="{active: $ctrl.options.masks.max}"
             ng-disabled="$ctrl.options.discrete || $ctrl.isSource"
      >
          <input type="checkbox"
                 ng-checked="$ctrl.options.masks.max"
                 ng-click="$ctrl.onMaskChange('max', !$ctrl.options.masks.max)"
                 ng-disabled="$ctrl.options.discrete" />Máx
      </label>
    </div>
  </div>
  <rf-color-scheme-dropdown
      color-scheme-options="$ctrl.options.baseScheme"
      on-change="$ctrl.onColorSchemeChange(value)"
      data-disabled="$ctrl.isSource"
      ng-show="!$ctrl.isSource"
  ></rf-color-scheme-dropdown>
  <button class="btn btn-square btn-small btn-ghost"
          ng-click="$ctrl.customColorModal()"
          ng-disabled="!$ctrl.histogram"
          ng-show="!$ctrl.isSource"
          title="Personalizar mapa de colores"
  >
    <span class="icon-settings"></span>
  </button>
</div>

<div class="graph-container"
     ng-disabled="$ctrl.isSource"
     ng-attr-title="{{$ctrl.isSource && 'No se puede ajustar la vista previa de las entradas'}}"
>
  <svg ng-attr-id="graph-{{$ctrl.graphId}}" height="100px" width="100%"></svg>
  <rf-histogram-breakpoint
      ng-if="$ctrl.plot && bp.options.style !== 'hidden' && !$ctrl.isSource"
      ng-repeat="bp in $ctrl.breakpoints track by bp.id"
      ng-mouseover="$ctrl.onBpMouseover(bp)"
      ng-class="{'active': $ctrl.lastMouseOver === bp.id}"
      data-color="bp.color"
      data-breakpoint="bp.value"
      data-range="$ctrl.options.viewRange"
      data-precision="$ctrl.precision"
      data-options="bp.options"
      on-breakpoint-change="$ctrl.debouncedBreakpointChange(bp, breakpoint)"
  ></rf-histogram-breakpoint>
  <rf-histogram-breakpoint
      ng-if="$ctrl.isSource"
      data-breakpoint="$ctrl.options.dataRange.min"
      data-range="$ctrl.options.dataRange"
      data-precision="$ctrl.precision"
  >
  </rf-histogram-breakpoint>
  <rf-histogram-breakpoint
      ng-if="$ctrl.isSource"
      data-breakpoint="$ctrl.options.dataRange.max"
      data-range="$ctrl.options.dataRange"
      data-precision="$ctrl.precision"
  >
  </rf-histogram-breakpoint>
  <div class="histogram-placeholder" ng-if="$ctrl.histogram.fetching">
    <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.histogram.fetching}"></span>
      Cargando
  </div>
  <div class="histogram-placeholder" ng-if="$ctrl.noValidData && !$ctrl.histogram.fetching">
    El histograma sólo tiene un valor
  </div>
  <div class="histogram-placeholder" ng-if="$ctrl.histogram.error">
    Ocurrió un error al generar este histograma. Verifica que las entradas sean válidas.
  </div>
</div>

<style ng-if="$ctrl.graph">
 #graph-{{$ctrl.graphId}} .data-fill {
   fill: url(#line-gradient-{{$ctrl.graphId}}) !important;
   fill-opacity: 1 !important;
   stroke: url(#line-gradient-{{$ctrl.graphId}}) !important;
   stroke-opacity: 1 !important;
 }
</style>
