<div class="lab-workspace"
     ng-class="{ 'is-dragging': $ctrl.panActive, 'is-comparing': $ctrl.isComparing }"
     ng-style="$ctrl.workspaceStyle"
>
</div>
<div class="map-container-controls align-left"
     ng-class="{ 'is-dragging': $ctrl.panActive }"
     ng-if="!$ctrl.readonly"
>
  <!-- <button class="btn btn-default btn-square btn-small" -->
  <!-- type="button" -->
  <!-- title="Add Node" -->
  <!-- disabled> -->
  <!-- <i class="icon-plus"></i> -->
  <!-- </button> -->
  <!-- <button class="btn btn-default btn-square btn-small" -->
  <!-- type="button" -->
  <!-- title="Add Equation" -->
  <!-- disabled> -->
  <!-- &#x3C;/&#x3E; -->
  <!-- </button> -->
  <div tooltips tooltip-template="Elige nodo para la vista previa"
       tooltip-size="small"
       tooltip-class="map-control-tooltip"
       tooltip-side="right">
  <button class="map-control-btn"
          type="button"
          ng-click="$ctrl.onPreviewClick()"
          ng-disabled="!$ctrl.canPreview()"
          ng-class="{'active': $ctrl.canPreview() && $ctrl.selectingNode === 'preview'}">
    <i class="icon-map"></i>
  </button>
  </div>
  <div tooltips tooltip-template="Elige 2 nodos a comparar"
       tooltip-size="small"
       tooltip-class="map-control-tooltip"
       tooltip-side="right">
  <button class="map-control-btn last-of-type"
          type="button"
          ng-click="$ctrl.onCompareClick()"
          ng-disabled="!$ctrl.canPreview()"
          ng-class="{'active': $ctrl.canPreview() && ($ctrl.selectingNode === 'compare' || $ctrl.selectingNode === 'select')}">
    <i class="icon-compare"></i>
  </button>
  </div>
  <!-- <button class="btn btn-default btn-square btn-small" -->
  <!-- type="button" -->
  <!-- title="Add Comment" -->
  <!-- disabled> -->
  <!-- <i class="icon-edit"></i> -->
  <!-- </button> -->
</div>
<div class="map-container-controls"
     ng-class="{ 'is-dragging': $ctrl.panActive }">
  <div class="zoom-level" title="Current Zoom">{{($ctrl.scale * 100).toFixed(0)}}%</div>
  <button class="map-control-btn"
          title="Máz zoom"
          ng-click="$ctrl.zoomIn()"
          tooltips tooltip-template="Zoom in" tooltip-size="small" tooltip-class="map-control-tooltip" tooltip-side="left">
    <i class="icon-plus"></i>
  </button>
  <button class="map-control-btn"
          title="Menos zoom"
          ng-click="$ctrl.zoomOut()"
          tooltips tooltip-template="Zoom out" tooltip-size="small" tooltip-class="map-control-tooltip" tooltip-side="left">
    <i class="icon-minus"></i>
  </button>
  <button class="map-control-btn last-of-type"
          title="Ajustar al diagrama"
          ng-click="$ctrl.scaleToContent()"
          tooltips tooltip-template="Zoom to fit" tooltip-size="small" tooltip-class="map-control-tooltip" tooltip-side="left">
    <i class="icon-extent"></i>
  </button>
</div>
