<div class="list-group-item"
     ng-if="$ctrl.annotation.geometry && !($ctrl.editingAnnotation === $ctrl.annotation.id)">
  <div class="annotation-item">
    <div class="annotation-type-icon-container">
      <i class="icon-polygon color-primary"
         ng-if="$ctrl.annotation.geometry.type === 'Polygon' || $ctrl.annotation.geometry.type === 'MultiPolygon'"></i>
      <i class="icon-map-pin color-primary"
         ng-if="$ctrl.annotation.geometry.type === 'Point'"></i>
    </div>
    <p class="annotation-confidence" ng-if="$ctrl.annotation.properties.machineGenerated">
      <i>{{$ctrl.annotation.properties.confidence}}</i>
    </p>
    <div class="annotation-name"
         ng-if="$ctrl.annotation.properties.label.length">
      <span class="color-dark">{{$ctrl.annotation.properties.label}}</span>
    </div>
    <div class="annotation-name "
         ng-if="!$ctrl.annotation.properties.label.length">
      <span class="color-dark">Sin etiquetas</span>
    </div>
    <div class="btn-group" ng-if="$ctrl.annotation.properties.machineGenerated">
      <button class="btn btn-primary btn-block btn-qa-check-button"
              type="button"
              ng-click="$ctrl.onQaCheck('NO')"
              ng-class="{fail: $ctrl.annotation.properties.quality === 'NO'}">
        <i class="icon-cross qa-check"></i>
      </button>
      <button class="btn btn-primary btn-block btn-qa-check-button"
              type="button"
              ng-click="$ctrl.onQaCheck('YES')"
              ng-class="{pass: $ctrl.annotation.properties.quality === 'YES'}">
        <i class="icon-check qa-check"></i>
      </button>
    </div>
  </div>
  <div class="list-group-right">
    <div uib-dropdown class="dropdown">
      <button class="btn btn-tiny" uib-dropdown-toggle>
        <i class="icon-menu"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-light dropdown-menu-right" uib-dropdown-menu role="menu">
        <li >
          <a ng-click="$ctrl.sidebarDisabled || $ctrl.onAnnotationEdit($event)">Editar</a>
        </li>
        <li >
          <a ng-click="$ctrl.sidebarDisabled || $ctrl.onAnnotationClone($event)">Clonar</a>
        </li>
        <li >
          <a ng-click="$ctrl.sidebarDisabled || $ctrl.onBulkCreateClick($event)">Crear en masa</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a class="color-danger" ng-click="$ctrl.sidebarDisabled || $ctrl.onAnnotationDelete($event)">Eliminar</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="list-group-item"
     ng-if="!$ctrl.annotation.geometry || ($ctrl.editingAnnotation === $ctrl.annotationId)">
  <div class='annotation-new'>
    <form>
      <input type="text"
             class="form-control label-name-input"
             ng-init="$ctrl.labelNameInput = $ctrl.annotation.properties.label"
             ng-model="$ctrl.labelNameInput"
             ng-change="$ctrl.onLabelNameChange()"
             ng-class="{'is-invalid': $ctrl.isInvalid }"
             ng-blur="$ctrl.onLabelFieldBlur()"
             ng-focus="$ctrl.onLabelFieldFocus()"
             placeholder="{{$ctrl.annotation.properties.label || 'Nombre de la etiqueta...'}}">
      <div class="label-name-selections"
           ng-if="$ctrl.showMatchedLabels">
        <div class="label-name-option"
             ng-repeat="label in $ctrl.labelInputsMatch"
             ng-click="$ctrl.onSelectLabelName(label)"
             ng-mouseover="$ctrl.onHoverOption(true)"
             ng-mouseleave="$ctrl.onHoverOption(false)">
             {{label}}
        </div>
      </div>
    <textarea class="form-control label-text"
              ng-init="$ctrl.newLabelDescription = $ctrl.annotation.properties.description"

              ng-model="$ctrl.newLabelDescription"
              ng-if="!$ctrl.annotation.geometry || ($ctrl.editingAnnotation === $ctrl.annotation.id)"
              placeholder="Descripción..."></textarea>
    <button
        class="btn btn-light annotation-cancel"
        ng-click="$ctrl.finishEditingAnnotation()">
      Cancel
    </button>
    <button type="button"
           class="btn btn-tertiary annotation-confirm"
           ng-disabled="$ctrl.labelNameInput.length < 1"
           ng-click="$ctrl.onSaveClick()">
      Save
    </button>
    </form>
  </div>
</div>
