<div class="sidebar-actions-group">
  <button class="btn btn-small btn-transparent" ng-click="$ctrl.showNewLayerModal()">
    <i class="icon-plus"></i> New Layer
  </button>
  <div style="flex: 1;"></div>
  <select class="btn btn-small btn-transparent"
          ng-model="$ctrl.ordering">
    <option value="">Newest</option>
    <option value="manual">Manual</option>
    <option value="date">Date</option>
  </select>
  <div class="btn btn-small btn-transparent" uib-dropdown uib-dropdown-toggle>
    Layer Visibility
    <ul class="dropdown-menu dropdown-menu-light drop-left" uib-dropdown-menu role="menu">
      <li role="menuitem">
        <a href ng-click="$ctrl.showDefaultLayer()">Show only default</a></li>
      <li role="menuitem">
        <a href ng-click="$ctrl.showPageLayers()">Show all on page</a></li>
    </ul>
  </div>

</div>
<div class="sidebar-scrollable list-group">
  <rf-layer-item
      layer="layer"
      layer-actions="$ctrl.layerActions[$index]"
      subtext="layer.subtext"
      selected="$ctrl.isSelected(layer.id)"
      on-select="$ctrl.onSelect(layerId)"
      visible="$ctrl.isVisible(layer.id)"
      on-hide="$ctrl.onHide(layerId)"
      ng-repeat="layer in $ctrl.layerList track by layer.id">
  </rf-layer-item>
  <rf-pagination-controls
      pagination="$ctrl.pagination"
      is-loading="$ctrl.currentQuery"
      on-change="$ctrl.fetchPage(value)"
      ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
  ></rf-pagination-controls>
</div>
