<div class="sidebar-static">
  <p>
    <strong class="color-dark">{{$ctrl.scene.name}}</strong><br>
    {{$ctrl.datasourceLoaded ? $ctrl.datasource.name : 'Cargando fuente de datos'}}
  </p>
  <div class="sidebar-actions">
    <button class="btn btn-square" ng-click="$ctrl.onCloseClick()">
      <i class="icon-cross"></i>
    </button>
  </div>
</div>
<div class="sidebar-scrollable">
  <div class="content">
    <img ng-if="$ctrl.scene.thumbnails.length && $ctrl.showThumbnail"
        ng-attr-src="{{$ctrl.thumbnailService.getBestFitUrl($ctrl.scene.thumbnails, 275)}}"
        class="center-img rounded-img detail-img">
    <div ng-if="!$ctrl.scene.thumbnails.length && $ctrl.showThumbnail"
         class="center-img rounded-img detail-img image-placeholder block-placeholder color-white">
         <div>Vista previa no disponible</div>
    </div>
    <h5 class="color-dark">Propiedades de la escena</h5>
    <dl class="meta-list">
      <dt ng-repeat-start="(field, value) in $ctrl.scene.filterFields">
        {{field}}
      </dt>
      <dd ng-repeat-end>{{value}}</dd>
      <dt ng-if-start="$ctrl.scene.createdAt">Fecha de creación</dt>
      <dd ng-if-end>{{$ctrl.scene.createdAt | date}}</dd>
      <dt ng-if-start="$ctrl.scene.modifiedAt">Fecha de modificación</dt>
      <dd ng-if-end>{{$ctrl.scene.modifiedAt | date}}</dd>
      <dt ng-if-start="$ctrl.scene.datasource">Fuente de datos</dt>
      <dd ng-if-end>{{$ctrl.scene.datasource}}</dd>
      <dt>Visiblidad</dt>
      <dd>{{$ctrl.scene.visibility}}</dd>
      <dt ng-repeat-start="(field, value) in $ctrl.scene.statusFields">
        {{field}}
      </dt>
      <dd ng-repeat-end>{{value}}</dd>
    </dl>
    <h5 class="color-dark">Metadatos de la escena</h5>
    <dl class="meta-list">
      <dt ng-repeat-start="(metaKey, metaVal) in $ctrl.scene.sceneMetadata">
        {{metaKey}}
      </dt>
      <dd ng-repeat-end>{{metaVal}}</dd>
    </dl>
  </div>
</div>
<div class="sidebar-static">
  <div class="sidebar-actions">
    <button class="btn"
            ng-class="$ctrl.isSelected ? 'btn-secondary' : ''"
            ng-click="$ctrl.onSelectClick()">
      <span ng-if="!$ctrl.isSelected">
        Seleccionar escena
      </span>
      <span ng-if="$ctrl.isSelected">
        Deseleccionar
      </span>
    </button>
  </div>
</div>
