<div class="modal-header">
	<button type="button" class="close" aria-label="Cerrar"
          ng-click="$ctrl.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Tu nuevo token refresh</h4>
  <p>Esta es la únicia vez que este token será visible. Guárdalo en un lugar seguro.</p>
</div>
<div class="modal-body">
  <div class="form-group all-in-one stacked">
    <input class="form-control"
           placeholder="Token escondido"
           type="text"
           ng-if="!$ctrl.showToken"
           readonly>
    <input class="form-control"
           type="text"
           ng-model="$ctrl.refreshToken"
           ng-if="$ctrl.showToken"
           readonly>
    <button class="btn btn-link" ng-click="$ctrl.toggleTokenVisibility()">
      <span ng-if="!$ctrl.showToken">Mostrar token</span>
      <span ng-if="$ctrl.showToken">Esconder token</span>
    </button>
  </div>
</div>
<div class="modal-footer">
  <div class="footer-section left">
    <button type="button" class="btn" aria-label="Cerrar"
            ng-click="$ctrl.dismiss()">
      Cerrar
    </button>
  </div>
</div>
