
  <div class="classification-row">
    <div class="class-header">Valores antiguos</div>
    <div class="class-header">Valores nuevos</div>
  </div>
  <div class="classification-ranges">
    <div class="classification-row"
         ng-repeat="break in $ctrl.classifications">
      <rf-reclassify-entry
        break="break"
        entry-id="$index"
        on-range-change="$ctrl.updateEntryRange(break, $index)"
        on-value-change="$ctrl.updateEntryValue(break, $index)"
        on-break-change="$ctrl.updateBreak(break, $index)"
        on-validity-change="$ctrl.trackInvalidEntries(validity)">
    </div>
  </div>
