<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Cerrar" ng-click="$ctrl.handleClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Cargar un logo
    </h4>
    <p>Cargar una foto para el logo de la organización.</p>
  </div>
  <div class="modal-body"
       ng-if="$ctrl.currentStepIs('UPLOAD')"
       ngf-drop-available=true
       ng-model="$ctrl.selectedPhoto"
       accept="image/png"
       ngf-max-height="512"
       ngf-change="$ctrl.photoSelected($file, $invalidFiles)"
       ngf-drop>
    <!--Local picture import -->
    <div class="content">
      <h3 class="no-margin">Cargar imagen local</h3>
      <ng-container>
        <p>Elige una foto de tu computadora y la usaremos como tu foto de perfil. Sólo soportamos imágenes .PNG de menos de 512 x 512 píxeles.</p>
        <br/>
        <br/>
        <div class="text-center">
          <button class="btn btn-primary"
                  ng-model="$ctrl.selectedPhoto"
                  accept="image/png"
                  ngf-max-height="512"
                  ngf-change="$ctrl.photoSelected($file, $invalidFiles)"
                  ngf-select>
            Elige un archivo
          </button>
          <br/>
          <br/>
          o arrástralo aquí
        </div>
        <p ng-if="$ctrl.selectedPhotoErrorMsg" style="color: red;">{{$ctrl.selectedPhotoErrorMsg}}</p>
      </ng-container>
    </div>
  </div>
  <!--Picture preview -->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('PREVIEW')">
    <div class="content">
      <h3 class="no-margin">Vista previa</h3>
      <div class="text-center">
        <img ngf-thumbnail="$ctrl.selectedPhoto">
      </div>
    </div>
  </div>
  <!-- Upload Progress -->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('UPLOAD_PROGRESS')">
    <div class="content">
      <h3 class="no-margin">Progress</h3>
      {{$ctrl.uploadInProgress ? 'En proceso' :
        $ctrl.uploadDone ? 'Finalizado' : 'Fallido: ' + $ctrl.currentError}}
    </div>
  </div>
</div>
  <!--Default Footer-->
  <div class="modal-footer">
    <button type="button" class="btn pull-left"
            ng-if="$ctrl.allowClose()"
            ng-click="$ctrl.handleClose()">
      Cancelar
    </button>

    <button type="button" class="btn"
            ng-if="$ctrl.hasPrevious()"
            ng-click="$ctrl.handlePrevious()"
            ng-disabled="!$ctrl.allowPrevious()">
      Atrás
    </button>
    <button type="button" class="btn btn-primary"
            ng-if="$ctrl.hasNext()"
            ng-click="$ctrl.handleNext()"
            ng-disabled="!$ctrl.allowNext()">
      Siguiente
    </button>
    <button type="button" class="btn btn-primary"
            ng-if="$ctrl.allowDone()"
            ng-click="$ctrl.handleDone()">
      Terminar
    </button>
  </div>
</div>
