<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Cerrar" ng-click="$ctrl.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Exportar proyecto
    </h4>
    <p>
      {{$ctrl.resolve.project.name}}
    </p>
  </div>

  <!-- Body for export start -->
  <div class="modal-body" ng-if="$ctrl.exportNotStarted()">
    <div class="content">
      <h4 class="modal-content-header">Opciones de exportado</h4>
        <div>
          <p>
              Select what type of export to perform. A Dropbox export will send your
              exported file to Dropbox, if you've connected your Dropbox account. Otherwise,
              export this project to S3. To set up Dropbox, visit your account settings.
          </p>
          <div class="form-group">
          <label>Export Type</label>
          <div class="form-group">
            <div class="btn-group inline">
              <button class="btn btn-primary"
                      ng-repeat="exportType in $ctrl.exportTypes"
                      ng-click="$ctrl.onExportTypeChange(exportType)"
                      ng-class="{'active': exportType.active}">
              {{exportType.label}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div>
          <p>
            Select the zoom level at which you'd like to generate your project export.
            Valid zoom levels range from 1 to 22.
            Higher zoom levels will create larger files and take longer to process.
          </p>
          <div class="form-group">
            <label>Zoom level</label>
            <label for="zoom-level" class="sr-only">Export zoom level</label>
            <rzslider id="export-zoom-level"
                      class="light"
                      rz-slider-model="$ctrl.zoom"
                      rz-slider-options="$ctrl.zoomSlider.options">
            </rzslider>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Body for export success -->
  <div class="modal-body" ng-if="$ctrl.exportSuccess">
    <div class="content">
      <h4 class="modal-content-header">Your project export has started</h4>
      <p>You'll be notified when the export process has completed and your files are ready</p>
    </div>
  </div>

  <!-- Body for export failure -->
  <div class="modal-body" ng-if="$ctrl.exportFailure">
    <div class="content">
      <h3>There was a problem starting the export.</h3>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn pull-left"
            ng-click="$ctrl.dismiss()"
            ng-if="$ctrl.exportNotStarted()">
      Cancel
    </button>
    <button class="btn btn-primary"
            ng-click="$ctrl.createExport()"
            ng-if="$ctrl.exportNotStarted()">
      Start project export
    </button>
    <button class="btn btn-primary" ng-click="$ctrl.dismiss()" ng-if="!$ctrl.exportNotStarted()">
      Done
    </button>
  </div>
</div>
