<div class="modal-body">
  <input class="form-control"
         type="text"
         placeholder="Search"
         ng-model="$ctrl.query"
         ng-model-options="{debounce: 250}"
         ng-change="$ctrl.search()">
  <div>
    <ul class="map-search-results"
        ng-if="$ctrl.shouldShowResults()">
      <li class="map-search-results-item"
          ng-repeat="location in $ctrl.results.suggestions"
          ng-class="{ 'active': $ctrl.isActiveResultIndex($index) }"
          ng-click="$ctrl.selectLocation($index)">
        <div class="label">{{location.label}}</div>
        <div class="info-text" ng-if="$ctrl.isActiveResultIndex($index)">
          <div class="keyboard-shortcut-key">enter</div>
        </div>
      </li>
    </ul>
    <div class="map-search-prompt" ng-if="$ctrl.shouldShowLoadingMessage()">Buscando...</div>
    <div class="map-search-prompt" ng-if="$ctrl.shouldShowNoResultsMessage()">No hay resultados para tu búsqueda</div>
    <div class="map-search-prompt" ng-if="$ctrl.shouldShowSearchPrompt()">Busca una ciudad o dirección</div>
  </div>
</div>
