<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Cerrar" ng-click="$ctrl.dismiss()">
      <i aria-hidden="true" class="icon-cross">
        <span class="sr-only">Cerrar</span>
      </i>
    </button>
    <h4 class="modal-title">{{$ctrl.resolve.title}}</h4>
  </div>
  <div class="modal-body">
    <input type="text"
           class="form-control"
           placeholder="Ingresar token de la API"
           ng-model="$ctrl.inputValue"
    >
  </div>
  <div class="modal-footer">
    <div class="footer-section left">
      <button ng-click="$ctrl.dismiss()"
              class="btn">
        Cancelar
      </button>
    </div>
    <div class="footer-section right">
      <button ng-click="$ctrl.close({$value: $ctrl.inputValue})"
              class="btn btn-primary">
        Guardar
      </button>
    </div>
  </div>
</div>
