<div class="panel-body">
  <div class="row">
    <div class="column noflex">
      <img ng-if="$ctrl.templateData.screenshots[0]"
       ng-src="{{$ctrl.templateData.screenshots[0].url}}"
       class="rounded-img item-img">
      <div ng-if="!$ctrl.templateData.screenshots.length"
           class="rounded-img item-img image-placeholder"
           style="height: 75px; width: 75px;">
      </div><br>
      <!-- Temporarily add execute btn until detail page designed -->
      <a ui-sref="lab.startAnalysis({
                    templateid: $ctrl.templateData.id, template: $ctrl.templateData
                  })"
         class="btn btn-primary btn-tiny btn-block">
        Usar plantilla
      </a>
    </div>
    <div class="column">
      <h4 class="panel-title">{{$ctrl.templateData.title}}</h4>
      <p>{{$ctrl.templateData.description}}</p>
      <strong>Creada por: {{$ctrl.templateOwner}}</strong>
    </div>
  </div>
  <div uib-dropdown class="dropdown template-delete-dropdown" ng-if="$ctrl.showDelete || $ctrl.showShare">
    <button class="btn btn-tiny" uib-dropdown-toggle>
      <i class="icon-menu"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-light dropdown-menu-right" uib-dropdown-menu role="menu">
      <li>
        <a class="color-danger" ng-click="$ctrl.onClickDeleteTemplate()">Eliminar</a>
      </li>
    </ul>
  </div>
</div>
