<div class="container dashboard admin-settings">
  <div class="sidebar">
    <nav>
      <a ui-sref="user.settings.profile" ui-sref-active="active">Perfil</a>
      <!--
      <a ui-sref="user.settings.api-tokens"
         ng-class="{
                   'active': $ctrl.$state.$current.name.includes('api-tokens')
                   }">
        API Tokens
      </a>
      <a ui-sref="user.settings.map-tokens"
         ng-class="{
                   'active': $ctrl.$state.$current.name.includes('map-tokens')
                   }">
        Map Tokens
      </a>
      <a ui-sref="user.settings.connections" ui-sref-active="active">Third Party Connections</a>
      <a ui-sref="user.settings.privacy" ui-sref-active="active">Privacy</a>
      <a ui-sref="user.settings.notification" ui-sref-active="active">Notifications</a>
      -->
    </nav>
  </div>
  <ui-view class="main"></ui-view>
</div>
