<div class="filter">
  <label>{{$ctrl.filter.label}}</label>
  <div class="form-group all-in-one input-dark date-range-select" ng-click="$ctrl.openDateRangePickerModal()">
    <input 
      type="text" 
      class="form-control"
      readonly 
      ng-if="$ctrl.datefilterPreset"
      value="{{$ctrl.datefilterPreset}}"
    >
    <input 
      type="text" 
      class="form-control"
      readonly 
      ng-if="!$ctrl.datefilterPreset"
      value="{{$ctrl.datefilter.start.calendar()}} to {{$ctrl.datefilter.end.calendar()}}"
    >
    <button 
      class="btn btn-small btn-link">
      <span class="sr-only">Fijar rango de fechas</span>
      <i class="icon-calendar" aria-hidden="true"></i>
    </button>
  </div>
  <div class="flex-display align-right columns-center">
    <rf-toggle value="$ctrl.usingUTC" on-change="$ctrl.onSetUTC(value)">
      <label>Usar fechas en UTC</label>
    </rf-toggle>
    <i class="icon-help"
      tooltips
      tooltip-template="Las escenas se filtran usando la definición UTC de medianoche a las 00:00 GMT. Desactiva esto para usar tu definición local de la medianoche. Esto puede resultar en mostrar escenas con diferentes fechas UTC dependiendo de tu zona horaria."
      tooltop-size="small"
      tooltip-class="rf-tooltip"
      tooltip-side="bottom right"
    ></i>
  </div>
</div>
