<div class="modal-header">
  <button type="button" class="close" aria-label="Cerrar" ng-click="$ctrl.dismiss()">
    <i aria-hidden="true" class="icon-cross">
      <span class="sr-only">Cerrar</span>
    </i>
  </button>
  <h4 class="modal-title">{{$ctrl.resolve.title}}</h4>
  <p>{{$ctrl.resolve.subtitle}}</p>
</div>
<div class="modal-body">
  <div class="modal-inner-container small text-center">
      <span class="modal-icon"
            ng-class="$ctrl.resolve.feedbackIconType">
        <i ng-class="$ctrl.resolve.feedbackIcon"></i>
      </span>
      <div ng-bind-html="$ctrl.resolve.content"></div>
      <button type="button"
              class="btn"
              ng-class="$ctrl.resolve.feedbackBtnType"
              ng-click="$ctrl.close()">
        {{$ctrl.resolve.feedbackBtnText}}
      </button>
  </div>
</div>
<div class="modal-footer">
  <div class="footer-section left">
    <button type="button" class="btn" ng-click="$ctrl.dismiss()">{{$ctrl.resolve.cancelText}}</button>
  </div>
</div>
