<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Cerrar"
            ng-click="$ctrl.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Añadir usuarios
    </h4>
    <p ng-if="!$ctrl.resolve.modalText">Elige usuarios para añadir a este {{$ctrl.resolve.groupType}}.</p>
    <p ng-if="$ctrl.resolve.modalText">{{$ctrl.resolve.modalText}}</p>
  </div>
  <div class="modal-body">
    <div ng-if="$ctrl.hasPermission">
      <div class="text-right">
        <input type="text" class="form-control admin-search" placeholder="Search for users"
               ng-model="$ctrl.search" ng-disabled="$ctrl.fetching && !$ctrl.search.length">
        <p class="font-size-small"
          ng-if="!$ctrl.searchString && $ctrl.pagination"
        >
         Mostrando {{$ctrl.pagination.startingItem}} - {{$ctrl.pagination.endingItem}} de {{$ctrl.pagination.count}} usuarios
        </p>
      </div>
      <table class="admin-table admin-platform-user-table" ng-if="!$ctrl.fetching">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Añadir como administrador</th>
            <th>Elegir</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in $ctrl.users track by $index">
            <td class="username">
              <div class="placeholder-avatar" ng-if="!user.profileImageUri"></div>
              <div class="user-avatar" ng-if="user.profileImageUri">
                <img class="avatar" ng-src="{{user.profileImageUri}}">
              </div>
              <div>
                {{user.name || user.email || user.id}}
              </div>
            </td>
            <td class="emails" ng-class="{'color-light': !user.email}">
              {{user.email || 'None'}}
            </td>
            <td>
              <rf-toggle value="$ctrl.selected.has(user.id) && $ctrl.selected.get(user.id)"
                         on-change="$ctrl.toggleUserSelect(user, true)"></rf-toggle>
            </td>
            <td class="actions">
              <rf-toggle value="$ctrl.selected.has(user.id)" on-change="$ctrl.toggleUserSelect(user, false)">
              </rf-toggle>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table-loading" ng-if="$ctrl.fetching">
        <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetching}"></span>
      </div>
      <!-- Pagination -->
      <div class="list-group text-center"
           ng-show="!$ctrl.loading && $ctrl.lastUserResult && $ctrl.pagination.show && !$ctrl.errorMsg">
        <ul uib-pagination
            items-per-page="$ctrl.lastUserResult.pageSize"
            total-items="$ctrl.pagination.count"
            ng-model="$ctrl.currentPage"
            max-size="4"
            rotate="true"
            boundary-link-numbers="true"
            force-ellipses="true"
            ng-change="$ctrl.fetchUsers($ctrl.currentPage, $ctrl.search)">
        </ul>
      </div>
    </div>
    <div ng-if="!$ctrl.hasPermission">
      <p>
        {{$ctrl.permissionDeniedMsg}}
        <a ng-href="mailto:{{$ctrl.adminEmail}}" ng-if="$ctrl.adminEmail">{{$ctrl.subject}}</a>
        <span ng-if="!$ctrl.adminEmail">{{$ctrl.subject}}</span>
        .
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <div class="footer-section left">
      <button type="button" class="btn"
              ng-click="$ctrl.dismiss()">
        Cancelar
      </button>
    </div>
    <div class="footer-section right">
      <span class="color-danger">{{$ctrl.error}}</span>
      <button type="button"
              class="btn btn-primary"
              ng-click="$ctrl.addUsers()"
              ng-disabled="!$ctrl.hasPermission">
        Añadir usuarios
      </button>
    </div>
  </div>
</div>
