<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
<!--    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.closeWithData()"> -->
    <button type="button" class="close" aria-label="Cerrar" ng-click="$ctrl.closeWithData()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Crear proyecto
    </h4>
    <p>Empieza con un nuevo proyecto</p>
  </div>

  <!--Body for TYPE-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('TYPE')">
    <div class="content">
      <h3 class="modal-content-header">Dale un nombre a tu proyecto</h3>
      <form ng-submit="$ctrl.handleNext()">
        <div class="form-group all-in-one">
          <label for="name"><i class="icon-project"></i></label>
          <input id="name" type="text" class="form-control"
                 placeholder="Mi nuevo proyecto"
                 ng-model="$ctrl.projectBuffer.name"
          >
        </div>
        <div class="form-group color-danger"
            ng-if="$ctrl.showProjectCreateError && $ctrl.projectCreateErrorText"
        >
            {{$ctrl.projectCreateErrorText}}
        </div>
      </form>
    </div>
    <div class="content">
      <h3 class="modal-content-header">Escoge un tipo de proyecto</h3>
      <div class="box-select-row">
        <rf-box-select-item
          title="Proyecto estándar"
          ng-class="{selected: $ctrl.projectAttributeIs('isAOIProject', false)}"
          ng-click="$ctrl.setProjectAttribute('isAOIProject',false)"
        >
          Crea un nuevo proyecto y empieza a importar tus propias imágenes de inmediato, o descubre imágenes disponibles al público para añadirlas a tu proyecto.
<!--          Start a new project and begin importing your own earth observation imagery immediately, or discover publicly available scenes to add to your project. -->
        </rf-box-select-item>
        <rf-box-select-item
          title="Proyecto de área de interés"
          ng-class="{selected: $ctrl.projectAttributeIs('isAOIProject', true)}"
          ng-click="$ctrl.setProjectAttribute('isAOIProject',true)"
        >
          Define un área de interés en el mapa, una frecuencia de actualización y añade automáticamente nuevas escenas mientras se agregan a ConidaCloud.
<!--          Set an area of interest on the map, an update frequency and automatically add new scenes to the project as they are added to {{$ctrl.BUILDCONFIG.APP_NAME}}. -->
        </rf-box-select-item>
      </div>
    </div>
  </div>

  <!--Body for ADD_SCENES-->
  <div class="modal-body" ng-if="$ctrl.currentStepIs('ADD_SCENES')">
    <div class="content">
      <h3 class="modal-content-header">Agrega escenas a tu proyecto</h3>
      <p>
<!--        Your Project, <strong>{{$ctrl.project.name}}</strong>, has been created. Now we'll add imagery to your project. -->
        Tu proyecto, <strong>{{$ctrl.project.name}}</strong>, ha sido creado. Ahora añadiremos imágenes al proyecto.
      </p>
      <div class="box-select-row">
        <rf-box-select-item
          title="Buscar en imágenes existentes"
          ng-class="{selected: $ctrl.projectAttributeIs('addType', 'public')}"
          ng-click="$ctrl.setProjectAttribute('addType','public')"
        >
<!--          Jump into the Scene Browser and use your existing imports and publicly available imagery in your project. -->
          Entra al navegador de escenas y usa tus imágenes importadas e imágenes públicas en tu proyecto.
        </rf-box-select-item>
        <rf-box-select-item
          title="Importa tus propias imágenes"
          ng-class="{selected: $ctrl.projectAttributeIs('addType', 'import')}"
          ng-click="$ctrl.setProjectAttribute('addType','import')"
        >
<!--          Import your own earth observation imagery from a drone, manned aerial vehicle or satellite source directly from your S3 Bucket or your hard drive. -->
          Importa tus propias imágenes de un dron, vehículo aéreo pilotado o fuente satelital directamente de un bucket S3 o tu disco duro.
        </rf-box-select-item>
      </div>
    </div>
  </div>

  <!--Default Footer-->
  <div ng-if="$ctrl.currentStepIs('TYPE')"
       class="modal-footer">
    <div class="footer-section left">
      <button type="button" class="btn"
              ng-click="$ctrl.closeWithData(1)">
        Cancelar
      </button>
    </div>
    <div class="footer-section right">
      <button type="button" class="btn"
      ng-if="$ctrl.hasPreviousStep()"
      ng-click="$ctrl.gotoPreviousStep()">
        Retroceder
      </button>
      <button type="button" class="btn btn-primary"
      ng-click="$ctrl.handleNext()"
      ng-disabled="$ctrl.isCreatingProject">
        Siguiente
      </button>
    </div>
  </div>

  <!--Footer for ADD_SCENES-->
  <div ng-if="$ctrl.currentStepIs('ADD_SCENES')"
       class="modal-footer">
    <div class="footer-section left">
    <button type="button" class="btn"
            ng-click="$ctrl.closeWithData()">
      Agregar escenas más adelante
    </button>
  </div>
  <div class="footer-section right">
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.handleNext()">
      Siguiente
    </button>
    </div>
  </div>
</div>
