<div class="navbar">
  <div class="navbar-section primary">
    <a href="#" class="brand">
      <img ng-attr-src="{{$ctrl.assetLogo}}">
    </a>
    <span class="navbar-vertical-divider"></span>
    <nav ng-show="$ctrl.project">
      <span class="navbar-text">{{$ctrl.project.name}}</span>
    </nav>
    <nav ng-show="$ctrl.projectError">
      <span class="navbar-text">Error loading project.
        <span class="icon-warning"
              tooltip-class="rf-tooltip"
              tooltip-side="bottom"
              tooltips tooltip-template="{{$ctrl.projectError.data}}"></span>
      </span>
      <button
          class="btn btn-ghost"
          ng-click="$ctrl.loadProject()"
      >
        <span class="navbar-text">Retry</span>
      </button>
    </nav>
  </div>

  <div class="navbar-section secondary">
    <nav>
      <div ng-if="$ctrl.authService.isLoggedIn && !$ctrl.testNoAuth" uib-dropdown class="dropdown-my-account" on-toggle="toggled($ctrl.optionsOpen)">
        <a href uib-dropdown-toggle>
          <img ng-if="$ctrl.authService.getProfile().picture" class="avatar tiny" ng-src="{{$ctrl.authService.getProfile().picture}}">
          <div class="avatar image-placeholder" ng-if="$ctrl.authService.getProfile() && !$ctrl.authService.getProfile().picture"></div>
          <span class="username">{{$ctrl.authService.getName()}}</span>
          <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li>
            <a ui-sref="settings.profile">
              <i class="icon-settings"></i> Settings
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li><a href ng-click="$ctrl.logout()">
            <i class="icon-cancel"></i> Sign out
          </a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="app-content">
  <div class="container column-stretch container-not-scrollable">
    <div class="main">
      <rf-map-container map-id="share-map"></rf-map-container>
    </div>
  </div>
</div>
