<div class="filter">
  <label>{{$ctrl.filter.label}}</label>
  <div class="flex-display">
    <ui-select ng-model="$ctrl.selectedOption"
              theme="selectize"
              title="Todas las fuentes de datos"
              on-select="$ctrl.selectOption($item, $model)">
      <ui-select-match
          placeholder="Buscar fuentes de datos"
          allow-clear="true">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices
          repeat="source in $ctrl.sources | filter: $select.search"
      >
        {{source.label || source.name || source.id}}
      </ui-select-choices>
    </ui-select>
    <div class="searchselect-clear"
         ng-click="$ctrl.clearOption()"
         ng-if="$ctrl.selectedOption">
      <i class="icon-cross"></i>
    </div>
  </div>
</div>
