<style>
  .auth0-lock-overlay {
    background: none !important;
  }

  .login-footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 999;
  }

  .login-footer img {
    height: 40px;
    background-color: rgba(255,255,255,1);
    padding: 5px 5px 3px;
    border-radius: 5px;
    opacity: 0.75;
  }
</style>
<div class="login">
</div>
<div class="login-footer">
  <a href="https://www.amigocloud.com" target="_blank">
    <img ng-attr-src="{{$ctrl.assetLogo}}"/>
  </a>
</div>
