<div class="node-statistics">
    <div class="classify-node-preview-row with-border"
         ng-repeat="(label, value) in $ctrl.statistics.data"
         ng-if="$ctrl.statistics && $ctrl.statistics.data && $ctrl.visibleStats.includes(label)"
    >
        <div class="classify-node-class header">{{label}}</div>
        <div class="classify-node-class">{{$ctrl.parseStatValDisplay(value)}}</div>
    </div>

    <div class="classify-node-preview-row with-border"
        ng-repeat="(label, value) in $ctrl.emptyStats"
        ng-if="$ctrl.statistics && $ctrl.statistics.loading"
    >
       <div class="classify-node-class header">{{label}}</div>
       <div class="classify-node-class">{{$ctrl.parseStatValDisplay(value)}}</div>
    </div>
</div>
<div class="node-controls overlayed" ng-if="$ctrl.shouldShowEmptyStats()">
    <div class="node-data-placeholder" ng-if="$ctrl.shouldShowApplyMessage()">
        <span class="icon icon-warning color-warning"></span>
        <div class="message">Llena todos los campos de entrada y aplica los cambios para ver las estadísticas</div>
    </div>
    <div class="node-data-placeholder" ng-if="$ctrl.shouldShowDataMessage()">
        <span class="icon icon-warning color-warning"></span>
        <div class="message">No hay estadísticas para este nodo</div>
    </div>
</div>
