<div class="row content stack-sm user-profile-body">
  <div class="column-8 user-profile-content">
    <form class="user-profile-form">
      <!--
      <label for="upload-profile-picture">Profile picture</label>
      <div class="picture-section">
        <div class="form-group picture">
          <img ng-if="$ctrl.authService.user.profileImageUri" class="avatar md" ng-src="{{$ctrl.authService.user.profileImageUri}}">
          <div ng-if="!$ctrl.authService.user.profileImageUri" class="avatar md image-placeholder"></div>
        </div>
        <div class="picture-description">
          <div class="panel panel-info">
            <div class="panel-body">
              Your profile picture is managed by
              <span>{{$ctrl.provider.provider === 'gravatar' || $ctrl.provider.provider === 'auth0' ? 'Gravatar' : $ctrl.provider.name}}</span>.
              <a ng-href="{{$ctrl.provider.profilePictureLink}}" target="_blank">Click here for instructions on how to change it</a>.
            </div>
          </div>
        </div>
      </div>
      -->
      <div class="form-group">
        <label for="username">Email</label>
        <input id="username"
               type="text"
               class="form-control"
               ng-attr-value="{{$ctrl.authService.user.email}}"
               disabled>
        <p class="help-block">Ponte en contacto con soporte para cambiar tu ID</p>
      </div>
      <!--
      <button type="button"
              ng-click="$ctrl.updateGoogleProfile()"
              class="btn btn-primary btn-large"
              ng-if="$ctrl.showProfileSettingsButton">
        Go to {{$ctrl.provider.name}} profile settings
      </button>
      -->
      <button type="button"
              class="btn btn-primary btn-large"
              ng-click="$ctrl.authService.changePassword()"
              ng-if="$ctrl.provider.provider === 'auth0'">
        Cambiar contraseña
      </button>
      <div ng-if="$ctrl.authService.user.user_metadata">
        <div class="form-group" ng-repeat="(id, field) in $ctrl.authService.user.user_metadata track by id">
          <label>{{field.label}}</label>
          <input type="text" class="form-control" ng-model="field.value">
        </div>
        <button ng-click="$ctrl.updateUserMetadata()" type="button" class="btn btn-primary btn-large">Update Profile</button>
      </div>
      <rf-feature-flag-overrides ng-if="$ctrl.env === 'development'"></rf-feature-flag-overrides>
    </form>
    <!-- Personal Info -->
    <form
      class="user-profile-form"
      name="personalInfo"
      autocomplete="off">
      <input autocomplete="false" name="hidden" type="text" style="display:none;">
      <div class="row content stack-sm">
        <div class="form-group column-6">
          <label for="first-name">Nombres</label>
          <input id="first-name"
                 type="text"
                 class="form-control"
                 ng-attr-placeholder="{{$ctrl.currentUserBuffer.personalInfo.firstName}}"
                 ng-model="$ctrl.currentUserBuffer.personalInfo.firstName">
        </div>
        <div class="form-group column-6">
          <label for="last-name">Apellidos</label>
          <input id="last-name"
                 type="text"
                 class="form-control"
                 ng-attr-placeholder="{{$ctrl.currentUserBuffer.personalInfo.lastName}}"
                 ng-model="$ctrl.currentUserBuffer.personalInfo.lastName">
        </div>
        <div class="form-group column-12">
          <label for="personal-email">Email</label>
          <input id="personal-email"
                 type="email"
                 name="personalEmail"
                 class="form-control"
                 ng-attr-placeholder="{{$ctrl.currentUserBuffer.personalInfo.email}}"
                 ng-model="$ctrl.currentUserBuffer.personalInfo.email">
          <span class="error color-danger" ng-show="personalInfo.personalEmail.$error.email">invalid email</span>
        </div>
        <div class="form-group column-12">
          <label for="phone-number">Teléfono</label>
          <input id="phone-number"
                 type="text"
                 class="form-control"
                 ng-attr-placeholder="{{$ctrl.currentUserBuffer.personalInfo.phoneNumber}}"
                 ng-model="$ctrl.currentUserBuffer.personalInfo.phoneNumber">
        </div>
	<!--
        <div class="form-group column-6">
          <label for="org-name">Organization Name</label>
          <input id="org-name"
                 type="text"
                 class="form-control"
                 ng-attr-placeholder="{{$ctrl.currentUserBuffer.personalInfo.organizationName}}"
                 ng-model="$ctrl.currentUserBuffer.personalInfo.organizationName">
        </div>
        <div class="form-group column-6">
          <label>Organization Type</label>
          <div class="dropdown btn-group" uib-dropdown uib-dropdown-toggle>
            <a class="btn dropdown-label titlecase profile-dropdown">{{$ctrl.currentUserBuffer.personalInfo.organizationType}}</a>
            <button type="button" class="btn btn-primary dropdown-toggle">
              <i class="icon-caret-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
              <li role="menuitem" ng-repeat="type in $ctrl.userOrgTypes">
                <a
                  ng-click="$ctrl.currentUserBuffer.personalInfo.organizationType = type"
                  class="titlecase">{{type}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group column-12">
          <label for="org-website">Organization Website</label>
          <input id="org-website"
                 type="text"
                 class="form-control"
                 ng-attr-placeholder="{{$ctrl.currentUserBuffer.personalInfo.organizationWebsite}}"
                 ng-model="$ctrl.currentUserBuffer.personalInfo.organizationWebsite">
        </div>
        <div class="form-group column-6">
          <label for="profile-website">Profile Website</label>
          <input id="profile-website"
                 type="text"
                 class="form-control"
                 ng-attr-placeholder="{{$ctrl.currentUserBuffer.personalInfo.profileWebsite}}"
                 ng-model="$ctrl.currentUserBuffer.personalInfo.profileWebsite">
        </div>
        <div class="form-group column-6">
          <label for="profile-url">Profile URL</label>
          <input id="profile-url"
                 type="text"
                 class="form-control"
                 ng-attr-placeholder="{{$ctrl.currentUserBuffer.personalInfo.profileUrl}}"
                 ng-model="$ctrl.currentUserBuffer.personalInfo.profileUrl">
        </div>
        <div class="form-group column-12">
          <label for="profile-bio">Profile Bio</label>
          <input class="form-control"
                 id="profile-bio"
                 type="text"
                 ng-attr-placeholder="{{$ctrl.currentUserBuffer.personalInfo.profileBio}}"
                 ng-model="$ctrl.currentUserBuffer.personalInfo.profileBio">
        </div>
	-->
        <div class="column-12">
          <button type="button"
                  class="btn btn-primary pull-right"
                  ng-class="{'btn-danger': $ctrl.error}"
                  ng-click="$ctrl.onPersonalInfoSubmit()"
                  ng-disabled="personalInfo.personalEmail.$error.email || $ctrl.isSendingReq">
            {{$ctrl.getButtonText()}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
