/*
 Fix this.
 the wrapper is preventing the library pages from working correctly. Columns arent stretching.
 If this is removed than map pages become broken. its broken as is.
 */
.app-wrapper {
  //height: 100%;
  //display: flex;
  //flex-direction: column;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  .container {
    max-width: 100%; // inherit does not work in IE so we use 100%
    flex: 1;
    position: relative;
    justify-content: center;

    &.dashboard {
      width: 100%;
      max-width: 1200px;

      > .row {
        flex: 1;
      }
    }
    &.dashboard-filter {
      width: 100%;
      // max-width: 1160px;
      flex: 1;
      &.wide {
        max-width: initial;
      }
    }
  }
}

.container {
  width: 100%;
  // max-width: 1160px;
  margin: auto;
  display: flex;
}

$navbar-height: 6rem !default;
$navbar-secondary-height: 4.7rem !default;

.container-not-scrollable {
  height: calc(100vh - #{$navbar-height});
  max-height: calc(
    100vh - #{$navbar-height}
  ); // Fixes flex + height issue in some browsers
  min-height: calc(
    100vh - #{$navbar-height}
  ); // Fixes flex + height issue in some browsers

  .secondary-navbar ~ &,
  .light-navbar ~ & {
    height: calc(100vh - #{$navbar-height + $navbar-secondary-height});
    max-height: calc(
      100vh - #{$navbar-height + $navbar-secondary-height}
    ); // Fixes flex + height issue in some browsers
    min-height: calc(
      100vh - #{$navbar-height + $navbar-secondary-height}
    ); // Fixes flex + height issue in some browsers
  }
}

.admin-settings {
  margin-left: 2rem;
}

.vertical-container {
  margin-bottom: 2rem;
}
