.footer-component {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: $gray;
  z-index: 999;

  .footer-body {
    padding: 10px 0 5px;

    img {
      height: 40px;
      padding: 5px 5px 3px;
      background-color: rgba(255,255,255,0.8);
      border-radius: 5px;
    }
  }      
}
