.navbar {
  background: $shade-normal;
  border-bottom: 1px solid $shade-dark;
  position: relative;
  padding: 0;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    display: flex;
    vertical-align: middle;
    align-items: center;

    a {
      color: $shade-light;
      display: inline-block;
      padding: 2rem 1.4rem;

      &:hover {
        color: $white;
        text-decoration: none;
      }
    }

    a.active,
    a.layer-nav-active {
      color: $white;
      background: $shade-dark;
    }

    a.icon-link {
      color: $brand-primary;
      padding: 1.5rem 2rem;
      font-size: 1.6rem;
    }

    .dropdown {
      display: inline-block;
      margin: 0 1rem;
    }

    .open .dropdown-toggle {
      background: $shade-dark;
      border-radius: $border-radius-base $border-radius-base 0 0;
    }
  }

  .dropdown > a {
    padding: .8rem 1rem;
    border: 1px solid $shade-dark;
    border-radius: $border-radius-base;

    &.dropdown-help-link{
      border: 0;
    }

    i {
      vertical-align: middle;
    }
  }

  .username {
    @extend .text-overflow-ellipsis;
    padding-left: .5rem;
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }

  &.secondary-navbar {
    background: $shade-dark;
    border-bottom: 1px solid $gray-darker;
    font-size: 1.3rem;
    justify-content: flex-start; //ie11 fix

    .container {
      flex: none; //ie11 fix
    }

    a {
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }

    a.active {
      box-shadow: inset 0 -3px $brand-primary;
      border-bottom: 1px solid $brand-primary;
      margin-bottom: -1px;
    }
  }

  &.light-navbar {
      background: $white;
      border-bottom: 1px solid $gray-lightest;
      font-size: 1.3rem;
      justify-content: flex-start; //ie11 fix

      .container {
          flex: none; //ie11 fix
      }

      a {
          color: $shade-normal;
          padding-top: 1.4rem;
          padding-bottom: 1.4rem;
          box-shadow: inset 0 -3px $gray-lightest;
          &:hover {
              color: $shade-dark;
              background: $off-white;
          }
      }

      a.active {
          background: white;
          color: $shade-dark;
          box-shadow: inset 0 -3px $brand-primary;
          border-bottom: 1px solid $brand-primary;
          margin-bottom: -1px;
          font-weight: bold;
      }
  }

  .navbar-text,
  .navbar-detail-title {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    color: $white;
    padding: 1rem;
    max-width: 30rem;
  }

  .navbar-detail-title {
    @extend .text-overflow-ellipsis;
  }

  .detail-title-container {
    position: relative;
    display: inline-block;

    .detail-title-edit {
      padding: 5px 3px;
      opacity: .4;
      transition: .2s ease-in-out opacity;
      margin: 0 -5px 0 1rem;
      color: $shade-dark;

      &:hover {
        background-color: $white;
      }
    }

    &:hover .detail-title-edit {
      opacity: 1;
    }
  }

  .dropdown-navbar-detail {
    margin-left: -1.5rem;

    > a.dropdown-toggle {
      padding: .8rem 1rem;
      border: 1px solid $shade-dark;
      border-radius: $border-radius-base;
      color: $white;
    }
  }

  .btn {
    border: none;
    margin-right: 1.4rem;
  }

  .form-group.all-in-one {
    background: none;
    border-color: $shade-dark;
    color: $white;
    margin-left: 1rem;

    .form-control {
      background-color: transparent;
      color: $white;

      &:hover,
      &:focus {
        background-color: $shade-dark;
      }
    }

    .btn {
      margin: 0;
      padding: 4px 8px;
      font-size: 1.8rem;
      color: $white;
      border-color: $shade-dark;

      &:hover,
      &:focus {
        background-color: $shade-dark;
      }
    }
  }

  .navbar-caret-right{
    color: $white
  }
}

.navbar-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.secondary {
    flex: none;
    align-items: center;
    text-align: right;
  }
}

.navbar .form-group.all-in-one {
    select {
        width: 7em;
        border-right: 1px solid $shade-dark;
    }
}

.brand {
  display: inline-block;
  padding: 0 1.9rem;

  vertical-align: middle;

  > img {
    height: 40px;
    max-height: 100%;
    vertical-align: middle;
    max-width: auto !important;
  }
}

.navbar-vertical-divider {
  display: inline-block;
  width: 1px;
  height: 5.9rem;
  background-color: $shade-dark;
  vertical-align: middle;
}

.dropdown-help {
  .help-center {
    font-size: 2rem;
  }
}

#player {
  position: fixed;
  right: 0rem;
  top: 6rem;
  width: 600px;
  z-index: 999;

  &.full-screen {
    position: relative;
    top: 0px;
    width: 100%;
  }
}

.plyr-custom-btns {
  position: absolute;
  top: 1rem;
  z-index: 1000;

  i.icon-cross,
  i.icon-caret-up {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
    border-radius: 50%;
    font-weight: bold;
    font-size: 2rem;
    z-index: 1000;
    color: $white;
    background-color: $brand-tertiary;
    cursor: pointer;
  }
}

.video-mini-logo {
  position: relative;
  width: 6em;
  height: 3em;
  line-height: 3rem;
  border-radius: 3px;
  margin: 0 2rem;
  text-align: center;
  padding: 1rem 0;
  cursor: pointer;
  background: $gray-darker;

  i {
    display: inline-block;
    font-weight: bold;
    font-size: 2rem;
    color: $white;

    &.icon-cross {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
    }

  }
}
