<div class="container dashboard">
  <div class="row content stack-sm">
    <div class="column-8">

      <!-- Dashboard Header -->
      <div class="dashboard-header">
        <h3>Proyectos</h3>
        <div class="flex-fill"></div>
        <rf-search on-search="$ctrl.fetchPage(1, value)"
                   value="$ctrl.search"
                   placeholder="Buscar proyectos"
                   auto-focus="true">
        </rf-search>
        <select class="form-control"
                ng-model="$ctrl.currentOwnershipFilter"
                ng-change="$ctrl.handleOwnershipFilterChange()">
          <option value="owned">Mis proyectos</option>
          <option value="shared">Compartidos conmigo</option>
        </select>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.createNewProject()">
          Nuevo proyecto
        </button>
      </div>
      <!-- Dashboard Header -->

      <!-- Dashboard Header -->
      <rf-pagination-count
          ng-if="$ctrl.results.length && !$ctrl.currentQuery"
          start-index="$ctrl.pagination.startingItem"
          end-index="$ctrl.pagination.endingItem"
          total="$ctrl.pagination.count"
          item-name="projects">
        <span ng-if="$ctrl.search">buscando <strong>{{$ctrl.search}}</strong></span>
      </rf-pagination-count>

      <!-- Loading Indicator, show only when loading -->
      <div class="text-center" ng-show="$ctrl.currentQuery">
        <div>Cargando proyectos</div>
        <span class="list-placeholder h3">
          <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
        </span>
      </div>
      <!-- Loading indicator -->

      <!-- No project placeholder -->
      <div ng-if="$ctrl.shouldShowPlaceholder() && $ctrl.currentOwnershipFilter === 'owned'">
<!--        <rf-call-to-action-item title="You haven't created any projects yet" class="panel panel-off-white"> -->
        <rf-call-to-action-item title="Aún no has creado un proyecto" class="panel panel-off-white">
          <p class="pb-25">
<!--            You can create a new project by <strong>importing</strong> your own earth observation
            imagery, or <strong>searching</strong> publicly available scenes for use in your project.
            Then you can <strong>edit</strong> your project to color-correct the scenes and arrange
            them into a perfectly mosaicked basemap. -->
            Puedes crear un nuevo proyecto <strong>importando</strong> tus propias imágenes, o
            <strong>buscando</strong> entre escenas disponibles al público para usar en tu proyecto.
            Luego puedes <strong>editar</strong> tu proyecto para corregir los colores de las escenas
            y organizarlas en un mapa.
          </p>

          <a class="btn btn-primary" ng-click="$ctrl.createNewProject()">Nuevo proyecto</a>
        </rf-call-to-action-item>
      </div>

      <div ng-if="$ctrl.shouldShowPlaceholder() && $ctrl.currentOwnershipFilter === 'shared'">
        <rf-call-to-action-item title="Aún no te han compartido proyectos" class="panel panel-off-white">
          <p class="pb-25">
            Cuando otros usuarios compartan proyectos contigo, los verás aquí.
          </p>
        </rf-call-to-action-item>
      </div>
      <div ng-show="!$ctrl.currentQuery && !$ctrl.fetchError && $ctrl.search && !$ctrl.pagination.count">
        <rf-call-to-action-item
            title="Tu búsqueda no tuvo resultados"
            class="panel panel-off-white">
          <p class="pb-25">
            No se pudieron encontrar proyectos con "{{$ctrl.search}}".
          </p>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row" ng-show="$ctrl.fetchError">
        <rf-call-to-action-item
            title="Ocurrió un error al consultar los proyectos."
            class="panel panel-off-white">
          <div class="pb-25">
	    Por favor actualiza la página y vuelve a intentar.<br />
	    Si el problema continúa, por favor ponte en contacto con el equipo de soporte.
          </div>
        </rf-call-to-action-item>
      </div>
      <!-- No project placeholder -->

      <!-- Project List -->
      <div ng-if="!$ctrl.currentQuery && $ctrl.results.length" class="row stack-xs">
        <div class="column-6 flex-display"
             ng-repeat="project in $ctrl.results track by project.id">
          <rf-project-item
              class="panel panel-off-white project-item"
              project="project"
              platform="$ctrl.platform"
              user="$ctrl.user"
          >
          </rf-project-item>
        </div>
      </div>
      <!-- Project List -->

      <!-- Pagination -->
      <rf-pagination-controls
          ng-show="!$ctrl.fetchError"
          pagination="$ctrl.pagination"
          is-loading="$ctrl.currentQuery"
          on-change="$ctrl.fetchPage(value)"
      ></rf-pagination-controls>
      <!-- Pagination -->

    </div>
    <div class="column spacer"></div>
    <div class="column">
      <div class="aside">
        <section>
<!--          <h5>What is a project?</h5>
          <p class="font-size-small">
            A project is a collection of scenes from many different sources where you can then run color corrections and mosaic into a basemap.
          </p>
          <h5>Are my projects public?</h5>
          <p class="font-size-small">Your projects can only be seen by you.</p>
          <h5>How many projects can I have?</h5>
          <p class="font-size-small">You have an unlimited number of projects.</p>
          <h5>Do projects have scene size limits?</h5>
          <p class="font-size-small">Nope. Your projects can have as many scenes as you need.</p>
-->
          <h5>¿Qué es un proyecto?</h5>
          <p class="font-size-small">
            Un proyecto es una colección de escenas de diferentes fuentes en donde puedes hacer corrección de colores y generar un mapa base.
          </p>
          <h5>¿Mis proyectos son públicos?</h5>
          <p class="font-size-small">Sólo tú puedes ver tus proyectos.</p>
          <h5>¿Cuántos proyectos puedo tener?</h5>
          <p class="font-size-small">Tienes un número ilimitado de proyectos.</p>
          <h5>¿Hay un límite de escenas por proyecto?</h5>
          <p class="font-size-small">No. Tus proyectos pueden tener todas las escenas que necesites.</p>
        </section>
      </div>
    </div>
  </div>
</div>
