<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Cerrar" ng-click="$ctrl.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Crear una plantilla
    </h4>
  </div>

  <!-- Body for DATASOURCE_SELECT-->
  <div class="modal-body">
    <div class="content">
      <p>

      </p>
      <form>
        <div class="form-group">
          <label for="name">Nombre de la plantilla</label>
          <input id="name" type="text" class="form-control"
                 placeholder="Mi nueva plantilla"
                 ng-model="$ctrl.templateBuffer.title"
                 ng-disabled="$ctrl.isProcessing">
        </div>
        <div class="form-group">
          <label for="name">Descripción de la plantilla</label>
          <input id="name" type="text" class="form-control"
                placeholder="Descripción de mi nueva plantilla"
                ng-model="$ctrl.templateBuffer.description"
                ng-disabled="$ctrl.isProcessing">
        </div>
        <div class="form-group">
          <label for="name">Definición de la plantilla</label>
          <p>
	    Ingresa una expresión algebraica que representa la operación a realizar. Algunas indicaciones:
            <ul>
              <li><strong>Operaciones permitidas</strong> - La mayoría de operaciones aritméticas, de comparación y trigonométricas son soportadas.</li>
              <li><strong>Fuente del ráster</strong> - denotada por un símbolo (por ejemplo <strong>NIR</strong> o <strong>SWIR</strong>)</li>
              <li><strong>Constante</strong> - denotada por un símbolo precedido por un subguión (por ejemplo <strong>_G</strong> o <strong>_NF</strong>)</li>
              <li><strong>Constante con valor por defecto</strong> - denotada como la anterior pero con una asignación entre paréntesis (por ejemplo <strong>(_G=1)</strong> o <strong>(_NF=0.167)</strong>)</li>
            </ul>
          </p>
          <textarea id="name"
                    class="form-control"
                    placeholder="New template formula"
                    ng-model="$ctrl.definitionExpression"
                    rows=2
                    ng-disabled="$ctrl.isProcessing"></textarea>
        </div>
        <div ng-if="$ctrl.currentParsingError" class="color-danger text-center form-group">
          {{$ctrl.currentParsingError}}
        </div>
        <div ng-if="$ctrl.currentError" class="color-danger text-center form-group">
          {{$ctrl.currentError}}
        </div>
      </form>
    </div>
  </div>

  <!--Footer for SUCCESS-->
  <div class="modal-footer">
    <div class="footer-section left">
      <button type="button" class="btn"
              ng-disabled="$ctrl.isProcessing"
              ng-click="$ctrl.dismiss()">
        Cancelar
      </button>
    </div>
    <div class="footer-section right">
      <button type="button" class="btn btn-primary"
              ng-if="!$ctrl.isProcessing"
              ng-click="$ctrl.createTemplate()"
              ng-disabled="!$ctrl.isValid()">
        Crear plantilla
      </button>
      <div class="btn btn-primary disabled" ng-if="$ctrl.isProcessing">
        Procesando
      </div>
    </div>
  </div>
</div>
