/*
 - What is the purpose of this file?
   This file is used for styles that don't quite
   fit anywhere in the sass directory yet. The idea
   is simple, quick styling to avoid the headache
   of worrying about scss structure.

 - Who is this for?
   Project contributors that hate css or worry about
   the sass structure. Use this file to put in quick
   styling that a designer can easily find and fix later.

 - By the end of project development, this file
   should be completely empty. This is all temporary.
*/

div.app-loading-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($brand-primary, 0.25);
}

/*
 * app-wide
 */

div.image-placeholder {
  position: relative;
  background: $gray-lightest;
  box-sizing: border-box;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  flex-shrink: 0;
  &.block-placeholder {
    display: flex;
  }
  div {
    align-self: center;
    text-align: center;
    font-size: 1.1rem;
    opacity: 0.7;
  }
}

.editable-image-placeholder,
.editable-image-always {
  $background: rgba(0,0,0,0.7);
  position: relative;
  cursor: pointer;
  &::before {
    font-size: 1.1rem;
    overflow: hidden;
    position: absolute;
    padding: 2px 0px;
    text-align: center;
    background: $background;
    color: #fff;
    content: 'Upload';
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 0 0 $border-radius-base $border-radius-base;
  }
}

.editable-image-placeholder::before {
  content: 'Upload';
}

.editable-image-always::before {
  content: 'Change';
}

/*
 * /browse/
 */
.leaflet-top.leaflet-right .map-control-panel .leaflet-control-zoom {
  border: none;
  margin: 0;
}

.leaflet-control-layers.leaflet-control {
  display: none !important;
}

.leaflet-top.leaflet-right .map-control-panel .leaflet-control-zoom-in,
.leaflet-top.leaflet-right .map-control-panel .leaflet-control-zoom-out {
  font-size: 18px;
  line-height: 1;
  padding: 2px;
  height: 25px;

  &:hover {
    line-height: 1;
  }
}

.leaflet-control-attribution.leaflet-control {
  background: $shade-dark;
  color: $shade-light;
  margin: 2px;
  border-radius: $border-radius-base;
  padding: 4px 7px;
  opacity: .9;
  transition: .1s ease-in-out opacity;
  font-family: $font-base;
  max-width: 400px;

  &:hover {
    opacity: 1;
  }

  a {
    color: $shade-light;
    text-decoration: underline;
    font-weight: 400;
  }
}

dl.meta-list > dt {
  margin: 0;
  font-size: 1.3rem;
}

dl.meta-list > dd {
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

dl.meta-list.editing-metadata > dd {
  overflow: visible;
}

.clear-image-source-filter{
  border-radius: 50%;
  color: $gray;
  border: 1px solid $gray-lighter;
  background: $gray-lighter;
  position: absolute;
  z-index: 1000;
  right: 2rem;
  transform: translateY(50%);
}

.form-control.input-dark.image-source{
  margin-right: 0rem
}

.scene-item-lock {
  color: $shade-normal;
  background-color: $off-white;
  border-radius: 2px;
  padding: 5px;
}

//


/*
 * /library/ All library pages
 */

// Where breadcrumbs exist add back arrow icon


/*
 * /library/scenes/detail/
 */

// Change add to bucket link to add to project, change icon
//


/*
 * /library/projects/detail/
 */

// Update Publish link icon
// Make editor link into button
//


/*
 * /editor/project/
 */

// Action dropdown: remove sync histogram, add icon to color correct
// add icon to color correction in navbar
// make single click on scene open color correct panel
// fix scrolling in color correct mode by adding class `flex-column` to `color-correct-pane`
// wrap secondary navbar navs in `navbar-left/right`
// put `navbar-vertical-divider` inside of `navbar-right`
// Make Scene opacity slider label say "Scene opacity 100%"

rf-project-editor .leaflet-tile {
  border: none;
}

.opacity-slider {
  left: calc(35% + 400px);
  transform: translate(-50%);
  padding: 10px;
  margin: 2px 0;
  border-radius: $border-radius-base;
  width: 310px;
  height: auto;

  h3 {
    font-size: 1.3rem;
    margin: 0 0 10px;
    text-align: center;
    color: white;
  }

  .rzslider {
    height: 20px;
  }

  .rzslider .rz-ticks .rz-tick .rz-tick-value {
    display: none;
  }
}

.mask-item {
  padding: 1rem 2rem;
  border-bottom: 1px solid $border-color-default;
  display: flex;
  align-items: center;
  position: relative;
}

.mask-actions {
  margin-left: auto;
  position: relative;
  z-index: 1;
  text-align: right;
}

.mosaic-scene-order.content {
  padding-top: 1rem;
}

.mosaic-scene-order .filter {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mosaic-scene-order {

  &.content {
    padding-top: 1rem;
  }

  .filter {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  select.input-dark {
    color: #fff;
    height: 4.1rem;
  }
}

.mosaic-priority-option {
  background: $shade-dark;
  padding: 10px;
  border-radius: $border-radius-base;
  margin-bottom: 4px;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
}

.flex-column {
  flex-grow: 1;
}
//


/*
 * project modal
 */
.modal-form {
  padding-left: 250px;
  border-bottom: 1px solid $border-color-default;
  margin: 0;
  flex: none; // fix for safari

  .form-group {
    margin: 1rem;
  }
}


/*
 * Publish modal
 */
.form-group.all-in-one [readonly] {
  background: none;
}

.color-correct-pane {

  .content {
    padding-top: 1rem;
  }

  .filter {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .filter-separator {
    &.offset {
      margin-right: 5rem;
    }
    border-bottom: 1px solid $shade-dark;
    button {
      transform: translateY(-50%) translateX(5.1rem);
      float: right;
      &.active {
        background: $shade-dark;
      }
    }
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

.list-group-item-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex: 1;
  & + .list-group-item-content {
    margin-top: 1rem;
  }
  .list-group-overflow {
    flex: 1;
    align-self: stretch;
  }
}

.btn.btn-slim {
  padding: 1rem;
}

.max-width {
  margin: 0 auto;
  max-width: 1160px !important;
}

.flex-fill {
  flex: 1 !important;
}

.project-preview-map .map-container{
  max-height: 300px;
}

.sidebar-project {
  position: relative;
  border-bottom: 2px solid $border-color-default;
  .sidebar-row {
    display: flex;
    align-content: row;
    .sidebar-title {
      margin-left: 1rem;
      flex: 1;
    }
  }
}

.sidebar-list {
  list-style: none;
  display: block;
  margin: 0 0 0 0;
  padding: 0;

  & > li {
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem 1.5rem 1rem;
    &:not(:first-child) {
      padding-top: 0rem;
    }
    &.separator {
      border-bottom: 1px solid $border-color-default;
      margin: 0rem 1rem 1rem 1rem;
      padding: 0 0 1.5rem 0;
      &:first-of-type {
        padding-top: 1.5rem;
      }
      &:last-of-type{
        border-bottom: none;
      }
      &.separator-primary {
        margin: 0 0 1.5rem 0;
        padding: 1.5rem 1rem;
        border-bottom: none;
        background: $brand-primary;
        color: #fff;
      }
    }
    &.header {
      margin-left: 0;
      padding: 1rem 0 1rem 0;
    }
    .fixedwidth,
    rf-color-scheme-dropdown,
    rf-band-select {
      width: 20rem;
    }
    .label {
      flex: 1;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      .text {
        font-weight: normal;
        font-size: 1.2rem;
      }
      .info {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: normal;
      }
    }

    i .icon-info {
      cursor: help;
    }

    .banner {
      padding: 1rem;
      border-radius: $border-radius-base;
      color: #fff;
      flex: 1;
      text-align: center;
      div:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

.list-group-item .sidebar-list {
  width: 100%;
  li {
    margin: 1rem 0 0 0;
    padding: 0;
    span {
      color: $text-base;
      font-size: 1.2rem;
    }
  }
}

.sidebar-content {
  padding: 1rem;
}

.sidebar-list-item.dark {
  color: $off-white;
}
.banner-secondary {
  background: $brand-secondary;
}

.icon-load.animated {
  animation: 2s linear 0s normal none infinite spin;
}
.filter-group {
  display: block;
  border-bottom: 1px solid $shade-dark;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.filter-group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  & > * {
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.filter-group-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  & > * {
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.list-group-item.has-action {
  cursor: pointer;
  &:hover {
    background: rgba($shade-light, .1);
  }
}

.list-group-item {
    &.disabled {
        opacity: 0.5;
    }
    &.clickable {
        cursor: pointer;
    }
}
.checkbox-container {
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba($text-base, .5);
  border-radius: $border-radius-base;
  color: rgba($text-base, .5);
  cursor: pointer;

  & i {
    margin: 0;
    padding: 0;
  }
  &.is-checked {
    border: 1px solid $brand-primary;
    background: $brand-primary;
    color: #fff;
  }
  &.is-checked.danger {
    border: 1px solid $danger;
    background: $danger;
    color: #fff;
  }
}

.dark-input {
  border: 0px;
  background: rgba(0, 0, 0, 0.14902);
  padding: 0.5rem 0.2rem;
}

.filter-adjust-input {
  width: 6rem;
  max-width: 6rem;
  padding: 5px;
  flex: none;
  height: 30px;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: -11px;
  background: $shade-dark;
  border-color: $shade-dark;;
  color: $white;
}

.histogram-input {
  margin-top: 0.5em;
  .pull-right {
    float: right;
  }
  .btn-group {
    display: inline-flex !important;
  }
}

.rzslider.dark {
  .rz-bubble {
    color: $gray-lightest;
  }
}

.rf-tooltip {
  min-width: 250px;
  text-align: left;
}

.layer-item-tooltip {
    left-align: left;
}

.nvd3.nv-line {
  .nv-point {
    display: none;
  }
}

span.no-margin {
  margin: 0 !important;
}

/*
 * Component: callToActionItem
 */

.cta-row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.cta-flex-text {
  flex: 1;
  margin-bottom: 3rem;
}
.cta-button-row {
  margin: 1rem 0 2rem 0;
  line-height: 3.5;
}



/*
 * Component: boxSelectItem
 */
.box-select-row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
  &.inline {
    display: block;
  }
  &.inline > rf-box-select-item {
    display: inline-flex;
    min-width: 100px;
  }
}

rf-box-select-item{
  position: relative;
  flex: 1;
  background: rgba($shade-light, .1);
  border: 1px solid $border-color-default;
  padding: 2rem 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.125s;
  h2, h3 {
    margin: 0 0 1rem 0;
  }
  .cta-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background: $gray-lightest;
  }
  &.disabled {
    cursor: not-allowed;
  }
  &.disabled:hover {
    background: rgba($shade-light, .1);
  }
  &.disabled::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    background: rgba(255,255,255,0.5);
  }
  &.disabled::after {
    position: absolute;
    padding: 2px 12px;
    border-top-right-radius: 4px;
    background: $gray-lightest;
    color: $text-base;
    content: 'Coming Soon';
    bottom: 0;
    left: 0;
  }
  &.selected {
    border: 1px solid $brand-primary;
    background: rgba($shade-light, .1);
  }
  &.selected::before {
    position: absolute;
    padding: 2px 12px;
    border-top-right-radius: 4px;
    background: $brand-primary;
    color: #fff;
    content: '\2713 \00a0 Selected';
    bottom: 0;
    left: 0;
  }
  &.small.selected::before {
    content: '\2713';
  }
}

/*
 * Component: createProjectModal
 * Component: importModal
 */
.modal-content-header {
  margin: 0 0 2rem 0;
}

.modal-content-header-thin {
  margin: 0 0 1rem 0;
}

.list-group-item.no-flex {
  display: block;
}

.list-group-item-contents {
  display: flex;
  flex: 1 0 100%;
}

.upload-progress-bar {
  height: 6px;
  background: $brand-primary;
  transition: flex-grow .5s;
  flex: 0 0;
  margin-top: 10px !important;
  &.cancelled {
      background: $shade-light;
  }
  &.failed {
      background: $danger;
  }
}


/*
 * component: datePickerModal
 */
calendar .board .day.selected:not(.other-month):not(.disabled) {
  background: $brand-primary;
}

.auto-width-modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
  .modal-dialog {
    display: inline-block;
    width: auto;
  }
}

/*
 * Component: dateRangePickerModal
 */
.datepicker-row {
  display: flex;
}

.datepicker-ranges {
  flex: 1;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.preset-header {
  margin-bottom: 2rem;
}

.btn-range {
  margin-bottom: 1rem;
}

calendar div.header {
  background: $shade-normal;
  border: none;
}

calendar div.board {
  border-top: none;
}

calendar .board .day.in-range:not(.other-month):not(.disabled) {
    background: $gray-lightest;
    color: #777;
}

calendar .board .day.range-end:not(.other-month):not(.disabled) {
    background: $brand-primary;
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    color: #fff;
}
calendar .board .day.range-start:not(.other-month):not(.disabled) {
    background: $brand-primary;
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
    color: #fff;
}

/*
 * component: diagramContainer
 */
// @TODO: incorporate dropdown styles into app styles
.main.with-position {
  position: relative;
}

.lab-contextmenu {
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  // Compensates for pointer
  margin-top: -8px;

  &:after {
    content: '';
    top: 100%;
    left: 50%;
    border: 5px solid transparent;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: $shade-dark;
    margin-left: -5px;
  }
}

.mousetip {
  position: absolute;
  top: -10000px;
  left: -10000px;
  z-index: 10000;
  margin-left: 18px;
  background: $shade-normal;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

div.lab-workspace > svg {
  cursor: grab;
}

div.lab-workspace.is-dragging {
  svg {
    cursor: grabbing;
  }
  rf-lab-node {
    pointer-events: none;
    * {
      pointer-events: none;
    }
  }
}

.lab-control-panel {
  position: absolute;
  z-index: 500;
  top: 0;
  right: 0;
  background: $shade-dark;
  padding: 1rem;
  min-width: 13rem;
  display: flex;
  flex-direction: row;

  .filler {
    flex: 1;
  }

  .btn {
    display: inline-block;
    background: $shade-normal;
    border: 1px solid $shade-dark !important;
    color: $shade-light;
    border-radius: $border-radius-base !important;
    vertical-align: middle;
    line-height: 1.1;
    height: 25px;
    width: 25px;
    padding: 0;

    &:hover {
      display: inline-block;
      background: $shade-normal;
      border: 1px solid $shade-dark !important;
      color: #fff;
      border-radius: $border-radius-base !important;
      vertical-align: middle;
      line-height: 1.1;
      height: 25px;
      width: 25px;
    }
  }
}


/*
 * component: featureFlagOverrids
 */
.feature-flags-desc {
  border-bottom: 1px dashed black;
  padding: 0.5em;
}
.feature-flags-name {
  font-weight: bold;
  border-bottom: 1px dashed black;
  padding: 0.5em;
}
.feature-flags-flag {
  border: 1px solid black;
}
.feature-flags-actions {
  padding: 0.5em;
}

/*
 * component: mapContainer
 */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 900;
}

.map-container-loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px;
  pointer-events: none;
  & > * {
    pointer-events: true;
  }
  text-align: center;
  z-index: 1025;
  div {
    padding: 4px 12px;
    color: #fff;
    display: inline-block;
    background: rgba(0,0,0,.5);
  }
}

.map-container-draw-controls {
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  background: $white;
  border: 1px solid $shade-light;
  border-radius: 3px;
  padding: 1em;
  z-index: 1049;
  width: 40em;

  display: flex;
  flex-direction: row;

  .map-draw-title {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .map-draw-actions {
    display: flex;
    justify-content: space-between;
    :not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

.hide-icon {
  visibility: hidden;
}

.opacity-slider {
  bottom: 0;
  position: absolute;
  left: calc(50% - 310px);
  height: 8rem;
  width: 30%;
  z-index: 9999;
  background: $shade-normal;
  padding: 0.5rem 2rem 2rem 2rem;
  transform: translateX(50%);
  h3 {
    margin: 0 0 0.5rem 0;
    color: $shade-light;
  }
}


/*
 * component: publishModal
 */
.modal-body .centered-text {
  padding: 1.5rem;
  display: flex;
  position: relative;
  justify-content: center;
}

.modal-body .form-group.centered {
  text-align: center;
}

.btn-group.inline {
  display: inline-flex !important;
}

/*
 * component: toggle
 */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lighten($shade-dark, 5%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 4px;
  bottom: 4px;
  background-color: $brand-primary;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $shade-dark;
}

/* input:focus + .slider { */
/*   box-shadow: 0 0 1px #2196F3; */
/* } */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
 * page: lab
 */
nav .btn-group {
    display: inline-flex !important;
    margin: 0 1.5rem;
}

.secondary-navbar .navbar-right nav a {
    padding: 2rem 1.5rem;
}
.sidebar.sidebar-dark.not-offset {
    left: 0;
    margin-left: 0;
}

.sidebar > .sidebar {
    border-right: none;
}

.sidebar-content {
    flex-shrink: 0;
}

.sidebar-content.with-padding{
    padding: 1.5rem 1.5rem;
}

.sidebar-content.with-border,{
    border-bottom: 1px solid $border-color-default;
}
    .sidebar-content.with-border:last-child {
        border-bottom: none;
    }
.sidebar-content.with-borders {
    border-top: 1px solid $border-color-default;
}
.lab-workspace {
    background-color: $off-white !important;
    transition: all 0.1s;
    position: relative;
    .joint-paper-grid {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        pointer-events: none;
    }
    > svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    }
    g.link-tools {
        display: none;
    }
}

.btn-square.really-square {
    width: 4rem;
    height: 4rem;
    line-height: 2rem;
}
.sidebar-content.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar-content h5 {
    margin: 0;
    flex: 1;
}
.sidebar-content h5 span {
    margin-left: 1.5rem;
}

form.inset {
    padding: 0;
    margin: 0;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.form-btn-row {
    flex: 1;
}
    .form-btn-row .btn-group {
        justify-content: flex-end;
    }

.sidebar-content .form-group:last-of-type {
    margin-bottom: 0;
}

rf-diagram-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.icon-save.node-label-name,
.icon-cancel.node-label-name {
  color: $gray-lighter;
  font-size: 1.5rem;
}


/*
 * page: lab/run
 */
.preview-control-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px;
  pointer-events: false;
  & > * {
    pointer-events: true;
  }
  text-align: center;
  z-index: 1000;
}

.preview-info-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 16px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  & > * {
    pointer-events: all;
  }
  text-align: center;
  z-index: 1000;
  .split-container {
    flex: 1;
    text-align: center;
  }
}

.rzslider.light {
  .rz-bar {
    background: #d8e0f3;
  }
  .rz-bubble {
    padding: 0px;
    bottom: 0px;
    margin-top: 24px;
    display: block;
  }
}


/*
 * page: lab/edit
 */
.run-project-name {
  flex: 1;
  font-weight: bold;
  color: #333;
}


/*
 * page: login
 */
.login {
  background: $shade-normal;
  height: 100vh;
}


/*
 * page: market/tool
 */
table.upload-info {
    width: 100%;
    th {
        text-align: left;
        padding-bottom: 0.5rem;
    }
}

.reference-list {
    margin-top: 1.5rem;
    .reference {
        margin-bottom: 1.5rem;
    }
}


/*
 * page: projects/list
 */
.proj-control-row {
  display: flex;
  align-items: center;

  .form-group.all-in-one {
    flex: 1;
    margin-bottom: 0;
    margin-right: 20px;
  }
}


/*
 * page: settings/token
 */
.tab-header {
  .btn-tab {
    border-color: $brand-primary $brand-primary transparent $brand-primary;
    color: $brand-primary;
    background-color: transparent;
    border-radius: $border-radius-base $border-radius-base 0 0;

    &:hover, &.hover,
    &:active, &.active, {
      border-color: $brand-primary $brand-primary transparent $brand-primary;
      background-color: $brand-primary;
      color: #fff;
      box-shadow: none;
    }
  }
}

.tab-body {
  .panel{
    padding: 1em;
    &.tab-description {
      margin-bottom: 1em;
      border-radius: 0 0 $border-radius-base $border-radius-base;
      border-color: $brand-primary $brand-primary $brand-primary $brand-primary;
    }
  }
}


/*
 * page: settings/profile
 */
.picture-section {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.picture {
  padding-right: 1rem;
}

.picture-description {
  flex: 1;
}

.output-processing-option {
  $thumbnail-size: 75px;
  border-bottom: 1px solid $shade-dark;
  padding: 1.5rem !important;
  flex-direction: column;
  align-items: stretch !important;
  &.selected {
    background: $shade-dark;
  }
  .output-processing-option-row {
    flex: 1;
    display: flex;
    align-items: center;
    &:not(:first-child) {
      margin-bottom: 1rem;
    }
  }
  .output-preview {
    width: $thumbnail-size;
    height: $thumbnail-size;
    margin-right: 1.5rem;
  }
  .output-description {
    flex: 1;
    min-height: $thumbnail-size/2;
  }
  .output-params {
    margin-top: 1.5rem;
  }
  .output-selection {
    margin-left: 1rem;
  }
}

.list-group rf-project-item .panel-body {
  background: $off-white;
  margin-bottom: 1rem;
}

.tabbed-list-header-container {
  background: $off-white;
}

.tabbed-list-header {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: 1px solid $gray-lightest;
    li a {
        display: block;
        padding: 1.66rem 3rem;
        margin-bottom: -1px;
        font-weight: bold;
        color: $text-base;
        &.active {
            color: $brand-primary;
            border-bottom: 2px solid $brand-primary;
        }
    }
}
.list-group-item.no-border {
  border-bottom: none;
}
.list-group-item:last-of-type {
  border-bottom: 1px solid $gray-lightest;
}
.list-group-overflow {
  overflow: visible;
}

rf-export-item {
  position: relative;
}

.is-comparing {
    rf-lab-node {
        * {
            pointer-events: none;
        }
    }
}

rf-lab-node {
  position: absolute;
  background: white;
  /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
  pointer-events: none;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  user-select: none;
}

.readonly {
    .node-header {
        // don't allow moving node when in readonly mode
        pointer-events: auto;
    }
}

.node-header {
  height: 50px;
  border-radius: 5px 5px 0 0;
  display: flex;
  background: rgba(249, 249, 249, 1);
  pointer-events: none;
  user-select: none;
  position: relative;

  .node-header-colorblock {
    border-radius: 5px 0 0 0;
  }

  button, input {
    pointer-events: auto;
  }
}

.node-dropdown {
  width: 1em;
  padding: .75em;
  pointer-events: auto;
  position: relative;
  cursor: pointer;

  &.no-outline {
    &:focus {
      outline: none;
    }
  }
}

.node-dropdown-icon {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $shade-light;
  box-shadow: 0px .75em 0px $shade-light, 0px 1.5em 0px $shade-light;
}


.node-header-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: .25em .25em .5em .5em;
  .node-header-type {
    display: flex;
    flex-direction: row;
    color: $gray-lighter;
    flex-shrink: 0;
    margin-bottom: 0.25em;
    height: 18px;
    align-items: center;

    [class^="icon-"]:before, [class*=" icon-"]:before {
      width: 1em;
      margin-right: .5em;
      margin-left: 0em;
    }
  }

  .node-header-name-container {
    flex-direction: row;
    flex-grow: 1;

    .node-header-edit{
      padding: 2px;
      font-size: 1rem;
    }

    .form-group.all-in-one.node-header-edit-group {
      height: 2rem;
      z-index: 10000;

      input, button {
        padding: 2px;
        height: 1.8rem;
      }

      input {
        width: 142px;
      }
    }
  }

  .node-header-label {
    font-weight: 700;
    color: rgba(73, 78, 105, 1);
    margin-right: 0.25em;
  }
}

.node-status {
  padding: .25em;
  pointer-events: auto;
}

.node-header-colorblock {
  border-radius: 3px 0 0 3px;
  width: 1em;
  &.node-type-input {
    background: $node-blue;
  }
  &.node-type-function {
    background: $node-green;
  }
  &.node-type-constant {
    background: $shade-light;
  }
}

rf-input-node {
  flex: 1;
  cursor: auto;
  pointer-events: auto;
  padding: 1em;
}

rf-constant-node {
  flex: 1;
  cursor: auto;
  pointer-events: auto;
  padding: 1em;
}

rf-operation-node{
  flex: 1;
  cursor: auto;
  pointer-events: auto;
  padding: 1em;
  display: flex;
  align-items: stretch; //ie 11 fix uses stretch instead of center
}

rf-classify-node {
  flex: 1;
  cursor: auto;
  pointer-events: auto;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  max-height: 222px;
  overflow: hidden;
}

rf-node-statistics {
  flex: 1;
  cursor: auto;
  pointer-events: auto;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  max-height: 240px;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}

.operation-node-body {
  display: flex;
  flex: 1;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid $gray-lightest;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.classify-node-preview {
  display: flex;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.node-statistics {
  display: flex;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.classify-node-preview-row {
  display: flex;
  flex-direction: row;
  user-select: text;
  &.with-border {
    border: 1px solid $gray-lightest;
    border-bottom: none;
    &:last-child {
      border-bottom: 1px solid $gray-lightest;
    }
  }
  &.with-margin {
    margin-bottom: 1rem;
  }
}

.classify-node-setting {
  background: $off-white;
  border: 1px solid $gray-lightest;
  padding: 0.5rem 1rem;
  text-align: center;
  flex: 1;
  margin-right: 0.5rem;
  &:last-child {
    margin-left: 0.5rem;
    margin-right: 0rem;
  }
}

.classify-node-class {
  flex: 1;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  text-align: center;
  &.header {
    font-weight: bold;
  }
  &:last-child {
    margin-left: 0;
    border-left: 1px solid $gray-lightest;
    margin-right: 0.5rem;
  }
  text-align:right;
}

.node-controls {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  &.overlayed {
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(255,255,255, 0.15));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
  }
}

.btn-operation {
  flex: 1;
  display: block;
  width: 100%;
  text-align: center;
  padding: .5em;
}

.input-node-item {
  flex: 0;
  display: flex;
  flex-direction: row;
  flex-basis: fill;
  margin-bottom: 2rem;
  align-items: center;
}
.input-node-label {
  padding: 1em;
  font-weight: 700;
  flex: 1;
}

.input-node-input-label {
  display: flex;
  align-items: center;
  padding: .8rem 1rem;
  font-weight: 600;
}

.input-data {
  width: 20em;
  align-items: center;
}

.node-dropdown-menu {
  position: absolute;
  left: 2.1em;
  top: -1em;
  z-index: 100;

  width: 13em;
  background: white;

  border-radius: 2px;
  border: 1px solid $shade-light;


  &::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 2em;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $shade-light;
  }

  ul {
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: .5em 0 0 0;
  }
  li {
    padding: 0 1em .5em 1em;
    &:hover {
      color: $shade-dark;
    }
    &.disabled {
      color: $gray-lightest;
      &:hover {
        color: $gray-lightest;
      }
    }
  }
  .divider {
    height: 1px;
    margin: 0 .5em 0.5em .5em;
    overflow: hidden;
    border-bottom: 1px solid $gray-lightest;
  }
}

.joint-element {
  cursor: drag;
}

.form-group label + rf-toggle {
  margin-left: 1rem;
}

.form-group {
  .btn.fill {
    flex: 1;
    line-height: 1em;
  }
}

.lab-action-controls {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  z-index: 1025;
  display: flex;
  flex-direction: row;
  background: transparent;
  .btn {
    margin: 0.5em;
    pointer-events: auto;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
  }
  .form-control {
      pointer-events: auto;
      margin: 0.5em;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
  }
  pointer-events: none;
}

.lab-container {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.lab-right {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.lab-left {
  position: relative;
  height: 100%;
  overflow: hidden;

  .map-container-controls {
    right: 20px;
  }
}

.resize-separator {
  user-select: none;
  pointer-events: none;
  height: 100%;
  width: 3px;
  position: absolute;
  z-index: 1001;
  background: $shade-normal;
  transform: translateX(-1.5px);

  .resize-handle-grabber {
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateX(calc(-50% + 1.5px)) translateY(-50%);

    font-size: 1.5em;
    padding: .25em .1em .25em .1em;

    cursor: col-resize;
    background: white;
    border: 1px solid $shade-dark;
    border-radius: 4px;
    pointer-events: auto;

    [class^="icon-"]:before, [class*=" icon-"]:before {
      width: 1em;
      margin-right: 0em;
      margin-left: 0em;
    }
  }
}

.resize-ghost {
  height: 100%;
  width: 3px;
  position: absolute;
  z-index: 1001;
  background: rgba(149, 156, 172, 0.5);
  transform: translateX(-50%);
  user-select: none;
  pointer-events: none;
}
.resize-ghost-text {
  border-radius: 3px;
  position: absolute;
  border: 1px solid $shade-light;
  background: $white;
  color: $brand-primary;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 1em;
  z-index: 1002;
  font-weight: 700;
}

.lab-footer {
  z-index: 1001;
  position: absolute;
  bottom: 0;
  border-style: solid;
  border-width: 2px 2px 0 2px;
  border-radius: 5px 5px 0 0;
  border-color: $warning;
  color: $warning;
  font-weight: 700;
  background: $white;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
}

.map-search-prompt {
  text-align: center;
  font-weight: bold;
  padding: 2rem 1rem 1rem;
}

.map-search-results {
  list-style: none;
  margin: 0;
  padding: 0;
}

.keyboard-shortcut-key {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: $white;
  border: 1px solid #ccc;
  border-radius: $border-radius-base * 2;
  font-size: 1.2rem;
  letter-spacing: 0.00625rem;
  color: #999;
}

.map-search-results-item {
  border-radius: $border-radius-base;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  .label {
    padding: 1.3rem 1rem;
    flex: 1;
  }
  .info-text {
    padding: 0 1rem;
    text-align: right;
    color: $off-white;
  }
  &:hover {
    background: $shade-normal;
    color: $white;
    cursor: pointer;
  }
  &.active {
    background: $brand-primary;
    color: $white;
  }
}

rf-node-selector {
  white-space: nowrap;
  position: absolute;
  display: flex;
  flex-direction: row;
  background: $shade-dark;
  color: $white;
  top: .25em;
  z-index: 1001;
  border-radius: 3px;
}

.node-selector-dropdown {
  font-weight: 700;
  color: $white;
  padding: .2em;
  height: 2.5em;
  display: flex;

  .btn {
    color: $white;
    font-weight: 700;
    width: 21rem;
    flex: none; // ie11 fix, we use width so dont need flex
    display: flex;
    justify-content: space-between;
  }
}

.node-selector-close {
  flex: none; // ie11 fix uses none instead of 0
  display: flex;
  flex-direction: column;
  .btn {
    flex: 1;
  }
}

.node-select {
  position: relative;
  width: 21rem;
  height: 1em;
  background: $shade-dark;
}

.node-selections {
  position: absolute;
  top: 2em;
  background: $shade-dark;
  width: 21rem;
  max-height: 16em;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 3px;
}

.node-option {
  cursor: pointer;
  padding: .25em .5em .25em .5em;
  &:hover {
    background: $shade-light;
  }
  &.selected {
    background: $brand-tertiary;
  }
}

.node-filter {
  color: $shade-dark;
  padding: .25em;
  border-radius: 3px;
  border: 1px solid $shade-light;
}

.dropdown-menu {
  > li > a {
    &.dropdown-danger {
      color: $danger;
      &:hover {
        color: $white;
        background: $danger;
      }
    }
  }
  &.drop-left {
      left: initial;
      right: 0;
  }
}
.leaflet-frame {
  position: absolute;
  /* border: 1px solid red; */
  z-index: 1000;
  pointer-events: none;
}

.leaflet-frame-divider {
  position: absolute;
  background: $shade-dark;
  pointer-events: none;
  width: 4px;
}

.leaflet-frame-grabber {
  position: absolute;
  /* width: 30px; */
  /* height: 30px; */
  background: $brand-primary;
  border-radius: 3px;

  color: $white;
  cursor: col-resize;
  top: calc(50% - 9px);
  z-index: 1001;

  left: -11px;
  z-index: 1500;
  padding: 12px 4px 12px 4px;
  border-radius: 3px;
  background-color: $brand-primary;
  color: $white;

  width: 25px;
  height: 40px;

  pointer-events: auto;
}

// page: projects/edit/:project_id/annoate
.sidebar-project.no-annotation,
.list-group-item.no-annotation{
    border-style: none;
}

.panel.panel-off-white.no-annotation {
    height: 75px;
    border: 1px solid #e9e9ea;
    background-color:#f5f7f7;
}
.panel.panel-off-white.no-annotation p {
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}

.list-group-item.filter-annotations {
    border-style: none;
}

.list-group-item.filter-annotations p {
    flex-direction: row;
}

.list-group-item.list-sidebar-annotations div {
    flex-direction: row;
}

.list-group-item.list-sidebar-annotations div:nth-child(1) {
    border: 1px solid #969cac;
    width: 35px;
    height: 35px;
}

.list-group-item.list-sidebar-annotations div:nth-child(1) i {
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 24px;
}

.list-group-item.list-sidebar-annotations div:nth-child(2) h5 {
    font-weight: normal;
}

.list-group-right.actions-annotations{
    width: 100%;
}

.list-group-right.actions-annotations a {
    text-decoration: none;
    margin: 2px;
}

.list-group-right.actions-annotations a:nth-child(1) i,
.list-group-right.actions-annotations a:nth-child(2) i {
    border: 1px solid #969cac;
    border-radius:2px;
    color: #969cac;

}

.list-group-right.actions-annotations a:nth-child(3) i {
    border: 1px solid #da7976;
    border-radius:2px;
    color: #da7976;
}

.app-connections-group {
  flex-wrap: wrap;
}

.app-connection-container {
  position: relative;
  border: 1px solid #dedede;
  box-shadow: 2px 3px 5px #ddd;
  border-radius: 3px;
  width: 15em;
  margin: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.app-connection-logo {
  align-items: center;
  padding: 1em;
  margin: 1.5em 1.5em 0.75em 1.5em;
  border-radius: 3px;
  /* border: 1px solid $shade-light; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 10em;
  }

  &.dark {
    background: $shade-dark;
  }
}

.app-connection-action {
  text-align: center;
  padding: 0.75em 1.5em 1.5em 1.5em;
}

.app-connection-info {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}

.button-spacer {
  margin-left: .75em;
}

.color-scheme-list {
  margin: 0;
  padding: 0;
  .color-scheme-item {
    display: flex;
  }
}

rf-color-scheme-builder {
  flex: 1;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 1rem;
  ul {
    font-size: 1.4rem;
    list-style: none;
    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.color-scheme-color-container {
  display: flex;
  align-items: stretch;
  border: 1px solid #ddd;
  border-radius: 2px;
  position: relative;
  .color-scheme-color-swatch {
    width: 32px;
    flex-shrink: 0;
  }
  .color-scheme-color-value {
    flex: 1;
    border: none;
    border-left: 1px solid #ddd;
    padding: 0 1rem;
  }
  .controls {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: stretch;
    button {
      border: none;
      background: #ddd;
      &:not(:last-child) {
        border-right: 1px solid #d3d3d3;
      }
      &:disabled {
        color: #bbb;
      }
    }
  }
  &:hover .controls {
    display: flex;
  }
}

.color-scheme-break {
  width: 85px;
}

.dropdown-menu .gradient-dropdown-item {
  display: flex;
  padding: 0.5rem 0.66rem 0.5rem 0 !important;
  margin: 0 !important;
  &:hover {
    background: $gray-lightest;
    cursor: pointer;
  }
  .selected-gradient-indicator {
    width: 1.5em;
    text-align: center;
    i {
      color: $brand-primary;
    }
  }
}

ul.gradient-dropdown {
  padding: 0;
}



.graph-labels {
  position: relative;
  & > div {
    position: absolute;
    top: 0.5em;
    font-weight: bold;
  }
  .min-label {
    left: 0;
  }
  .max-label {
    right: 0;
  }
}

rf-histogram-breakpoint {
  position: absolute;
  height: 100px;
  top: 0;
  pointer-events: auto;
  padding: 0 5px;
  margin-left: -6px;

  &.active {
    .breakpoint-input {
      display: initial;
    }
  }

  .breakpoint-bar {
    pointer-events: none;
    width: 2px;
    background-color: $brand-primary;
    height: 25%;

    &.top {
      position: absolute;
      top: 0;
    }

    &.bottom {
      position: absolute;
      bottom: 0;
    }

    &.full {
      height: 100%;
      top: 0;
      bottom: 0;
    }
  }

  .breakpoint-grabber {
    position: absolute;
    opacity: 0;
    pointer-events: auto;
    cursor: ew-resize;
    user-select: none;
    transition: all 0.125s;

    &.point {
        top: 50%;
        width: 10px;
        height: 10px;
        opacity: 1;
        transform: translate(calc(-50% + 1px), -50%);
        background: white;
        border-radius: 50%;
        border: 2px solid $brand-primary;
    }

    &.bar {
      top: 50%;
      transform: translate(calc(-50% + 1px), -50%);

      width: 10px;
      height: 50%;

      background: $brand-primary; //$brand-primary;
      border-radius: 5px;
      border: 2px solid darken($brand-primary, 10%);
    }

    &.arrow {
      position: relative;
      top: calc(100% - 5px);
      transform: translate(calc(-50% + 1px), -50%);
      width: 10px;
      height: 10px;
      background: $white;
      border: 1px;
      &:before {
	      bottom: 100%;
        border-style: solid;
	      border-width: 0 5px 5px 5px;
        border-color: transparent transparent $white transparent;
	      content: " ";
	      height: 5;
	      width: 10;
	      position: absolute;
      }
    }
  }

  &:hover .breakpoint-grabber {
    opacity: 1;
  }

  .breakpoint-grabber.dragging {
    opacity: 1;
  }

  .breakpoint-input {
    position: absolute;
    top: 100%;
    transform: translate(-10%, 25%);
    display: none;

    &.active {
      z-index: 4000;
      display: initial;
    }

    &.alwaysShow {
      display: initial;
    }

    &.switched {
      transform: translate(-90%, 25%);
    }

    input {
      pointer-events: auto;
      width: 4.5em;
      background: $shade-normal;
      color: $white;
      border: 1px solid transparent;
      padding: 0.25em;
    }
  }
}

.graph-container {
  user-select: none;
  position: relative;
  &[disabled] {
      cursor: not-allowed;
  }

  &.dragging {
    * {
      pointer-events: none;
      cursor: ew-resize;
    }
  }
  *.active {
    z-index: 5000;
    input {
      border: 1px solid $brand-primary;
    }
  }
}

.histogram-spacer {
  height: 3em;
}

.colorscheme-selector {
  padding: 0;
}
.dropdown-header {
  display: flex;
  align-items: stretch;
  height: 38px;
  background: $off-white;
  border-bottom: 1px solid $gray-lightest;
  .dropdown-header-link-container {
    align-self: center;
    padding: 0rem 0rem 0rem 1rem;
    :last-child {
      padding: 0rem 1rem 0rem 0rem;
    }
  }
  :last-child {
    flex: 1;
    text-align: right;
  }
}

.dropdown-titlebar {
  display: flex;
  align-items: center;
  .navigation-button {
    font-size: 22px;
    width: 3.5rem;
    align-self: stretch;
    background: none;
    border: none;
    color: $brand-primary;
  }
  .dropdown-title {
    text-align: left;
    font-weight: bold;
    color: $brand-primary;
    cursor: pointer;
  }
}

ul.dropdown-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 20em;
  min-width: 12em;
  overflow-y: auto;

  li.dropdown-list-item {
    margin: 0;
    padding: 1rem 1rem 1rem 0rem;
    border-bottom: 1px solid $gray-lightest;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $shade-light;
    .label {
      font-weight: normal;
    }
    .selection-indicator {
      width: 3.5rem;
      text-align: center;
      i {
        color: $brand-primary;
        display: none;
      }
    }
    .reverse-indicator {
      padding: .25em;
      margin: .25em 0 .25em .25em;
      text-align: center;
      border-radius: 3px;
      color: $brand-primary;
      visibility: hidden;
      &.active {
          background: $brand-primary;
          color: $white;
      }
    }
    span {
      font-style: italic;
      margin-left: 1rem;
    }
    &:hover {
      background: $gray-lightest;
    }
    &.selected {
      color: $brand-primary;
      .selection-indicator i {
        display: inline;
      }
      .reverse-indicator {
        visibility: initial;
        pointer-events: auto;
      }
    }
    &:last-child {
      border-bottom: none;
    }
    &:active {
      outline: none;
    }
  }
}

.node-actions {
  pointer-events: auto;
  position: relative;
}

.node-button-group {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  margin-right: 1em;
  z-index: 1;
}
.node-button {
  padding: 0.2em;
}

rf-node-histogram {
  pointer-events: auto;
  background: $shade-normal;
  color: $white;
  border-radius: 0 0 5px 5px;
  padding: 0.5em 0.5em 3em 0.4em;
  .histogram-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.node-histogram-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0.5em 0;
  font-weight: 600;

  .gradient {
    margin-top: 0.5em;
    width: 12em;
    height: 2em;
    border: 1px solid $shade-light;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background: $shade-light;
      border: 1px solid transparent;
    }
  }

  .checkbox {
    margin-right: 5px;
    font-weight: 600;
  }

  label {
    padding: .2em;
  }

  .histogram-checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  rf-color-scheme-dropdown {
    width: 12em;
    z-index: 5010;
    height: 2.4em;
    .dropdown {
      height: 100%;
    }
    .dropdown-toggle {
      background: $shade-dark;
      font-weight: 700;
      color: white;
      border: 1px solid $shade-dark;
      border-radius: 3px;
      &.dropdown:hover {
        background-color: inherit;
      }
    }
  }
}

nvd3 {
  pointer-events: none;
}

.histogram-placeholder {
    z-index: 1;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translateY(-50%) translateX(-50%);
    padding: 1em;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    &.light {
      background: none;
    }
}

.node-data-placeholder {
  font-weight: 700;
  text-align: center;
  padding: 1em;
  width: 90%;
  background: #fafafa;
  border: 1px solid $gray-lightest;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  .message {
    flex: 1;
  }
  > *:not(:last-child) {
    margin-right: 1em;
  }
}

/* Component: Reclassify Modal */
rf-reclassify-modal {
    .modal-body {
      display: flex;
      flex-direction: column;
      padding: 0;
      padding-left: 250px !important;
    }
    .classification-data {
      padding: 2em;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .classification-histogram {
      padding: 1em 1em 3em;
      background: $white;
      border-top: 1px solid $gray-lightest;
      min-height: 130px;
      flex-shrink: 0;
      overflow: hidden;
    }
    .classification-options {
      flex-shrink: 0;
      display: flex;
      margin-bottom: 2em;
      .classification-opt {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        margin: auto 1ex;
      }
    }

    rf-reclassify-table {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .classification-values {
      margin-top: 1em;
    }

    .classification-row {
      background: $white;
      border: 1px solid $gray-lightest;
      border-bottom: none;
      display: flex;
      flex-shrink: 0;
      &:last-child {
        border-bottom: 1px solid $gray-lightest;
        border-radius: 0  0 $border-radius-base $border-radius-base;
      }
      & > div {
        flex: 1;
        padding: 0.2em 2em;
        &:first-child {
          border-right: 1px solid $gray-lightest;
        }
      }
    }

    .classification-ranges {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: auto;
      position: relative;
    }

    .class-header {
      font-weight: bold;
    }

    .class-range-input,
    .class-value-input {
      border: none;
      flex: 1;
      padding: 0.33em 2em;
      cursor: text;
      &:first-child {
        border-right: 1px solid $gray-lightest;
        flex-shrink: 0;
        flex-basis: 0.5;
      }
    }

    .class-value-input {
      border: none;
    }

    .invalid-entry-warning {
      position: absolute;
      right: 0;
      transform: translateX(-100%);
      color: $warning;
      pointer-events: none;
    }

    .invalid-range-warning {
        display: inline-block;
    }

    rf-reclassify-entry {
      display: flex;
      flex: 1;

      input {
        flex: 1 0 auto;
      }
    }
}

rf-reclassify-table {
  display: flex;
  flex-direction: column;
}

.app-width-container {
  max-width: 1200px;
  margin: 0 auto !important;
}

.paginated-results-table {
  $cell-padding: 0.75em 1.5em;
  width: 100%;
  border-radius: $border-radius-base;
  tr:not(.header) {
    border: 1px solid $gray-lightest;
    background: $off-white;
  }
  th {
    text-align: left;
    padding: $cell-padding;
    font-weight: bold;
    a {
      font-weight: bold;
    }
  }
  td {
    padding: $cell-padding;
  }
  .date-column {
      width: 13em;
  }
  .action-column {
      width: 0;
      padding: 1em 0;
  }
}

.lab-info-dialogue {
    position: absolute;
    top: 25%;
    text-align: center;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    border-radius: 3px;
}

.sidebar-loading {
    font-size: 3rem;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inline-form {
    display: inline-block;
    margin-bottom: 0;
}

.selectable-node {
    pointer-events: auto;
    cursor: pointer;
    * {
        pointer-events: none;
    }
    &:hover {
        /* outline: 2px solid $brand-secondary; */
        /* outline-radius: 5px; */
        box-shadow: 0 0 3pt 2pt $brand-secondary;
    }
}
.selected-node {
    pointer-events: auto;
    cursor: not-allowed;
    box-shadow: 0 0 3pt 2pt $brand-secondary;

    * {
        pointer-events: none;
    }
}

.no-visibility {
    visibility: hidden !important;
}

.row-hover-controls {
  .row-controls {
    width: 1px;
    padding: 1em 0.25em;
    button {
      opacity: 0.2;
      pointer-events: none;
      transition: all 0.125s;
    }
    label {
        justify-content: flex-end;
    }
  }
  &:hover .row-controls button {
    opacity: 1;
    pointer-events: all;
  }
}

.measurement-result {
    margin-bottom: 1em;
}

.list-group-overflow p, .list-group-overflow span {
  white-space: initial;
}

.leaflet-div-icon {
    background: $green;
    border: none;
    opacity: 0.9;
    border-radius: 50%;
}

// imports/datasources/detail
.license-input {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1;
    width: 100%;
}

.license-selections {
  border: 1px solid $gray-lighter;
  display: block;
  z-index: 1000;
  position: absolute;
  background-color: $white;
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}

.btn-licenses {
  width: 100%;
  text-align: left;

  span {
    float: right;
  }
}

.copy-confirmation {
  font-size: 2rem;
}

.beta-tag {
  margin-left: 0.5rem;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1rem;
}

.permission-grant-item {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: #fff;
  display: flex;
}

.permissions-object-key {
  margin-right: 1rem;
  flex: 1;
}

.selectable-list-item {
  margin-bottom: 0.5rem;
  text-align: left;
}

.titlecase {
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}

// page route: admin/platform/<id>/settings/email
.subscription-toggle,
.encryption-toggle {
  & .checkbox {
    padding-top: 1rem;

    & span {
      padding-left: 1rem;
    }
  }
}


// color map modal
.cm-modal-section {
    &.bg-border {
        border: 1px solid $gray-lightest;
        background: lighten($gray-lightest, 10%);
        border-radius: 2px;
        padding: 1em;
        color: $shade-dark;
    }

    &.error {
        border: 1px solid $red;
        background: lighten($red, 40%);
    }

    &.horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .btn {
            margin: 1em;
        }
        svg {
            flex: 1;
        }
    }
    .expand {
        flex: 1;
    }

    .float-width {
        width: 17em;
    }
    .action-width {
        width: 5em;
    }
}

.cm-modal-value-table {
    width: 100%;
    td {
        border: 1px solid $shade-light;
        border-collapse: collapse;
        padding: 0.5em;
    }
    margin-bottom: 0.5em;
}

.object-list-actions {
  margin: 2em 2em 0;
}
rf-navbar-search {
    position: relative;
}

.navbar-search-results {
    position: absolute;
    bottom: -0.5em;
    right: 0;
    transform: translateY(100%);
    width: 25.5em;
    background: $white;
    border: 1px solid $shade-light;
    border-radius: 3px;
    background: $white;
    z-index: 5000;
    display: flex;
    flex-direction: column;

    .navbar-search-result {
        display: flex;
        flex-direction: row;
        flex: 1;
        text-align: left;
        color: $shade-light;
        padding: 0.5em;
        .result-placeholder {
            text-align: center;
            padding: 0.5em;
            width: 100%;
        }
        .avatar {
            display: block;
        }
        .result-text {
            margin-left: 1em;
            flex: 1;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &:hover {
            background: $shade-light;
            color: $white;
        }
    }
}

.div-disabled {
  opacity: 0.5;
  pointer-events: none;

  > * {
    opacity: 0.5;
    pointer-events: none;
  }
}

// user/me/settings/profile
.user-profile-body,
.user-profile-content {
  padding-top: 0;
  padding-left: 0;
}

.user-profile-form {
  padding-top: 2rem;
  padding-left: 2rem;
}

.profile-dropdown {
  border-color: $gray-lightest;
  height: 3.8rem;
}

// components/common/dateRangePickerModal
.format-tip {
  margin-left: 6.5rem;
  font-size: 80%;
}

.color-filters-container {
    position: relative;
}

.histogram-overlay {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}


// components/exports/exportAnalysisDownloadModal/exportAnalysisDownloadModal.html
.export-modal-download-btn {
  width: 155px;
}

// pages/projects/edit/annotate/import/import.html
.annotation-upload-error {
  margin-top: 1em;
}

.list-item-left-actions {
    a {
        color: $brand-primary;
    }
    a.invert {
        background-color: $brand-primary;
        color: $white;
    }
}

.scene-item-ordering {position: absolute;
    .form-control {
        width: 5em;
    }
    .btn {
        padding: 0.5em;
    }
}

// datasource item
.btn-group-tooltip-disabled {
  cursor: not-allowed;
}

// sceneImportModal
.import-s3-msg {
  margin: 1em 0;
}
.import-s3-suggestions {
  margin-bottom: 1em;

  button {
    margin-right: 1em;
  }
}

.browse-source-drop-down {
  padding: 11px 8px;
  background-color: $shade-dark;
  border-color: $shade-dark;
}

.date-range-select {
  margin: 0 0 7px;

  input {
    color: $white;
    cursor: pointer;
  }

  i {
    color: $white;
  }
}

.layer-item-swatch {
    height: 1em;
    width: 1em;
    border-radius: 2px;
    background: $white;
}

.btn[uib-dropdown].open {
    z-index: 100;
}

.menu-separator {
    height: .2em;
    width: 100%;
    border-top: 1 px solid #ccc;
}

rf-project-layers-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: $off-white;
    min-height: 0; // firefox flexbox compatability

    rf-layer-item {
        display: block;
        background: $white;
        border: 1px solid $gray-lightest;
        border-radius: 3px;
        margin: .25em;
    }
}

.form-control.color-picker {
  cursor: pointer;
}
