<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <h4 class="modal-title">
      Mapara de colores personalizado
    </h4>
    <p class="modal-subtitle">Carga, pega o selecciona un mapa de colores personalizado</p>
  </div>
  <div class="modal-body">
    <div class="content">
      <select class="form-control"
              ng-model="$ctrl.selectMode"
              ng-model-options="{ getterSetter: true }">
        <option value="form" selected>Colores y puntos de quiebre seleccionados</option>
        <option value="file">Cargar mapa de colores</option>
        <option value="text">Pegar mapa de colores</option>
      </select>
      <br>
      <div ng-if="$ctrl.selectMode === 'form'">
        <div class="cm-modal-section">
          <table style="width: 100%">
            <thead>
              <tr>
                <th class="float-width">Punto de quiebre</th>
                <th>Color </th>
                <th class="action-width">Acción</th>
              </tr>
            </thead>
            <tbody> <tr ng-repeat="breakpoint in $ctrl.breakpoints track by $index">
                <td><input type="number" step="1" class="form-control float-width" ng-model="breakpoint.value"></td>
                <td><input type="color" class="form-control" ng-model="breakpoint.color"></td>
                <td>
                  <button class="btn btn-tiny btn-ghost"
                          title="Agregar punto de quiebre arriba"
                          ng-click="$ctrl.addBreakpoint(breakpoint, $index)">
                    <span class="icon-plus"></span>
                  </button>
                  <button class="btn btn-tiny btn-ghost"
                          title="Eliminar punto de quiebre"
                          ng-click="$ctrl.deleteBreakpoint($index)"
                          ng-disabled="$ctrl.breakpoints.length <= 2">
                    <span class="icon-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-if="$ctrl.selectMode === 'file'">
        <div class="cm-modal-section">
          <label class="btn btn-primary btn-block btn-upload-label"
                 for="btn-upload"
                 ng-click="$ctrl.onUploadClick()">
            <input type="file"
                   accept="application/json"
                   id="btn-upload"
                   class="btn-upload">
            Upload
          </label>
        </div>
        <div class="cm-modal-section bg-border">
          Cargar un archivo JSON que contiene un arreglo de colores en hex.
          <br>
          Ejemplo: <code>["#fafafa", "#afafaf"]</code>
        </div>
        <div class="cm-modal-section bg-border error" ng-show="$ctrl.uploadError">
          Ocurrió un error al leer el archivo.
          <br>
          Por favor verifica que es JSON válido y que los colores
          están en el formato correcto.
          <br>
          {{$ctrl.uploadError}}
        </div>
      </div>
      <div ng-if="$ctrl.selectMode === 'text'">
        <div class="cm-modal-section">
          <textarea class="form-control" placeholder="Pegar mapa de colores" ng-model="$ctrl.pastedColormap"></textarea>
          <button class="btn btn-primary" ng-click="$ctrl.onPaste($ctrl.pastedColormap)">Aplicar</button>
        </div>
        <div class="cm-modal-section bg-border">
          Pegar un arreglo JSON de colores en hex.
          <br>
          Ejemplo: <code>["#fafafa", "#afafaf"]</code>
          <br>
          <a href="http://colorbrewer2.org" target="_blank">Puedes usar Colorbrewer para generar el arreglo</a>
        </div>
        <div class="cm-modal-section bg-border error" ng-show="$ctrl.pasteError">
          {{$ctrl.pasteError}}
          <br><br>
          Ocurrió un error al leer los colores que pegaste.
          <br>
          Por favor verifica que es JSON válido y que los colores
          están en el formato correcto.
        </div>
      </div>
    </div>
    <div class="cm-modal-section horizontal">
      <table class="cm-modal-value-table">
        <tbody>
          <tr>
            <td>
              Valor mínimo de pixel detectado: <br> {{$ctrl.histMin}}
            </td>
            <td>
              <label>
                Valor mínimo de pixel:
                <input class="form-control" type="number" ng-model="$ctrl.minPixelValue">
              </label>
            </td>
          </tr>
          <tr>
            <td>
              Valor máximo de pixel detectado: <br> {{$ctrl.histMax}}
            </td>
            <td>
              <label>
                Valor máximo de pixel:
                <input class="form-control" type="number" ng-model="$ctrl.maxPixelValue">
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-tertiary"
            ng-click="$ctrl.redistributePixelValues()">
      Distribuir los valores de pixel en el rango definido
    </button>
  </div>
  <div class="modal-footer">
    <div class="cm-modal-section horizontal">
      <svg ng-attr-id="graph-{{$ctrl.graphId}}"></svg>
      <button class="btn"
              ng-click="$ctrl.dismiss()"
      >Cancelar</button>
      <button class="btn btn-primary"
              ng-disabled="$ctrl.uploadError || $ctrl.pasteError || $ctrl.breakpointError"
              ng-click="$ctrl.closeWithBreakpoints()"
      >Usar esquema de colores</button>
    </div>
  </div>
</div>

<style ng-if="$ctrl.graph">
 #graph-{{$ctrl.graphId}} .data-fill {
     fill: url(#line-gradient-{{$ctrl.graphId}}) !important;
     fill-opacity: 1 !important;
     stroke: url(#line-gradient-{{$ctrl.graphId}}) !important;
     stroke-opacity: 1 !important;
 }
</style>
