<div class="sidebar-header dark" >
  <h5>Filtros</h5>
  <div class="header-controls">
    <button class="btn btn-default btn-small" ng-click="$ctrl.close()">
      Cerrar
    </button>
  </div>
</div>
<div class="sidebar-scrollable" >
  <div class="content">
    <div class="filter-group">
      <div class="filter">
        <a href ng-click="$ctrl.resetAllFilters()" class="btn btn-toggle btn-small btn-block">Limpiar filtros</a>
      </div>
    </div>
    <rf-search-select-filter
      class="filter-group"
      data-filter="$ctrl.datasourceFilter"
      on-filter-change="$ctrl.onDatasourceFilterChange(filter, filterParams)">
    </rf-search-select-filter>
    <div class="filter-group">
      <div class="filter">
        <label>Cobertura de nubes</label>
        <rzslider rz-slider-model="$ctrl.filterOptions.cloudCover.minModel"
                  rz-slider-high="$ctrl.filterOptions.cloudCover.maxModel"
                  rz-slider-options="$ctrl.filterOptions.cloudCover.options"></rzslider>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter">
        <label>Elevación del sol</label>
        <rzslider rz-slider-model="$ctrl.filterOptions.sunElevation.minModel"
                  rz-slider-high="$ctrl.filterOptions.sunElevation.maxModel"
                  rz-slider-options="$ctrl.filterOptions.sunElevation.options"></rzslider>
      </div>
    </div>
    <div class="filter-group">
      <div class="filter">
        <label>Azimut del sol</label>
        <rzslider rz-slider-model="$ctrl.filterOptions.sunAzimuth.minModel"
                  rz-slider-high="$ctrl.filterOptions.sunAzimuth.maxModel"
                  rz-slider-options="$ctrl.filterOptions.sunAzimuth.options"></rzslider>
      </div>
    </div>
  </div>
</div>
