<div class="map-container"></div>
<div class="map-container-controls">
  <div class="zoom-level" title="Zoom actual">{{$ctrl.zoomLevel}}</div>
  <button class="map-control-btn"
          title="Más zoom"
          ng-click="$ctrl.zoomIn()"
          tooltips tooltip-template="Zoom in" tooltip-size="small" tooltip-class="map-control-tooltip" tooltip-side="left">
    <i class="icon-plus"></i>
  </button>
  <button class="map-control-btn"
          title="Menos zoom"
          ng-click="$ctrl.zoomOut()"
          tooltips tooltip-template="Zoom out" tooltip-size="small" tooltip-class="map-control-tooltip" tooltip-side="left">
    <i class="icon-minus"></i>
  </button>
  <div class="map-control-popup-container">
    <button class="map-control-btn"
            title="Basemap and layers"
            ng-class="{'active': $ctrl.layerPickerOpen}"
            ng-click="$ctrl.toggleLayerPicker($event)"
            tooltips tooltip-template="Mapa base y capas"
            tooltip-size="small" 
            tooltip-class="map-control-tooltip"
            tooltip-side="left">
      <i class="icon-project"></i>
    </button>
    <div class="map-control-popup layer-popup"
          ng-show="$ctrl.layerPickerOpen"
          ng-click="$ctrl.cancelPropagation($event)">
      <div class="map-control-popup-body">
        <div class="layer-picker-option"
             ng-repeat="layer in $ctrl.basemapKeys"
             ng-style="$ctrl.getBasemapStyle(layer)"
             ng-click="$ctrl.setBasemap(layer)"
             ng-attr-title="{{layer}}"
             ng-class="{'active': $ctrl.mapWrapper.currentBasemap == layer}">
          <div class="layer-picker-label sr-only">{{layer}}</div>
        </div>
        <hr>
        <div class="layer-picker-toggle"
             ng-click="$ctrl.toggleLayer(layerId)"
             ng-repeat="layerId in $ctrl.toggleableLayers()"
             ng-class="{'active': $ctrl.layerEnabled(layerId)}">
          <div class="layer-picker-label">{{layerId}}</div>
          <div class="toggle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-control-popup-container">
    <button class="map-control-btn"
            title="Measure"
            ng-click="$ctrl.toggleMeasurePicker($event)"
            ng-class="{'active': $ctrl.measurePickerOpen}"
            tooltips tooltip-template="Medir"
            tooltip-size="small" 
            tooltip-class="map-control-tooltip"
            tooltip-side="left">
      <i class="icon-ruler"></i>
    </button>
    <div class="map-control-popup measure-popup"
         ng-show="$ctrl.measurePickerOpen">
      <div class="map-control-popup-body">
        <p>Escoge una herramienta de medición</p>
        <div class="layer-picker-option"
             ng-click="$ctrl.toggleMeasure('Polygon')"
             ng-class="{'active': $ctrl.toggleMeasure == Polygon}">
          <div class="layer-picker-label text-center">Área</div>
        </div>
        <div class="layer-picker-option"
             ng-click="$ctrl.toggleMeasure('Polyline')"
             ng-class="{'active': $ctrl.toggleMeasure == Polyline}">
          <div class="layer-picker-label text-center">Distancia</div>
        </div>
      </div>
    </div>
  </div>
  <button class="map-control-btn"
          title="Compare nodes"
          ng-class="{'active': $ctrl.comparing}"
          ng-click="$ctrl.onCompareClick()"
          tooltips tooltip-template="Comparar nodos"
          tooltip-size="small" 
          tooltip-class="map-control-tooltip"
          tooltip-side="left">
    <i class="icon-compare"></i>
  </button>
  <div class="map-control-popup-container">
    <button class="map-control-btn"
            title="Exportar"
            ng-click="$ctrl.toggleQuickExport($event)"
            ng-class="{'active': $ctrl.quickExportOpen && $ctrl.enableNodeExport}"
            ng-if="$ctrl.enableNodeExport"
            tooltips tooltip-template="Export" tooltip-size="small" tooltip-class="map-control-tooltip" tooltip-side="left">
      <i class="icon-export"></i>
    </button>
    <div class="map-control-popup export-popup"
        ng-if="$ctrl.quickExportOpen && $ctrl.enableNodeExport">
      <div class="map-control-popup-body export-popup">
        <p ng-if="!$ctrl.isExportCreated">Dibuja un área de interés para exportar el resultado del análisis en formato *.geotiff.</p>
        <div class="form-group" 
             ng-if="!$ctrl.isExportCreated"
             ng-class="{'hidden': $ctrl.isExportCreating}">
          <label for="">Exportar a</label>
          <div class="dropdown btn-group fixedwidth" uib-dropdown uib-dropdown-toggle>
            <a class="btn dropdown-label">
              {{$ctrl.exportTarget.label}}
            </a>
            <button type="button" class="btn btn-default dropdown-toggle">
              <i class="icon-caret-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
              <li ng-repeat="target in $ctrl.availableTargets" role="menuitem">
                <a ng-click="$ctrl.updateTarget(target)">{{target.label}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group" 
             ng-if="!$ctrl.isExportCreated"
             ng-class="{'hidden': $ctrl.isExportCreating}">
          <label>Nivel de zoom</label>
          <div class="dropdown btn-group fixedwidth" uib-dropdown uib-dropdown-toggle>
            <a class="btn dropdown-label">
              {{$ctrl.getCurrentResolution().value}} ({{$ctrl.getCurrentResolution().label}}<sup>2</sup>)
            </a>
            <button type="button" class="btn btn-default dropdown-toggle">
              <i class="icon-caret-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-light" uib-dropdown-menu role="menu">
              <li ng-repeat="res in $ctrl.availableResolutions" role="menuitem">
                <a ng-click="$ctrl.updateResolution(res.value)">{{res.value}} ({{res.label}})</a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p>{{$ctrl.exportNotice}}</p>
        </div>
        <div ng-if="$ctrl.isExportCreating" class="text-center">
          <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.isExportCreating}">
          </i>
          Cargando
        </div>
        <button
          class="btn lab-export-cancel"
          ng-click="$ctrl.onExportCancel()"
          ng-if="$ctrl.exportConfirmed && !$ctrl.isExportCreating">
          Cerrar
        </button>
        <button
          class="btn lab-export-cancel"
          ng-click="$ctrl.onExportCancel()"
          ng-if="!$ctrl.exportConfirmed">
          Cancelar
        </button>
        <button
          class="btn btn-primary pull-right lab-export-confirm"
          ng-if="!$ctrl.exportConfirmed"
          ng-click="$ctrl.onExportConfirm()"
          ng-disabled="!$ctrl.hasExportBbox">Confirmar</button>
      </div>
    </div>
  </div>
  <button class="map-control-btn last-of-type"
          title="Cerrar"
          ng-click="$ctrl.onLabMapClose()"
          tooltips tooltip-template="Close map" tooltip-size="small" tooltip-class="map-control-tooltip" tooltip-side="left">
    <i class="icon-close"></i>
  </button>
</div>
