<div class="modal-header">
	<button type="button" class="close" aria-label="Cerrar"
          ng-click="$ctrl.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <span class="badge"><i class="icon-download"></i></span>
  <h4 class="modal-title">
    Descargar escenas
  </h4>
</div>
<div class="modal-body" ng-if="!$ctrl.rejectionMessage">
  <div class="list-group" ng-show="$ctrl.isLoading">
    <span class="list-placeholder">
      <i class="icon-load animate-spin"></i>
    </span>
  </div>
  <div class="list-group" ng-if="!$ctrl.isLoading" ng-repeat="downloadSet in $ctrl.downloads">
    <div class="list-group-item">
      <div class="list-group-overflow">
        <strong class="color-dark">{{downloadSet.label}}</strong>
      </div>
    </div>
    <div ng-init="show = false">
      <div class="list-group-item selectable"
           ng-click="show = !show">
        <span class="badge color-dark selectable"><i class="icon-plus"></i></span>
        <strong class="color-dark">Imágenes</strong>
        <ng-pluralize count="downloadSet.images.length"
                      when="{'0': '0 imágenes disponibles',
                            'one': 'Una imagen disponible',
                            'other': '{} imágenes disponibles'}">
        </ng-pluralize>
      </div>
      <div ng-show="show"
           class="list-group-subitem"
           ng-repeat-start="image in downloadSet.images"
           ng-init="showImageDownloads = false">
        <a class="color-dark"
           ng-attr-href="{{image.uri}}"
           ng-if="image.uri.startsWith('http')"
           download>
          <span class="badge"><i class="icon-download"></i></span>
        </a>
        <a class="color-dark"
           ng-if="image.uri.startsWith('s3://')"
           tooltips tooltip-template="
                  Los recursos de S3 se deben descargar usando un cliente de línea de comando o librería de S3.
		  Clic aquí para leer sobre el cliente de línea de comando de AWS.
                  "
           tooltip-size="small"
           tooltip-class="rf-tooltip"
           tooltip-side="bottom"
           href="https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html"
           target="_blank">
          <span class="badge"><i class="icon-help"></i></span>
        </a>
        <div class="form-group all-in-one"
             style="width: 100%"
             ng-if="image.uri.startsWith('s3://')"
        >
          <input type="text"
                 class="form-control"
                 ng-attr-title="{{image.filename}}"
                 ng-value="image.uri"
                 readonly />
          <button class="btn btn-link btn-copy-modal-first"
                  clipboard text="image.uri"
                  ng-click="$ctrl.onCopyClick($event, image.uri, 'page')">
            <span ng-show="$ctrl.copyType !== 'page'">Copiar</span>
            <span class="icon-check copy-confirmation" ng-show="$ctrl.copyType === 'page'"></span>
          </button>
        </div>
        <a ng-attr-href="{{image.uri}}"
           ng-if="image.uri.startsWith('http')"
           download>{{image.filename}}</a>
      </div>
      <div ng-repeat-end
           ng-show="show"
           class="list-group-subitem download"
           ng-repeat="file in image.metadata">
        <a class="color-dark" ng-attr-href="{{file}}" download>
          <span class="badge"><i class="icon-download"></i></span>
        </a>
        <a class="color-dark" ng-attr-href="{{file}}" download>
          {{file}}
        </a>
      </div>
    </div>
    <div ng-init="show = false" ng-if="downloadSet.metadata.length">
      <div class="list-group-item selectable"
           ng-click="show = !show">
        <span class="badge color-dark selectable"><i class="icon-plus"></i></span>
        <strong class="color-dark">Metadatos</strong>
        <ng-pluralize count="downloadSet.metadata.length"
                      when="{'0': '0 archivos de metadatos disponibles',
                            'one': 'Un archivo de metadatos disponible',
                            'other': '{} archivos de metadatos disponibles'}">
        </ng-pluralize>
      </div>
      <div ng-show="show"
           class="list-group-subitem"
           ng-repeat="download in downloadSet.metadata">
        <a class="color-dark" ng-attr-href="{{download}}" download>
          <span class="badge"><i class="icon-download"></i></span>
        </a>
        <div class="list-group-overflow">
          <a ng-attr-href="{{download}}" download>{{download | shortenUrl}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-body" ng-if="$ctrl.rejectionMessage">
    <p>{{ $ctrl.rejectionMessage }}</p>
</div>

<div class="modal-footer">
  <div class="footer-section left">
    <button type="button" class="btn" ng-click="$ctrl.dismiss()">Cerrar</button>
  </div>
</div>
