<div class="sidebar-overlay" ng-show="$ctrl.drawing"></div>
<div class="sidebar-static">
  <div class="sidebar-header">
    <h5 class="sidebar-title">Publicar</h5>
  </div>
</div>
<div class="sidebar-scrollable">
  <div class="list-group">
    <div class="list-group-item sidebar-actions-group">
      <label>Visibilidad del proyecto</label>
      <div class="list-group-right btn-group">
        <button class="btn btn-default"
                ng-repeat="policy in $ctrl.sharePolicies"
                ng-if="policy.enabled"
                ng-click="$ctrl.onPolicyChange(policy)"
                ng-class="{'active': policy.active}"
                ng-disabled="!policy.enabled">
          {{policy.label}}
        </button>
      </div>
    </div>
    <div class="list-group-item sidebar-actions-group">
      <label>Página publicada</label>
      <div class="list-group-right btn-group">
        <button class="btn btn-default btn-copy-page"
                clipboard text="$ctrl.shareUrl"
                ng-click="$ctrl.onCopyClick($event, $ctrl.shareUrl, 'page')">
          <span ng-show="$ctrl.copyType !== 'page'">Copiar</span>
          <span class="icon-check copy-confirmation" ng-show="$ctrl.copyType === 'page'"></span>
        </button>
        <button class="btn btn-default"
                ng-click="$ctrl.onSharePageOpen()">
          Abrir
        </button>
      </div>
    </div>
    <div class="list-group-item sidebar-actions-group">
      <label>URL de la capa ZXY</label>
      <div class="list-group-right btn-group">
        <button class="btn btn-default btn-copy-page"
                clipboard text="$ctrl.tileLayerUrls.standard"
                ng-click="$ctrl.onCopyClick($event, $ctrl.tileLayerUrls.standard, 'zxy')">
          <span ng-show="$ctrl.copyType !== 'zxy'">Copiar</span>
          <span class="icon-check copy-confirmation" ng-show="$ctrl.copyType === 'zxy'"></span>
        </button>
      </div>
    </div>
    <div class="list-group-item sidebar-actions-group">
      <label>URL de la capa ArcGIS</label>
      <div class="list-group-right btn-group">
        <button class="btn btn-default btn-copy-page"
                clipboard text="$ctrl.tileLayerUrls.arcGIS"
                ng-click="$ctrl.onCopyClick($event, $ctrl.tileLayerUrls.arcGIS, 'arcGIS')">
          <span ng-show="$ctrl.copyType !== 'arcGIS'">Copiar</span>
          <span class="icon-check copy-confirmation" ng-show="$ctrl.copyType === 'arcGIS'"></span>
        </button>
      </div>
    </div>
    <div class="list-group-item sidebar-actions-group">
      <label>Token del mapa</label>
      <div class="list-group-right btn-group">
        <button class="btn btn-default btn-copy-page"
                clipboard text="$ctrl.mapToken.id"
                ng-click="$ctrl.onCopyClick($event, $ctrl.mapToken.id, 'token')">
          <span ng-show="$ctrl.copyType !== 'token'">Copiar</span>
          <span class="icon-check copy-confirmation" ng-show="$ctrl.copyType === 'token'"></span>
        </button>
      </div>
    </div>
  </div>
</div>
