<div class="container dashboard app-width-container">
  <div class="main">
    <div class="row content stack-sm">
      <div class="column-3">
          <rf-search on-search="$ctrl.fetchPage(1, value)"
                     value="$ctrl.search"
                     placeholder="Buscar plantillas"
                     auto-focus="true">
          </rf-search>
          <div class="aside aside-filters">
            <section>
              <h5>Crear una nueva plantilla</h5>
              <p>
                Crea una plantilla personalizada que puedes usar para ejecutar análisis.
              </p>
              <button type="button"
                      class="btn btn-default btn-block"
                      ng-click="$ctrl.openTemplateCreateModal()">
                Nueva plantilla
              </button>
            </section>
          </div>
      </div>
      <div class="column-9">
        <div class="text-center" ng-show="$ctrl.currentQuery">
          <div>Cargando plantillas</div>
          <span class="list-placeholder h3">
            <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
          </span>
        </div>
        <!-- Loading indicator -->

        <rf-pagination-count
            ng-if="!$ctrl.currentQuery && !$ctrl.fetchError && $ctrl.pagination.count"
            start-index="$ctrl.pagination.startingItem"
            end-index="$ctrl.pagination.endingItem"
            total="$ctrl.pagination.count"
            item-name="templates">
          <span ng-if="$ctrl.search">buscando <strong>{{$ctrl.search}}</strong></span>
        </rf-pagination-count>

        <!-- Temporarily removed ng-click until after demo done and detail page designed. -->
        <rf-template-item
            class="panel panel-off-white"
            ng-repeat="template in $ctrl.results"
            template-data="template"
            on-template-delete="$ctrl.onTemplateDelete(templateId)"
        ></rf-template-item>
        <div ng-if="!$ctrl.currentQuery && !$ctrl.search && $ctrl.pagination && !$ctrl.pagination.count"
          <rf-call-to-action-item title="Aún no has creado una plantilla" class="panel panel-off-white">
          </rf-call-to-action-item>
        </div>

        <div ng-show="!$ctrl.currentQuery && !$ctrl.fetchError && $ctrl.search && !$ctrl.pagination.count">
          <rf-call-to-action-item
              title="Tu búsqueda no devolvió resultados"
              class="panel panel-off-white">
            <p class="pb-25">
              No se pudo encontrar plantillas con "{{$ctrl.search}}".
            </p>
          </rf-call-to-action-item>
        </div>
        <div class="cta-row" ng-show="!$ctrl.currentQuery && $ctrl.fetchError">
          <rf-call-to-action-item
              title="Ocurrió un error al cargar las plantillas."
              class="panel panel-off-white">
            <div class="pb-25">
              Por favor actualiza la página y vuelve a intentar.<br />
              Si el problema continúa, por favor ponte en contacto con el equipo de soporte.
            </div>
          </rf-call-to-action-item>
        </div>

      <div
        ng-show="!$ctrl.currentQuery && !$ctrl.fetchError && $ctrl.search && !$ctrl.pagination.count"
      >
        <rf-call-to-action-item
          title="Your search didn't return any templates"
          class="panel panel-off-white"
        >
          <p class="pb-25">
            We weren't able to find any templates matching "{{ $ctrl.search }}".
          </p>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row" ng-show="!$ctrl.currentQuery && $ctrl.fetchError">
        <rf-call-to-action-item
          title="There was an error fetching templates."
          class="panel panel-off-white"
        >
          <div class="pb-25">
            Please refresh the page and try again.<br />
            If the problem persists, please contact
            {{ $ctrl.BUILDCONFIG.APP_NAME }} support.
          </div>
        </rf-call-to-action-item>
      </div>

      <!-- Pagination -->
      <rf-pagination-controls
        pagination="$ctrl.pagination"
        is-loading="$ctrl.currentQuery"
        on-change="$ctrl.fetchPage(value)"
        ng-show="!$ctrl.currentQuery && !$ctrl.fetchError"
      ></rf-pagination-controls>
      <!-- Pagination -->
    </div>
  </div>
</div>
