<div class="container dashboard">
  <div class="main">
    <div class="row content stack-sm">
      <div class="column-8">
        <div class="dashboard-header">
          <h1 class="h3">Inicio</h1>
        </div>
<!--        <rf-call-to-action-item title="Projects & Imports" class="panel panel-off-white"> -->
        <rf-call-to-action-item title="Proyectos e importaciones" class="panel panel-off-white">
          <p class="pb-25">
	    Importa tus propias imágenes geoespaciales o explora datos disponibles al público para usarlos en un proyecto.
          </p>
          <a class="btn btn-primary" ui-sref="projects.list">Ver proyectos</a>
          <button class="btn btn-default" ng-click="$ctrl.openCreateProjectModal()">Crear nuevo proyecto</button>
        </rf-call-to-action-item>
        <div class="row stack-sm">
          <div class="column-6 flex-display">
<!--            <rf-call-to-action-item title="Analyze" class="panel panel-off-white"> -->
            <rf-call-to-action-item title="Análisis" class="panel panel-off-white">
              <p class="pb-25">
		Usa análisis on-demand y aprovecha al máximo tus imágenes.
              </p>
              <button class="btn btn-default"
                      ui-sref="lab.browse.templates">
		Crear nuevo análisis
              </button>
              <div class="hide-sm"></div>
              <p>
                <a ui-sref="lab.browse.analyses">Explora tus análisis</a>
              </p>
            </rf-call-to-action-item>
          </div>
 <!--         <div class="column-6 flex-display">
            <rf-call-to-action-item title="Develop" class="panel panel-off-white">
              <p class="pb-25">
                Leverage {{$ctrl.BUILDCONFIG.APP_NAME}}'s powerful API to create your own imagery applications.
              </p>
              <a class="btn btn-default" ui-sref="user.settings.api-tokens({userId: 'me'})">Manage API Tokens</a>
              <div class="hide-sm"></div>
              <p>
                <a ng-href="{{$ctrl.HELPCONFIG.DEVELOPER_RESOURCES}}" target="_blank">Developer Resources</a>
                <br>
                <a ng-href="{{$ctrl.HELPCONFIG.API_DOCS_URL}}" target="_blank">API Documentation</a>
              </p>
            </rf-call-to-action-item>
          </div>
-->
        </div>
      </div>
      <div class="column spacer"></div>
      <div class="column">
        <div class="aside">
          <section>
            <h5>Cuenta</h5>
            <p>
<!--              Hola, <strong>{{$ctrl.authService.getName()}}</strong> -->
              Hola, <strong>{{$ctrl.userDisplayName}}</strong>
            </p>
            <a class="btn btn-light" ui-sref="user.settings.profile({userId: 'me'})">Administrar cuenta</a>
          </section>
<!--          <section class="aside-footer">
            <h5>Help</h5>
            <ul class="list-unstyled">
              <li><a ng-href="{{$ctrl.HELPCONFIG.HELP_HOME}}" target="_blank">Help Center</a></li>
            </ul>
          </section>
-->
        </div>
      </div>
    </div>
  </div>
</div>
