<div class="form-group search-form no-margin">
  <i class="icon-search input-icon"></i>
  <input id="search-input"
         class="form-control"
         autocomplete="off"
         ng-attr-placeholder="{{$ctrl.placeholder || 'Buscar'}}"
         ng-model="$ctrl.searchText"
         ng-model-options="{
           debounce: 500
         }"
         ng-disabled="$ctrl.disabled"
         ng-change="$ctrl.onSearch({value: $ctrl.searchText})"/>
  <button type="button" class="btn-link" ng-click="$ctrl.clearSearch()">
    <i class="icon-cross"></i>
  </button>
</div>
<div class="search-suggestions" ng-if="$ctrl.showSuggestions && $ctrl.suggestions.length && $ctrl.searchText">
  <div class="search-suggestion"
       ng-repeat="suggestion in $ctrl.suggestions"
       ng-click="$ctrl.handleSuggestionSelect(suggestion)"
  >
    <div class="avatar user-avatar image-placeholder" ng-if="$ctrl.showSuggestionAvatars && !suggestion.avatar"></div>
    <div ng-if="$ctrl.showSuggestionAvatars && suggestion.avatar">
      <img class="avatar user-avatar" ng-src="{{suggestion.avatar}}"/>
    </div>
    <div class="labels">
      <div>{{suggestion.label}}</div>
    </div>
  </div>
</div>
