<div class="container dashboard">
  <div class="row content stack-sm">
    <div class="column-8">
      <div class="dashboard-header">
        <h3>Imágenes</h3>
        <div class="flex-fill"></div>
        <select class="form-control"
                ng-model="$ctrl.currentOwnershipFilter"
        >
          <option value="owned">Mis imágenes</option>
          <option value="shared">Compartidas conmigo</option>
        </select>
        <a style="display: none;" class="btn btn-primary" ng-click="$ctrl.importModal()">
          Importar escenas
        </a>
      </div>
      <div class="alert alert-primary" ng-if="$ctrl.pendingImports && $ctrl.currentOwnershipFilter == 'owned'">
        <div class="alert-message">
          <ng-pluralize count="$ctrl.pendingImports"
                    when="{'one': '{} escena está',
                          'other': '{} escenas están'
                          }">
          </ng-pluralize> siendo procesadas
        </div>
      </div>
      <!-- Dashboard Header -->
      <!-- Imports list -->
      <rf-import-list
        platform="$ctrl.platform"
        ownership-type="$ctrl.currentOwnershipFilter"
      ></rf-import-list>
      <!-- Imports list -->
    </div>

    <div class="column spacer"></div>
    <div class="column">
      <div class="aside">
        <section>
	  <!--
          <h5>What are imports?</h5>
          <p class="font-size-small">
            Imports are scenes (stored in our repository) that have been ingested from your uploaded imagery or from external repositories.
          </p>
          <h5>What imagery sources am I limited to?</h5>
          <p class="font-size-small">
            {{$ctrl.BUILDCONFIG.APP_NAME}} can currently ingest multi or single band geotiffs.
          </p>
          <h5>What is a datasource?</h5>
          <p class="font-size-small">
            Datasources are how {{$ctrl.BUILDCONFIG.APP_NAME}} stores common information about scenes that share similar structure - typically metadata such as band information that is useful to carry across scenes.
            <ul class="list-unstyled">
              <li><a ui-sref="imports.datasources.list">View your datasources</a></li>
            </ul>
          </p>
-->
          <h5>¿Qué son las imágenes importadas?</h5>
          <p class="font-size-small">
            Son escenas (almacenadas en nuestrorepositorio) que han sido ingestadas a partir de tus imágenes subidas a ConidaCloud o de repositorios externos.
          </p>
          <h5>¿Qué fuentes de imágenes soporta el sistema?</h5>
          <p class="font-size-small">
            {{$ctrl.BUILDCONFIG.APP_NAME}} actualmente puede ingestar geotiffs de una o múltiples bandas.
          </p>
          <h5>¿Qué es una fuente de datos?</h5>
          <p class="font-size-small">
            Son la forma en que {{$ctrl.BUILDCONFIG.APP_NAME}} almacena información en común sobre escenas que comparten una estructura similar. Típicacmente metadata tal como información de bandas que es útil mantener entre escenas.
            <ul class="list-unstyled">
              <li><a ui-sref="imports.datasources.list">Ver tus fuentes de datos</a></li>
            </ul>
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
