<div class="container dashboard">
  <div class="row content stack-sm">
    <div class="column-8">
      <div class="dashboard-header">
        <h1 class="h3">Fuentes de datos</h1>
        <div class="flex-fill"></div>
        <rf-search on-search="$ctrl.fetchPage(1, value)"
                   value="$ctrl.search"
                   placeholder="Buscar fuentes de datos"
                   auto-focus="true">
        </rf-search>
	<!--
        <a class="btn btn-primary" ng-click="$ctrl.createDatasourceModal()">
          Nueva fuente de datos
        </a>
	-->
      </div>
      <!-- Dashboard Header -->
      <rf-pagination-count
          ng-if="$ctrl.datasources.length && !$ctrl.currentQuery"
          start-index="$ctrl.pagination.startingItem"
          end-index="$ctrl.pagination.endingItem"
          total="$ctrl.pagination.count"
          item-name="datasources">
        <span ng-if="$ctrl.search">buscando <strong>{{$ctrl.search}}</strong></span>
      </rf-pagination-count>

      <!-- Loading Indicator, show only when loading datasources-->
      <div class="text-center" ng-show="$ctrl.currentQuery">
        <div>Cargando fuentes de datos</div>
        <span class="list-placeholder h3">
          <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.currentQuery}"></i>
        </span>
      </div>
      <!-- Loading indicator -->

      <!-- Datasources empty state -->
      <div class="cta-row" ng-if="$ctrl.shouldShowPlaceholder()">
        <rf-call-to-action-item
          title="Aún no has creado fuentes de datos"
          class="panel panel-off-white">
          <div class="cta-flex-text">
<!--
            You can create a new datasource by linking {{$ctrl.BUILDCONFIG.APP_NAME}} with various kinds of imagery sources
            like your computer, Amazon S3 Buckets, DropBox, and many other sources.
-->
            Puedes crear una nueva fuente de datos enlazando {{$ctrl.BUILDCONFIG.APP_NAME}} con diferentes fuentes como tu
            computadora o buckets de Amazon S3.
          </div>
          <div class="cta-button-row">
            <a class="btn btn-primary">Crear una nueva fuentes de datos</a>
          </div>
          <div class="cta-text">
            <a>Empezando con fuentes de datos</a>
          </div>
        </rf-call-to-action-item>
        <rf-call-to-action-item
            ng-if="$ctrl.currentOwnershipFilter === 'shared'"
            title="No datasources have been shared with you yet"
            class="panel panel-off-white">
          <p class="pb-25">
            Once another user shares a datasource with you or with organizations or teams you're a part of, you'll be able to see it here.
          </p>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row" ng-show="$ctrl.shouldShowEmptySearch()">
        <rf-call-to-action-item
            title="No se encontraron fuentes de datos"
            class="panel panel-off-white">
          <div class="cta-flex-text">
            No se pudo encontrar fuentes de datos con "{{$ctrl.search}}".
          </div>
        </rf-call-to-action-item>
      </div>
      <div class="cta-row" ng-show="$ctrl.fetchError">
        <rf-call-to-action-item
            title="Ocurió un error cargando tus fuentes de datos."
            class="panel panel-off-white">
          <div class="cta-flex-text">
<!--
            Please refresh the page and try again.<br />
            If the problem persists, please contact {{$ctrl.BUILDCONFIG.APP_NAME}} support.
-->
            Por favor actualiza la página y vuelve a intentar.<br />
            Si el problema continúa ponte en contacto con el equipo de soporte.
          </div>
        </rf-call-to-action-item>
      </div>
      <!-- Datasources empty state -->

      <!-- Datasource List -->
      <div class="list-group" ng-if="!ctrl.currentQuery && $ctrl.datasources.length">
        <rf-datasource-item
          ng-repeat="datasource in $ctrl.datasources"
          datasource="datasource"
        >
        </rf-datasource-item>
      </div>
      <!-- Datasource List -->

      <!-- Datasource pagination -->
      <rf-pagination-controls
          ng-show="!$ctrl.fetchError"
          pagination="$ctrl.pagination"
          is-loading="$ctrl.currentQuery"
          on-change="$ctrl.fetchPage(value)"
      ></rf-pagination-controls>

      <!-- Placeholder, show only when loading is complete and no datasources were found-->
      <div class="cta-row" ng-if="$ctrl.shouldShowPlaceholder()">
        <rf-call-to-action-item title="Aún no has creado una fuente de datos">
          <div class="cta-flex-text">
            Puedes crear una nueva fuente de datos enlazando {{$ctrl.BUILDCONFIG.APP_NAME}} con diferentes fuentes como tu
            computadora o buckets de Amazon S3.
          </div>
          <div class="cta-button-row">
            <a class="btn btn-primary">Crear una nueva fuente fuente de datos</a>
          </div>
          <div class="cta-text">
            <a>Empezando con fuentes de datos</a>
          </div>
        </rf-call-to-action-item>
      </div>

    </div>
    <div class="column spacer"></div>
    <div class="column">
      <div class="aside">
        <section>
          <h5>¿Qué es una fuente de datos?</h5>
          <p>
<!--
            Datasources contain information that is common to imagery that comes from a set of published imagery. Right now we store
            sets of band selections for common visualizations on them.
-->
            Las fuentes de datos contienen información general sobre imágenes que vienen de un conjunto publicado. Por ahora guardamos
            conjuntos de selecciones de bandas para vistas comunes sobre ellas.
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
