<div class="modal-body">
  <div class="content datepicker-row">
    <date-range-picker
        api="$ctrl.pickerApi"
        range="$ctrl._range"
        ng-click="$ctrl.onCalendarClick()">
    </date-range-picker>
    <div class="datepicker-ranges">
      <h5 class="text-center preset-header">Filtro por fecha</h5>
      <button
        class="btn btn-range"
        ng-repeat="range in $ctrl.ranges"
        ng-class="{'btn-primary': $ctrl.isActivePreset(range, $index), 'disabled': range.disabled}"
        ng-click="$ctrl.onPresetSelect(range, $index)">
        {{range.name}}
      </button>
    </div>
  </div>
  <div class="content color-danger" ng-if="!$ctrl.isRangeValid">
    El rango es inválido.
  </div>
  <div
    class="content color-danger"
    ng-if="$ctrl.isInvalidStartFormat || $ctrl.isInvalidEndFormat">
    El formato de fecha es inválido. Por favor usa MM-DD-AAAA.
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn pull-left"
          ng-click="$ctrl.cancel()">
    Cancelar
  </button>
  <button
    type="button"
    class="btn btn-primary"
    ng-click="$ctrl.apply()"
    ng-disabled="!$ctrl.isRangeValid || $ctrl.isInvalidStartFormat || $ctrl.isInvalidEndFormat">
    Aplicar
  </button>
</div>
