<rf-pagination-count
    ng-if="$ctrl.pagination.count"
    start-index="$ctrl.pagination.startingItem"
    end-index="$ctrl.pagination.endingItem"
    total="$ctrl.pagination.count"
    item-name="rasters">
</rf-pagination-count>
<div class="text-center" ng-show="$ctrl.loading">
  <div>Cargando importaciones</div>
  <span class="list-placeholder h3">
    <i class="icon-load animate-spin" ng-class="{'stop': !$ctrl.loading}"></i>
  </span>
</div>
<div class="list-group">
  <rf-scene-item
      previewable
      scene="scene"
      repository="$ctrl.repository"
      ng-repeat="scene in $ctrl.importList track by scene.id">
    <rf-item-action-buttons class="btn-group"
                            actions="$ctrl.sceneActions"
                            item="scene"
    >
    </rf-item-action-buttons>
  </rf-scene-item>
</div>
<div class="list-group text-center">
  <rf-pagination-controls
    pagination="$ctrl.pagination"
    is-loading="$ctrl.currentQuery"
    on-change="$ctrl.populateImportList(value)"
    ng-show="$ctrl.shouldShowImportList()"
  ></rf-pagination-controls>
</div>

<!-- No imports placeholder -->
<div ng-if="$ctrl.shouldShowImportBox()">
  <rf-call-to-action-item
    ng-if="$ctrl.ownershipType == 'owned'"
    title="Aún no has importado escenas"
    class="panel panel-off-white">
    <p class="pb-25">
      Cada escena que importes será mostrada aquí. Después de que hayas importado una o más escenas,
      puedes volver a esta página para verlas.
    </p>

    <a class="btn btn-primary" ng-click="$ctrl.importModal()">Importar escenas</a>
    <p>
      <a>Empezando con importaciones</a>
    </p>
  </rf-call-to-action-item>
  <rf-call-to-action-item
    ng-if="$ctrl.ownershipType == 'shared'"
    title="No te han compartido ningún raster aún"
    class="panel panel-off-white">
    <p class="pb-25">
      Una vez que otro usuario comparta datos contigo podrás verlos aquí.
    </p>
  </rf-call-to-action-item>
</div>
<!-- No imports placeholder -->

<div class="list-group" ng-if="$ctrl.errorMsg">
  <span class="list-placeholder">
    {{$ctrl.errorMsg}}
    <a href ng-click="$ctrl.populateImportList(1)">Reintentar</a>
  </span>
</div>
