<div class="modal-scrollable-body">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Cerrar" ng-click="$ctrl.handleClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" ng-if="!$ctrl.resolve.project">
      Crear figura
    </h4>
  </div>

  <!-- Body for SELECT_FILE -->
  <div class="modal-body">
    <div class="content">
      <h4>Nombre de la figura</h4>
      <form ng-submit="$ctrl.handleSave()">
        <input type="text" class="form-control" ng-model="$ctrl.shapeName" autofocus>
      </form>
    </div>
  </div>

  <!--Default Footer-->
  <div class="modal-footer">
    <button type="button" class="btn pull-left"
            ng-click="$ctrl.handleCancel()">
      Cancelar
    </button>

    <div class="color-danger" ng-if="$ctrl.error">Ocurrió un error al guardar la figura.</div>

    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.handleSave()"
            ng-disabled="!$ctrl.shapeName.length"
    >
      Guardar
    </button>
  </div>
</div>
