<div class="vertical-modal">
  <div class="header">
    <div class="header-title">
      Añadir usuario
    </div>
    <span
        class="modal-close icon-cross"
        ng-click="$ctrl.dismiss()"
    ></span>
  </div>
  <div class="modal-body">
    <form name="$ctrl.form" class="form-group">
      <label>
        Nombre
        <input
            type="text"
            class="form-control"
            name="name"
            ng-model="name"
        >
      </label>
      <label>
        Email
        <input
            type="email"
            class="form-control"
            name="email"
            ng-model="email">
      </label>
      <label>
        Rol
        <select
            class="form-control"
            name="role"
            ng-model="role"
        >
          <option value="manager">Administradores</option>
          <option value="Uploader">Uploader</option>
          <option value="viewer">Lectores</option>
        </select>
      </label>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" ng-click="$ctrl.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.onAdd()">Añadir</button>
  </div>
</div>

