<div class="navbar secondary-navbar">
  <div class="navbar-section">
    <nav>
    <a ui-sref="projects.edit.scenes"
       ng-class="{
              active: ('projects.edit.scenes' | includedByState) ||
                      ('projects.edit.browse' | includedByState)
              }"
       data-title="Scenes">
      <i class="icon-project"></i>
      <span>Escenas</span>
    </a>
    <a ui-sref="projects.edit.colormode"
       ng-class="{
         active: ('projects.edit.colormode' | includedByState) ||
                 ('projects.edit.advancedcolor' | includedByState)
       }"
       data-title="Color mode">
      <i class="icon-color-correct"></i>
      <span>Color</span>
    </a>
    <a ui-sref="projects.edit.annotate"
       ui-sref-active="active"
       data-title="Annotations">
      <i class="icon-polygon"></i>
      <span>Anotaciones</span>
    </a>
    <a ui-sref="projects.edit.exports"
       ui-sref-active="active"
       data-title="Exports">
      <i class="icon-download"></i>
      <span>Exportar</span>
    </a>
    <a ui-sref="projects.edit.sharing"
       ui-sref-active="active"
       data-title="Share">
      <i class="icon-share"></i>
      <span>Publicar</span>
    </a>
    <a href
       ng-click="$ctrl.openShareModal()"
       data-title="Share"
       ng-if="$ctrl.permissions && $ctrl.permissions.length">
      <i class="icon-key"></i>
      <span>Permisos</span>
    </a>
    </nav>
  </div>
</div>
<div class="container column-stretch container-not-scrollable">
  <div class="sidebar" ui-view>
  </div>

  <!-- Main map area -->
  <div class="main">
    <rf-map-container map-id="edit"
                      initial-center="$ctrl.initialCenter"
                      initial-zoom="$ctrl.initialZoom"
    ></rf-map-container>
  </div>
  <!-- Main map area -->
</div>
