<div class="modal-scrollable-body modal-sidebar-header">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$ctrl.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      New Layer
    </h4>
    <p>Group imagery together</p>
  </div>

  <div class="modal-body">
    <div class="modal-inner-container small">
      <div class="content">
        <div ng-if="$ctrl.isCreatingLayerError">
          <h5 class="error color-danger">There was an error creating this project layer.</h5>
          <button type="button"
                  class="btn btn-primary"
                  ng-click="$ctrl.resetModal()">
            Try again
          </button>
        </div>
        <form name="projectLayerCreate" autocomplete="off" ng-if="!$ctrl.isCreatingLayerError">
          <h5 class="modal-content-header-thin">
            Layer name
            <span class="error color-danger" ng-show="projectLayerCreate.layerName.$error.required">
              (required)
            </span>
          </h5>
          <div class="form-group all-in-one">
            <input class="form-control"
                   id="layerName"
                   name="layerName"
                   type="text"
                   placeholder="My custom layer name"
                   ng-model="$ctrl.projectLayerCreateBuffer.name"
                   required>
          </div>
          <h5 class="modal-content-header-thin">Color</h5>
          <div class="form-group all-in-one">
            <input class="form-control color-picker"
                   type="color"
                   id="color"
                   ng-init="$ctrl.projectLayerCreateBuffer.colorGroupHex"
                   ng-model="$ctrl.projectLayerCreateBuffer.colorGroupHex">
          </div>
          <h5 class="modal-content-header-thin">Layer type</h5>
          <div class="form-group all-in-one">
            <select class="form-control">
              <option value="standard">Standard layer</option>
              <option value="smart" ng-if="$ctrl.showSmartLayerOption">Smart layer</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="footer-section left">
      <button type="button"
              class="btn"
              ng-disabled="$ctrl.isCreatingLayer"
              ng-click="$ctrl.dismiss()">
        Close
      </button>
    </div>
    <div class="footer-section right">
      <button type="button"
              class="btn btn-primary"
              ng-click="$ctrl.createProjectLayer()"
              ng-disabled="$ctrl.isCreateDisabled()">
        Create
      </button>
    </div>
  </div>
</div>
