<div>
    <div class="leaflet-popup-label m-popup-title">Medida de {{$ctrl.measurementType}}</div>
    <hr>
    <div class="leaflet-popup-label measurement-result">
      <span class="m-popup-number">
        {{ $ctrl.calculatedMeasurment | number }}
      </span>
      {{$ctrl.unit}}
      <button type="button"
              class="btn btn-tiny"
              ng-show="$ctrl.unitType === 'metric'"
              ng-click="$ctrl.toggleUnits()">
        a imperial
      </button>
      <button type="button"
              class="btn btn-tiny"
              ng-show="$ctrl.unitType === 'imperial'"
              ng-click="$ctrl.toggleUnits()">
        a métrico
      </button>
    </div>
    <button type="button"
            class="btn btn-tiny btn-block"
            ng-click="$ctrl.delete()">
      Eliminar
    </button>
</div>
