// Brand Colors:
$brand-primary: #677998 !default;   // purple
$brand-secondary: #1892B7 !default; // green
$brand-tertiary: #CDC6B9 !default;  // blue

// Base Colors:
$shade-light: #959CAC !default;  // slightly lighter then $text-base
$shade-normal: #465076 !default; // deep purple
$shade-dark: #353C58 !default;   // deepdeep purple
$text-base: $shade-dark !default;

// grays:
$gray: #38394f !default;
$gray-light: lighten($gray, 10%) !default; //#4d4f6d
$gray-lighter: lighten($gray, 25%) !default; //#8c8dad
$gray-lightest: #ddd !default;
$gray-dark: darken($gray, 2%) !default; //#343549
$gray-darker: #1b1c31 !default;
$link-color: $brand-primary !default;

// whites
$white: #fff !default;
$off-white: #F4F5F7 !default;

// Action Colors:
$warning: #E69348 !default; // orange
$danger: #f03333 !default;  // pinkish-red

$green: #81C784 !default;
$yellow: #FFCA28 !default;
$red: #f03333 !default;

$node-blue: #388bba !default;
$node-green: #a9ce21 !default;
