<rf-diagram-node-header
    node-id="$ctrl.nodeId"
    ng-class="{'readonly': $ctrl.readonly}"
>
</rf-diagram-node-header>
<div class="node-actions">
  <div class="node-button-group" ng-if="!$ctrl.readonly">
    <button class="btn node-button" type="button"
            ng-if="$ctrl.model.get('cellType') !== 'const' && !$ctrl.analysisErrors.size"
            ng-disabled="$ctrl.preventSelecting"
            ng-click="$ctrl.preview()">
      <span class="icon-map"></span>
    </button>
    <button class="btn node-button" type="button"
            ng-if="!$ctrl.analysisErrors.size &&
                   $ctrl.model.get('cellType') !== 'const'"
            ng-class="{'active': $ctrl.currentView === 'HISTOGRAM'}"
            ng-click="$ctrl.toggleHistogram()">
      <span class="icon-histogram"></span>
    </button>
    <button class="btn node-button" type="button"
            ng-if="!$ctrl.analysisErrors.size &&
                   $ctrl.model.get('cellType') !== 'const'"
            ng-class="{'active': $ctrl.currentView === 'STATISTICS'}"
            ng-click="$ctrl.toggleStatistics()">
      Estadísticas
    </button>
    <button class="btn node-button" type="button"
            ng-if="$ctrl.enableSharing && !$ctrl.toolErrors.size &&
                   $ctrl.model.get('cellType') !== 'const'"
            ng-click="$ctrl.onNodeShare()">
        <span class="icon-share"></span>
    </button>
    <button class="btn node-button" type="button"
            ng-click="$ctrl.toggleCollapse()">
      <span ng-class="{'icon-caret-up': $ctrl.showBody,
                      'icon-caret-down': !$ctrl.showBody}"></span>
    </button>
  </div>
</div>
<rf-input-node
    ng-if="$ctrl.ifCellType('projectSrc')"
    ng-show="$ctrl.showCellBody()"
    data-node-id="$ctrl.nodeId"
    data-model="$ctrl.model"
></rf-input-node>
<rf-operation-node
    ng-if="$ctrl.ifCellType('function')"
    data-node-id="$ctrl.nodeId"
    ng-show="$ctrl.showCellBody()"
></rf-operation-node>
<rf-constant-node
    ng-if="$ctrl.ifCellType('const')"
    ng-show="$ctrl.showCellBody()"
    data-node-id="$ctrl.nodeId"
></rf-constant-node>
<rf-classify-node
    ng-if="$ctrl.ifCellType('classify') && !$ctrl.readonly"
    ng-show="$ctrl.showCellBody()"
    data-node-id="$ctrl.nodeId"
></rf-classify-node>
<rf-node-histogram
    ng-if="$ctrl.currentView === 'HISTOGRAM' && !$ctrl.isCollapsed"
    data-node-id="$ctrl.nodeId"
></rf-node-histogram>
<rf-node-statistics
    ng-if="$ctrl.currentView === 'STATISTICS' && !isCollapsed"
    data-node-id="$ctrl.nodeId"
></rf-node-statistics>
