<div class="flex-column" ui-view>
  <rf-annotate-toolbar map-id="edit"
                       bulk-mode="$ctrl.bulkTemplate"
                       on-drawing-canceled="$ctrl.onBulkCreateFinish()"
                       on-shape-creating="$ctrl.onShapeCreating(isCreating)"
                       on-shape-created="$ctrl.onShapeCreated(shapeLayer)">
  </rf-annotate-toolbar>
  <div class="sidebar-static">
    <div class="sidebar-header">
      <h5 class="sidebar-title">Annotaciones</h5>
      <div class="header-controls">
        <div uib-dropdown class="dropdown">
          <button class="btn btn-tiny btn-ghost" uib-dropdown-toggle>
            <i class="icon-menu"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-light dropdown-menu-right" uib-dropdown-menu role="menu">
            <li >
              <a ui-sref="projects.edit.annotate.import">Importar</a>
            </li>
            <li >
              <a ui-sref="projects.edit.annotate.export">Exportar</a>
            </li>
            <li >
              <a ng-click="$ctrl.showHotkeyTips()">Atajos</a>
            </li>
            <li class="divider">
            </li>
            <li>
              <a class="color-danger" ng-click="$ctrl.onClearAnnotation()">Eliminar todas las anotaciones</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="list-group">
      <div class="list-group-item sidebar-actions-group">
        <div class="label" for="annotate-filter">Filtrar por etiqueta</div>
        <div class="fixedwidth">
          <select class="form-control"
                  id="annotate-filter"
                  ng-init="$ctrl.filterLabel = {'name': 'All'}"
                  ng-model="$ctrl.filterLabel"
                  ng-change="$ctrl.onFilterChange($ctrl.filterLabel)"
                  ng-options="label.name for label in $ctrl.labels track by label.name"
                  ng-disabled="$ctrl.editingAnnotation || $ctrl.sidebarDisabled">
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar-scrollable no-annotation">
      <div class="content"
          ng-if="$ctrl.annotationTemplate">
       <div class="alert alert-default">
         <p class="">Ahora estás en modo crear en masa</p>
         <div class="text-center">
           <button class="btn btn-primary" ng-click="$ctrl.finishBulkCreate()">Terminar</button>
         </div>
       </div>
     </div>
    <div class="content"
         ng-if="!$ctrl.annotations.size &&
                !$ctrl.fetchingAnnotations &&
                !$ctrl.fetchingAnnotationsError">
      <div class="alert alert-default">
        <p class="">No existen anotaciones</p>
      </div>
    </div>
    <div class="content"
         ng-if="$ctrl.fetchingAnnotationsError">
      <div class="alert alert-warning">
        <div class="alert-message">Ocurrió un error al cargar tus anotaciones</div>
        <button class="alert-action"
                ng-click="$ctrl.retryFetches()"
        >
          Reintentar
        </button>
      </div>
    </div>
    <div class="content"
         ng-if="$ctrl.creatingAnnotationsError">
      <div class="alert alert-warning">
        <div class="alert-message">Ocurrió un error al cargar tus anotaciones</div>
      </div>
    </div>
    <div class="content"
         ng-if="$ctrl.fetchingAnnotations"
    >
      <div class="alert alert-default">
        <p class="">Cargando anotaciones
          <span class="icon-load animate-spin" ng-class="{'stop': !$ctrl.fetchingAnnotations}"></span>
        </p>
      </div>
    </div>
    <div class="content"
         ng-if="$ctrl.creatingAnnotations"
    >
      <div class="alert alert-default">
        <p>Creando anotaciones
          <span class="icon-load animate-spin"></span>
        </p>
      </div>
    </div>
    <div class="list-group selectable"
         ng-if="$ctrl.visibleAnnotations.length">
        <rf-annotate-sidebar-item ng-repeat="annotation in $ctrl.visibleAnnotations"
                                  ng-attr-id="{{'anchor' + annotation.id}}"
                                  ng-click="$ctrl.doPanToAnnotation(annotation)"
                                  annotation-id="annotation.id"
        ></rf-annotate-sidebar-item>

      </div>
  </div>
</div>
